<%= form_for @attendance_record_amendment do |f| %>
  <%= render 'layouts/errors', object: @attendance_record_amendment %>
  <div class="form-group">
    <%= f.label :student_id %>
    <%= f.collection_select :student_id, @course.students.order(:name), :id, :name, {}, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :date %>
    <%= f.text_field :date, class: 'custom-datepicker form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, options_for_select(["On time", "Tardy", "Left early", "Absent", "Tardy and Left early"]), {}, { class: "form-control" } %>
  </div>
  <%= f.submit "Submit", class: 'btn btn-info' %>
<% end %>
