<h1>Amend student attendance record</h1>

<div class="row">
  <div class="span8 offset2">

    <%= form_for @attendance_record_amendment do |f| %>
      <%= render 'layouts/errors', object: @attendance_record_amendment %>
      <div class="row">
        <div class="span8">
          <% if @student %>
            <%= f.label :student_id %>
            <%= f.collection_select :student_id, current_cohort.students, :id, :name, { prompt: @student.name, selected: @student.id }, { class: "span8" } %>
          <% else %>
            <%= f.label :student_id %>
            <%= f.collection_select :student_id, current_cohort.students, :id, :name, {}, { class: "span8" } %>
          <% end %>
        </div>
        <div class="span4">
          <% if @day %>
            <%= f.label :date %>
            <%= f.text_field :date, value: @day, class: 'datepicker span4' %>
          <% else %>
            <%= f.label :date %>
            <%= f.text_field :date, class: 'datepicker span4' %>
          <% end %>
        </div>
        <div class="span4">
          <%= f.label :status %>
          <%= f.select :status, options_for_select(["On time", "Tardy", "Left early", "Absent"]), {}, { class: "span4" } %>
        </div>
      </div>

      <div class="row">
        <div class="span8">
          <%= f.submit "Submit", class: 'btn btn-primary pull-right' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
