<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#<%= assessment.id %>home" role="tab" data-toggle="tab"><%= assessment.title %></a></li>
  <li><a href="#<%= assessment.id %>requirements" role="tab" data-toggle="tab">Requirements</a></li>
  <li><a href="#<%= assessment.id %>submit" role="tab" data-toggle="tab">Submit</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="<%= assessment.id %>home"></div>
  <div class="tab-pane" id="<%= assessment.id %>requirements">
    <ul>
      <% assessment.requirements.each do |requirement| %>
        <li><%= requirement.content %></li>
      <% end %>
    </ul>
  </div>
  <div class="tab-pane" id="<%= assessment.id %>submit">
    <%= render 'submissions/form', :assessment => assessment %>
  </div>
</div>


<% if false %>
  <%= link_to assessment_url(assessment), class: "list-group-item" do %>
    <h2 class="list-group-item-heading"><%= assessment.title %></h2>
  <% end %>
    <p class="list-group-item-text"><%= assessment.section %></p>
<% end %>
<hr>
