<% if current_user.admin? %>
  <dl>
    <dt><%= link_to "#{assessment.title}", assessment %> | <%= link_to "Edit", edit_assessment_path(assessment) %></dt>
    <dd>Ungraded: <%= assessment.submissions.count %></dd>
    <dd>Graded: <%= assessment.submissions.count %></dd>
  </dl>
<% else %>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#<%= assessment.id %>home" role="tab" data-toggle="tab"><%= assessment.title %></a></li>
    <li><a href="#<%= assessment.id %>requirements" role="tab" data-toggle="tab">Requirements</a></li>
    <li><a href="#<%= assessment.id %>submit" role="tab" data-toggle="tab">Submit</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="<%= assessment.id %>home"></div>
    <div class="tab-pane" id="<%= assessment.id %>requirements">
      <ul>
        <% assessment.requirements.each do |requirement| %>
          <li><%= requirement.content %></li>
        <% end %>
      </ul>
    </div>
    <div class="tab-pane" id="<%= assessment.id %>submit">
        <%= render 'submissions/form', :assessment => assessment %>
    </div>
  </div>
<% end %>
