<% @edit_assessment_page = true %>
<h2>Edit <%= @assessment.title %> (<%= @assessment.section %>)</h2>

<%= render 'form' %>

<h3>Requirements</h3>

<%= link_to "New Requirement", new_assessment_requirement_path(@assessment), remote: true, id: "new_requirement_link", class: "btn btn-info" %>

<div id="requirements_list">
  <%= render @assessment.requirements %>
</div>
