<h1><%= @assessment.title %></h1>
<h2><%= @assessment.section %></h2>
<h3><%= link_to "View LHTP Page", @assessment.url %></h3>
<h3>Requirements</h3>

<div id="requirements_list">
  <%= render @assessment.requirements %>
</div>

<%= link_to "New Requirement", new_assessment_requirement_path(@assessment), remote: true, id: "new_requirement_link", class: "btn btn-info" %>

<% if can? :update, @assessment %>
  <ul>
    <li><%= link_to "Edit Assessment", edit_assessment_path(@assessment), class: "btn btn-info" %></li>
    <li><%= link_to "Delete Assessment", assessment_path(@assessment), data: {confirm: "You sure?", method: "delete"}, class: "btn btn-danger" %></li>
  </ul>
<% end %>
