<h2><%= @assessment.title %> (<%= @assessment.section %>)</h2>
<hr>
<% if current_user.admin? %>
<%= link_to "Edit Assessment", edit_assessment_path(@assessment), class: "btn btn-info" %>
<%= link_to "Delete", assessment_path(@assessment), class: "btn btn-danger", data: {confirm: "You sure?", method: "delete"} %>
<% end %>
<h3>Description</h3>
<p>Crucifix kale chips quinoa, master cleanse 90's roof party street art four loko messenger bag trust fund photo booth.</p>
<h3>Requirements</h3>

<div>
  <%= render @assessment.requirements %>
</div>

<% if current_user.admin? %>
  <h3>Ungraded</h3>
  <ul>
    <%= render @assessment.submissions %>
  </ul>
<% end %>
