<h1><%= @assessment.title %></h1>
<ul>
  <%= render @assessment.requirements %>
</ul>
<%= form_for @submission, url: assessment_submission_path(@assessment) do |f| %>
  <%= render 'layouts/errors', object: @submission %>
  <div class="input-append">
    <%= f.text_field :link, class: 'span6' %>
    <%= f.submit 'Submit', class: 'btn btn-default span2' %>
  </div>
<% end %>
