<h1><%= @assessment.title %></h1>
<h2><%= @assessment.section %></h2>
<h3><%= link_to "View Lesson", @assessment.url %></h3>

<ul>
  <li><%= link_to "Edit Assessment", edit_assessment_path(@assessment), class: "btn btn-info" %></li>
  <li><%= link_to "Delete Assessment", assessment_path(@assessment), data: {confirm: "You sure?", method: "delete"}, class: "btn btn-danger" %></li>
</ul>
