<h1 class="text-center">Welcome to Epicodus!</h1>

<div class="text-center" id="morning-questions">
  <p>Morning questions for <%= Time.zone.now.to_date.strftime("%A, %B %d, %Y") %></p>
  <p>1. How are you feeling about the content from last night's homework?</p>
  <p>2. How long do you like to work on a challenge before asking classmates or an instructor?</p>
  <p>3. Do you like to follow the course material closely or experiment with related concepts?</p>
  <p>4. What's your biggest challenge with pairing?</p>  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= link_to 'Continue', '#', class: 'btn btn-success btn-lg btn-block', id: 'welcome-continue' %>
  </div>
</div>

<div class="row" id="welcome-links">
  <div class="col-md-4 col-md-offset-4">
    <% if current_student %>
      <%= link_to 'Epicenter', student_courses_path(current_student), target: '_blank', class: 'btn btn-info btn-lg btn-block' %>
    <% else %>
      <%= link_to 'Epicenter', root_path, target: '_blank', class: 'btn btn-info btn-lg btn-block' %>
    <% end %>
    <%= link_to 'Queue', @queue_url, target: '_blank', class: 'btn btn-success btn-lg btn-block' %>
    <%= link_to 'Learn how to program', 'https://learnhowtoprogram.com/courses', target: '_blank', class: 'btn btn-primary btn-lg btn-block' %>
    <%= link_to 'Attendance sign out', sign_out_path, target: '_blank', class: 'btn btn-default btn-lg btn-block' %>
  </div>
</div>
