<h1 class="text-center">Welcome to Epicodus!</h1>

<hr>

<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <% if current_student %>
      <%= link_to 'Epicenter', student_courses_path(current_student), target: '_blank', class: 'btn btn-info btn-lg btn-block' %>
    <% else %>
      <%= link_to 'Epicenter', root_path, target: '_blank', class: 'btn btn-info btn-lg btn-block' %>
    <% end %>
    <%= link_to 'Queue', 'https://help.epicodus.com', target: '_blank', class: 'btn btn-success btn-lg btn-block' %>
    <%= link_to 'Learn How to Program', 'https://learnhowtoprogram.com/courses', target: '_blank', class: 'btn btn-primary btn-lg btn-block' %>
    <%= link_to 'Attendance Sign Out', sign_out_path, target: '_blank', class: 'btn btn-default btn-lg btn-block' %>
  </div>
</div>
