<h1>Attendance for <%= day_value.strftime("%A %B %d, %Y") %></h1>
<div class="panel panel-default">
  <div class="panel-body">
    <h4><%= @course.description %></h4>
    <h4><%= @course.teacher %></h4>

    <div class="form-group">
      <%= form_for :attendance_records, url: course_day_attendance_records_path(@course), html: { method: :post } do |f| %>
        <div class="row">
          <div class="col-md-4">
            <div class="input-group">
              <%= f.select :day, options_for_select(formatted_class_days, selected: day_value), {}, { class: 'form-control' } %>
              <span class="input-group-btn">
                <%= f.submit 'Change day', class: 'btn btn-info' %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="table-responsive">
      <table class="table table-hover datatable">
        <thead>
          <tr>
            <th>Student</th>
            <th>Status</th>
            <th>Signed in</th>
            <th>Signed out</th>
            <th>Pair</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @course.students.each do |student| %>
            <tr>
              <td class="col-md-3"><%= link_to student.name, course_student_path(@course, student) %></td>
              <td class="col-md-2">
                <% if !student.attendance_record_on_day(@day) %>
                  <span class="label label-primary">Absent</span>
                <% elsif student.attendance_record_on_day(@day).tardy && student.attendance_record_on_day(@day).left_early %>
                  <span class="label label-danger">Tardy</span>
                  <span class="label label-danger">Left early</span>
                <% elsif student.attendance_record_on_day(@day).tardy %>
                  <span class="label label-danger">Tardy</span>
                <% elsif student.attendance_record_on_day(@day).left_early %>
                  <span class="label label-danger">Left early</span>
                <% else %>
                  <span class="label label-success">On time</span>
                <% end %>
              </td>
              <td><%= student.attendance_record_on_day(@day).try(:created_at).try(:strftime, '%l:%M %p') %></td>
              <td><%= student.attendance_record_on_day(@day).try(:signed_out_time).try(:strftime, '%l:%M %p') %></td>
              <td><%= student.pair_on_day(@day) ? student.pair_on_day(@day).name : 'Solo' %></td>
              <td class="edit-attendance">
                <% if current_admin && can?(:manage, AttendanceRecord) %>
                  <%= link_to 'Edit', new_attendance_record_amendment_path(course: @course, student: student, day: @day) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
