<%= form_for cohort do |f| %>
  <%= render 'layouts/errors', object: cohort %>

  <div class="row">
    <div class="span12">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'span12' %>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <%= f.label :start_date %>
      <%= f.text_field :start_date, class: 'datepicker span6' %>
    </div>

    <div class="span6">
      <%= f.label :end_date %>
      <%= f.text_field :end_date, class: 'datepicker span6' %>
    </div>
  </div>

  <% unless cohort.persisted? %>
    <div class="row">
      <div class="span4">
        <%= f.label :importing_cohort_id, 'Import code reviews from previous cohort' %>
        <%= f.collection_select :importing_cohort_id, Cohort.all, :id, :description, { :include_blank => "Do not import any assessment" }, class: 'span4' %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="span4 btn-group">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to "Delete", cohort_path(cohort), data: { method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-danger' if cohort.persisted? %>
    </div>
  </div>
<% end %>
