<% content_for :title, 'Cohorts' %>
<h1>
  Cohorts
  <%= link_to 'New', new_cohort_path %>
</h1>

<div class="row">
  <div class="col-xs-2">
    <ul class="nav nav-pills nav-stacked side-nav">
      <%= set_nav_link_class(:all) do %>
        <%= link_to 'All', cohorts_path(all: true) %>
      <% end %>

      <%= set_nav_link_class(:future) do %>
        <%= link_to 'Future', cohorts_path(future: true) %>
      <% end %>

      <%= set_nav_link_class(:current) do %>
        <%= link_to 'Current', cohorts_path(current: true) %>
      <% end %>

      <%= set_nav_link_class(:previous) do %>
        <%= link_to 'Previous', cohorts_path(previous: true) %>
      <% end %>
    </ul>
  </div>

  <div class="col-xs-10">
    <% if params[:future] %>
      <%= render 'cohort_list', cohorts: @cohorts.future_cohorts %>
    <% elsif params[:current] %>
      <%= render 'cohort_list', cohorts: @cohorts.current_cohorts %>
    <% elsif params[:previous] %>
      <%= render 'cohort_list', cohorts: @cohorts.previous_cohorts %>
    <% else %>
      <%= render 'cohort_list', cohorts: @cohorts %>
    <% end %>
  </div>
