<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">Transcript for Epicodus</h1>
    <p class="text-center"><em><strong>Web and Mobile Development</strong></em></p>
    <p class="text-center">400 SW 6th Ave, Suite 800, Portland OR 97204</p>
    <p>Student: <strong><%= current_student.name %></strong></p>
    <p>Dates Enrolled: <%= current_student.courses.first.start_date.strftime('%B %d, %Y') %> - <%= current_student.courses.last.end_date.strftime('%B %d, %Y') %></p>

    <p>Courses:</p>
    <ul>
      <% current_student.courses.order(:start_date).each do |course| %>
      <li>
        <%= course.description %>
        <ul>
          <% course.code_reviews.each do |code_review| %>
          <li>
            <%= code_review.title %>: <em><%= code_review.status(current_student) %></em>
          </li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>

    <p>Attendance:</p>
    <ul>
      <li>Present: <%= number_to_percentage(current_student.attendance_percentage_for(:on_time), precision: 0) %></li>
      <li>Tardy: <%= number_to_percentage(current_student.attendance_percentage_for(:tardy), precision: 0) %></li>
      <li>Left early: <%= number_to_percentage(current_student.attendance_percentage_for(:left_early), precision: 0) %></li>
      <li>Absent: <%= number_to_percentage(current_student.attendance_percentage_for(:absent), precision: 0) %></li>
    </ul>
    <p><%= image_tag "signature.png" %></p>
    <p><strong>Michael Kaiser-Nyman, President</strong></p>
    <p>Date: <%= current_student.courses.last.end_date.strftime('%B %d, %Y') %></p>
    <br>
    <p>Epicodus maintains student transcripts for 50 years.</p>
  </div>
</div>
