<%= f.fields_for 'internships_attributes[]', resource.internships.first_or_initialize do |ff| %>
  <div class='form-group'>
    <%= ff.label :name, '* Company name' %>
    <%= ff.text_field :name, autofocus: true, required: true, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= ff.label :description, '* Describe your company and internship. Get students excited about what you do!' %>
    <%= ff.text_area :description, rows: 8, required: true, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= ff.label :website, '* Website' %>
    <%= ff.text_field :website, required: true, class: 'form-control' %>
  </div>

  <div class="form-group" id="course-multiselect">
    <%= ff.label :course_ids, "* Choose which internship period(s) you'd like to participate in." %>
    <br>
    <%= ff.collection_select :course_ids, Course.active_internship_courses.available_internship_courses.current_and_future_courses, :id, :description_and_office, {}, { class: 'multiselect-dropdown', multiple: true, include_hidden: false, required: true } %>
  </div>

  <div class='form-group'>
    <%= ff.label :number_of_students, "* Number of students that you'd like to work with." %>
    <div class="radio">
      <%= ff.label :number_of_students do %>
        <%= ff.radio_button :number_of_students, 2, required: true %> 2-3
      <% end %>
    </div>

    <div class="radio">
      <%= ff.label :number_of_students do %>
        <%= ff.radio_button :number_of_students, 4 %> 4-5
      <% end %>
    </div>

    <div class="radio">
      <%= ff.label :number_of_students do %>
        <%= ff.radio_button :number_of_students, 6 %> 6+
      <% end %>
    </div>
  </div>

  <div class='form-group'>
    <%= ff.label :location, "* Will the students be working on-site or remotely?" %>
    <div class="radio">
      <%= ff.label :location do %>
        <%= ff.radio_button :location, 'onsite' %> on-site
      <% end %>
    </div>

    <div class="radio">
      <%= ff.label :location do %>
        <%= ff.radio_button :location, 'remote' %> remote
      <% end %>
    </div>

    <div class="radio">
      <%= ff.label :location do %>
        <%= ff.radio_button :location, 'either' %> open to on-site and remote
      <% end %>
    </div>
  </div>

  <div class='form-group'>
    <%= ff.label :hiring, "* Do you intend to hire after the internship ends?" %>
    <div class="radio">
      <%= ff.label :hiring do %>
        <%= ff.radio_button :hiring, 'yes' %> yes
      <% end %>
    </div>
    <div class="radio">
      <%= ff.label :hiring do %>
        <%= ff.radio_button :hiring, 'no' %> no
      <% end %>
    </div>
    <div class="radio">
      <%= ff.label :hiring do %>
        <%= ff.radio_button :hiring, 'maybe' %> maybe
      <% end %>
    </div>
  </div>

  <div class='form-group'>
    <%= ff.label :ideal_intern, '* Describe your ideal intern.' %>
    <%= ff.text_area :ideal_intern, rows: 8, required: true, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= ff.label :mentor_name %>
    <%= ff.text_field :mentor_name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= ff.label :mentor_years, '* How many years has the mentor been a developer? (min: 1 year)' %>
    <%= ff.text_field :mentor_years, class: 'form-control', required: true %>
  </div>

  <div class='form-group'>
    <%= ff.label :work_schedule, '* What is the internship work schedule? Please provide days and hours (e.g. Monday - Thursday, 8am - 5pm)' %>
    <%= ff.text_field :work_schedule, class: 'form-control', required: true %>
  </div>

  <div class='form-group'>
    <%= ff.label :projects, '* Please describe what project(s) students will be working on during their internship.' %>
    <%= ff.text_area :projects, rows: 8, class: 'form-control', required: true %>
  </div>

  <div class='form-group'>
    <%= ff.label :address %>
    <%= ff.text_field :address, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= ff.label :interview_location, "interview location (if different)" %>
    <%= ff.text_field :interview_location, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= label_tag 'Clearance required?' %>
    <%= check_box_tag 'company[internships_attributes[]][clearance_required]', 1, checked = false, { id: 'clearance-checkbox' } %>
  </div>

  <div class='form-group'>
    <%= ff.label :clearance_description %>
    <%= ff.text_area :clearance_description, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= ff.label :contract, 'Do interns need to sign a contract, non-compete, or other documentation? If so, please list the documentation required and share a copy with Epicodus when you sign the internship agreement.' %>
    <%= ff.text_area :contract, class: 'form-control' %>
  </div>
<% end %>
