<h1>Your profile</h1>

<% if can?(:manage, @student) && @student.courses.any? %>
  <% if @student.courses.previous_courses.any? %>
    <p><%= link_to "View transcript", transcript_path, target: '_blank' %></p>
  <% else %>
    <p>Transcript will be available after at least one course is completed.</p>
  <% end %>
  <% if @student.completed_internship_course? && @student.passed_all_code_reviews? %>
    <p><%= link_to "View certificate of completion", certificate_path, target: '_blank' %></p>
  <% else %>
    <p>Certificate will be available after internship is completed and all code reviews are passing.</p>
  <% end %>
<% end %>

<div class='row'>
  <div class='col-md-6'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <% if resource.errors.any? %>
        <div class="alert alert-danger">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'New password' %>
          <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'New password confirmation' %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %>
          <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
      </div>

      <%= f.submit "Update", class: 'btn btn-info' %>
    <% end %>
  </div>
</div>
