<h1>Your profile</h1>

<% if can? :manage, @student %>
  <% if @student.class_over? %>
    <p><%= link_to "View certificate of completion", certificate_path, target: '_blank' %></p>
  <% end %>

  <p><%= link_to "View transcript", transcript_path, target: '_blank' %></p>
<% end %>

<div class='row'>
  <div class='col-md-6'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <% if resource.errors.any? %>
        <div class="alert alert-danger">
          <%= devise_error_messages! %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <% if can? :manage, @student %>
        <div class="form-group">
          <%= f.label :plan_id, "Payment Plan" %>
          <%= f.select(:plan_id, Plan.all.collect {|p| [ p.name, p.id ] }, {}, class: 'form-control') %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :password, 'New password' %>
          <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'New password confirmation' %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %>
          <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
      </div>

      <%= f.submit "Update", class: 'btn btn-info' %>
    <% end %>
  </div>
</div>
