<h1><%= @assessment.title %></h1>
<h4 class="thin_text">Submissions: <%= @assessment.submissions.count %> <span class="end_line"> Average Score: <%= @assessment.grades.average(:score) %></span></h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Requirement</th>
      <th title="The code does not meet this standard.">1</th>
      <th title="The code meets this standard most of the time.">2</th>
      <th title="The code meets this standard all of the time.">3</th>
      <th title="The code exceeds this standard.">4</th>
    </tr>
  </thead>
  <tbody>
    <% @assessment.requirements.each do |requirement| %>
      <tr>
        <td><%= requirement.content %> (<%= Grade.where(requirement_id: requirement.id).average(:score) %>)</td>
        <td><%= requirement.percent_scores(1) %>%</td>
        <td><%= requirement.percent_scores(2) %>%</td>
        <td><%= requirement.percent_scores(3) %>%</td>
        <td><%= requirement.percent_scores(4) %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>
