<h1><%= @assessment.title %></h1>
<h3><%= @assessment.section_number %>. <%= @assessment.section %></h3>
<h4>Submissions: <%= @assessment.submissions.count %> Average Score: <%= @assessment.grades.average(:score) %></h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Requirement</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <% @assessment.requirements.each do |requirement| %>
      <tr>
        <td><%= requirement.content %> (<%= Grade.where(requirement_id: requirement.id).average(:score) %>)</td>
        <td><%= requirement.scores[0] %></td>
        <td><%= requirement.scores[1] %></td>
        <td><%= requirement.scores[2] %></td>
        <td><%= requirement.scores[3] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
