<% if can?(:manage, InternshipAssignment) && @student.interview_assignments.any? && !@student.internship_assignment %>
  <%= render 'internship_assignments/form' %>
<% elsif can?(:manage, InternshipAssignment) && @student.interview_assignments.any? && @student.internship_assignment %>
  <div class="col-md-8">
    <h3>Internship</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Company</th>
                <th>Contact name</th>
                <th>Contact email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to @student.internship_assignment.internship.name, course_internship_path(@course, @student.internship_assignment.internship) %></td>
                <td><%= @student.internship_assignment.internship.company.name %></td>
                <td><%= mail_to @student.internship_assignment.internship.company.email %></td>
                <td><%= link_to 'Remove', @student.internship_assignment, data: { method: :delete }, class: 'unstyled-link pull-right' %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% elsif @student.internship_assignment && @course.internship_assignments_visible? %>
  <div class="col-md-7">
    <h3>Internship</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Company</th>
                <th>Contact name</th>
                <th>Contact email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to @student.internship_assignment.internship.name, "##{@student.internship_assignment.internship.id}", data: { toggle: "modal" } %></td>
                <td><%= @student.internship_assignment.internship.company.name %></td>
                <td><%= mail_to @student.internship_assignment.internship.company.email %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
