<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Interview assignments</h3>
  </div>
  <div class="panel-body">
    <div class="panel-body">
      <% if can?(:manage, Internship) && @course.internship_course %>
        <%= form_tag create_multiple_interview_assignments_path, method: :post do %>
          <%= render 'layouts/errors', object: @interview_assignment %>
            <div class="form-group">
              <%= collection_select :interview_assignment, :internship_id, @course.internships.non_interview_assigned_internships(@student), :id, :name, {}, { class: 'multiselect-dropdown', multiple: true, include_hidden: false, required: true } %>
            </div>
          <%= hidden_field_tag :course_id, @course.id %>
          <%= hidden_field_tag :student_id, @student.id %>
          <%= submit_tag 'Add', class: 'btn btn-success' %>
        <% end %>
        <br>
      <% end %>
      <% if @student.interview_assignments.any? %>
        <div class="table-responsive" id="interview-assignments-table">
          <table class="table">
            <thead>
              <tr>
                <th>Company</th>
                <% if can? :manage, InterviewAssignment %>
                  <th></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @student.interview_assignments.order_by_internship_name.each do |interview_assignment| %>
                <tr>
                  <td><%= link_to interview_assignment.internship.name, course_internship_path(@course, interview_assignment.internship) %></td>
                  <% if can? :manage, InterviewAssignment %>
                    <td><%= link_to 'Remove', interview_assignments_path(student_id: @student.id, course_id: @course.id, internship_id: interview_assignment.internship.id), data: { method: :delete }, class: 'unstyled-link pull-right' %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
