<div class="<%= student.probation_teacher || student.probation_advisor ? 'alert alert-danger' : 'panel panel-body panel-default' %>">
  <p>
    <%= form_for student do |f| %>
      Teacher warnings: (<%= pluralize(student.probation_teacher_count || 0, 'time') %>) &nbsp;<%= f.check_box :probation_teacher %><br>
    <% end %>
    <%= form_for student do |f| %>
      Advisor warnings: (<%= pluralize(student.probation_advisor_count || 0, 'time') %>) &nbsp;<%= f.check_box :probation_advisor %><br>
    <% end %>
    <small><em><%= link_to 'edit warnings counts', edit_student_probation_path(student) %></em></small><br>
  </p>
  <hr>
  <p>
    Check-ins this week: <%= student.checkins.week.count %>
    <%= form_for [student, Checkin.new] do |f| %>
      <%= f.submit 'Check-in completed', class: 'btn btn-sm btn-info', data: { confirm: "Mark check-in completed for #{student.name}?" } %>
    <% end %>
  </p>
</div>
