
<div class="student-div student-code-reviews">
  <table class="table table-hover info">
    <% @student.submissions.each do |submission| %>
    <tr>
      <td><%= submission.code_review.title %></td>
      <td><%= submission.code_review.latest_total_score_for(@student) %>/<%= submission.code_review.total_points_available %></td>
      <td><%= submission.code_review.expectations_met_by?(@student) ? "Pass" : "Fail" %></td>

      <td>
        <%= link_to "Notes", "##{submission.id}", data: {toggle: "modal"} %>
      </td>
      <td><%= link_to "Submission", submission.link %></td>
    </tr>
    <% end %>
  </table>
</div>

<%= render "notes_modal" %>
