<div class="student-div student-courses col-xs-6">
  <% if can? :manage, Course %>
    <%= form_for @student, method: :patch do |f| %>
    <%= render 'layouts/errors', object: @student %>
    <div class="input-group">
      <%= f.collection_select :course_id, @student.other_courses.reverse, :id, :description, { include_blank: 'Please select a course' }, { class: 'col-xs-4 form-control', required: true } %>
      <span class="input-group-btn">
        <%= f.submit 'Add course', class: 'btn btn-info' %>
      </span>
    </div>
    <% end %>
  <% end %>

  <% if @student.courses.any? %>
    <h3>Courses</h3>
  <% end %>
  <% @student.courses.each do |course| %>
    <div class="row" id="student-course-<%= course.id %>">
      <div class="col-xs-6"><%= course.description %></div>
      <% if can? :manage, Course %>
        <%= link_to 'Withdraw', enrollment_path(course_id: course.id), data: { method: :delete, confirm: 'Are you sure?' }, class: 'unstyled-link col-xs-6' %>
      <% end %>
    </div>
  <% end %>
</div>
