<% if current_student %>
  <% if @student.probation_teacher || @student.probation_advisor %>
    <div class="alert alert-danger">
      <p>Academic Warning</p>
    </div>
  <% end %>
  <h4>
    <% if @student.course %>
      <%= render 'students/student_highlights_box', student: @student %>
    <% end %>
  </h4>
  <h1>Your courses</h1>
<% else %>
  <%= render 'students/student_header' %>
  <%= render 'students/student_nav' %>
<% end %>

<div id='courses-list'>
  <%= render 'students/student_courses_list' %>
</div>

<% if can? :manage, Enrollment %>
  <% if @student.courses_withdrawn.any? %>
    <div class="well" id="withdrawn-courses">
      <strong>Withdrawn:</strong>
      <ul>
        <% @student.courses_withdrawn.each do |course| %>
          <li>
            <%= link_to course.description, course_student_path(course, @student) %>
            (<%= @student.attendance_records_for(:all, course) %> sign-ins, withdrawn <%= Enrollment.only_deleted.find_by(student: @student, course: course).deleted_at.strftime("%Y-%m-%d") %>)
            <%= link_to enrollment_path(Enrollment.only_deleted.find_by(student: @student, course: course), really_destroy: 'true'), data: { method: :delete, confirm: 'Are you sure?' }, id: "destroy" do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <hr>
  <div class="well">
    <div class="row">
      <div class="col-md-6">
        <%= form_for @enrollment, remote: true do |f| %>
          <%= render 'layouts/errors', object: @enrollment %>

          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <% Office.select {|office| office.courses.current_and_future_courses.any?}.each do |office| %>
                  <li class="show-assign-courses"><%= link_to office.short_name, student_add_course_path(@student, option: office.short_name), method: :patch, remote: true %></li>
                <% end %>
                <li class="show-assign-courses"><%= link_to 'PREVIOUS', student_add_course_path(@student, option: 'previous'), method: :patch, remote: true %></li>
              </ul>
            </div>
          </nav>

          <%= f.hidden_field :student_id, value: @student.id %>

          <div class="input-group">
            <span class="assign-cohorts-to-student">
              <%= render 'students/cohorts_list', f: f, cohorts: Office.first.cohorts.current_and_future_cohorts.order(:description).reverse, descriptor: Office.first.short_name %>
            </span>
            <span class="input-group-btn">
              <%= f.submit 'Add cohort', class: 'btn btn-info' %>
            </span>
          </div>

          <br>

          <div class="input-group">
            <span class="assign-courses-to-student">
              <%= render 'students/courses_list', f: f, courses: @student.other_courses.current_and_future_courses.courses_for(Office.first).includes(:track).includes(:admin).order(:description).reverse, descriptor: Office.first.short_name %>
            </span>
            <span class="input-group-btn">
              <%= f.submit 'Add course', class: 'btn btn-info' %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id='cohort-select-modal-holder'></div>
<% end %>
