<h3><%= @course.internship_course? ? 'Career reviews' : 'Code reviews' %></h3>
<div class="panel panel-default" id="code-reviews-box">
  <div class="panel-body">
    <div class="student-div student-code-reviews">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>Title</th>
            <th>Expectations met?</th>
            <th>Times submitted</th>
            <th>Submission link</th>
            <th>Status</th>
          </thead>
          <% @course.code_reviews.where(journal: nil).or(@course.code_reviews.where(journal: false)).each do |code_review| %>
            <%= render 'student_code_review', code_review: code_review  %>
          <% end %>
        </table>
      </div>
    </div>
    <% if current_admin && @student.courses.internship_courses.count == 2 && @student.submissions.for_course(@course).any? %>
      <hr>
      <btn class="btn btn-sm btn-danger" id="move-submissions-button">Move submissions to new internship course...</btn>
      <%= render 'move_submissions', student: @student, course: @course, other_course: @student.courses.internship_courses.where.not(id: @course.id).first %>
    <% end %>
  </div>
</div>

<% if @course.code_reviews.where(journal: true).any? %>
  <h3>Personal reflections</h3>
  <div class="panel panel-default" id="journal-entries-box">
    <div class="panel-body">
      <div class="student-div student-code-reviews">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <th>Title</th>
              <th>Complete?</th>
              <th>Status</th>
            </thead>
            <% @course.code_reviews.where(journal: true).each do |code_review| %>
              <%= render 'student_code_review', code_review: code_review  %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>



<%= render "students/notes_modal" %>
