<div class="student-div student-code-reviews">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th>Number</th>
        <th>Title</th>
        <th>Expectations met?</th>
        <th>Teacher notes</th>
        <% if @course.internship_course? %>
          <th></th>
        <% else %>
          <th>GitHub repo</th>
        <% end %>
        <th>Status</th>
      </thead>
      <% @course.code_reviews.each do |code_review| %>
      <tbody>
        <tr>
          <td><%= code_review.number %></td>
          <td><%= code_review.title %></td>
          <td>
            <% if code_review.expectations_met_by?(@student) %>
              <span class="glyphicon glyphicon-ok submission-success"></span>
            <% else %>
              <span class="glyphicon glyphicon-remove submission-fail"></span>
            <% end %>
          </td>
          <% if @student.submission_for(code_review) %>
            <td><%= link_to "Notes", "##{@student.submission_for(code_review).id}", data: { toggle: "modal" } %></td>
            <% if @course.internship_course? %>
              <td></td>
            <% else %>
              <td><%= link_to "Submission", @student.submission_for(code_review).link, target: '_blank' %></td>
            <% end %>
            <td>
              <% if @student.submission_for(code_review).has_been_reviewed? %>
                <% if can? :manage, CodeReview %>
                  <%= link_to 'Reviewed', new_submission_review_path(@student.submission_for(code_review)) %>
                <% else %>
                  <%= link_to 'Reviewed', code_review_path(code_review) %>
                <% end %>
              <% else %>
                <% if can? :manage, CodeReview %>
                  <%= link_to 'Pending', new_submission_review_path(@student.submission_for(code_review)) %>
                <% else %>
                  <%= link_to 'Pending', code_review_path(code_review) %>
                <% end %>
              <% end %>
            </td>
          <% else %>
            <td></td>
            <td></td>
            <td>
              <% if can? :manage, CodeReview %>
                Not submitted
              <% else %>
                <% if code_review.course.internship_course? %>
                  <%= link_to 'Pending', code_review_path(code_review) %>
                <% else %>
                  <%= link_to 'Submit', code_review_path(code_review), class: 'text-info' %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>

<%= render "students/notes_modal" %>
