<% if current_admin %>
  <h1>
    <%= link_to student_courses_path(@student), class: 'h1 text-primary' do %>
      <%= @student.name %>
    <% end %>
  </h1>
  <h2><%= @course.description %></h2>
<% else %>
  <h1><%= @course.description %></h1>
<% end %>

<% unless @course.internship_course? %>
  <h4>Teacher: <%= @course.teacher %></h4>
  <h4>Attendance: <%= number_to_percentage(@student.attendance_score(@course), precision: 0) %></h4>
<% end %>

<%= render 'students/student_code_reviews' %>

<% if @course.internship_course? %>
    <% if can?(:manage, InterviewAssignment) || @student.interview_assignments.for_course(@course).any? %>
      <%= render 'students/interview_assignments' %>
    <% end %>
    <% if can?(:manage, InterviewAssignment) || @student.interview_feedback? %>
      <%= render 'students/interview_feedback' %>
    <% end %>
  <%= render 'students/student_internships' %>
<% else %>
  <%= render 'students/student_attendance' %>
<% end %>
