<% if current_admin %>
  <h1><%= @student.name %></h1>

  <% if !@student.signed_main_documents? %>
    <p><strong><%= @student.name %> has not signed all documents.</strong></p>
  <% end %>

  <p>
    <% case @student.get_status %>
    <% when 'Not enrolled', 'Archived' %>
      <span class="label label-primary">
    <% when 'Incomplete' %>
      <span class="label label-default">
    <% when 'Graduate' %>
      <span class="label label-info">
    <% when 'Pre-2016' %>
      <span class="label label-danger">
    <% when 'Current student', 'Future student' %>
      <span class="label label-success">
    <% when 'Part-time (past)', 'Part-time (current)', 'Part-time (future)' %>
      <span class="label label-warning">
    <% end %>
    <%= @student.get_status %>
    </span>
  </p>

  <% if @student.starting_cohort && @student.ending_cohort && @student.starting_cohort == @student.ending_cohort %>
    <p>Cohort: <%= link_to @student.starting_cohort.description, cohort_path(@student.starting_cohort) %></p>
  <% elsif @student.starting_cohort || @student.ending_cohort %>
    <p>
      <% if @student.starting_cohort %>
        Starting cohort: <%= link_to @student.starting_cohort.description, cohort_path(@student.starting_cohort) %>
      <% end %>
      <br>
      <% if @student.ending_cohort %>
        Ending cohort: <%= link_to @student.ending_cohort.description, cohort_path(@student.ending_cohort) %>
      <% end %>
    </p>
  <% end %>

  <% if @student.primary_payment_method %>
    <p>Primary payment method: <%= @student.primary_payment_method.class.name.underscore.humanize + ' ending in ' + @student.primary_payment_method.last_four_string[-4,4] if @student.primary_payment_method %></p>
  <% else %>
    <p>No primary payment method has been selected</p>
  <% end %>

  <p>Total paid: <%= number_to_currency(@student.total_paid / 100.00) %></p>

  <% if current_admin && !@student.invitation_accepted_at? && @student.invitation_token? %>
    <p><%= link_to 'Resend invitation', student_invitation_path(student_id: @student), method: :post %></p>
  <% end %>
<% end %>
