<% if current_admin %>
  <h1><%= @student.name %> <small><small><%= @student.email %></small></small></h1>

  <% if !@student.signed_main_documents? %>
    <p><strong><%= @student.name %> has not signed all documents.</strong></p>
  <% end %>

  <p>
    <% case @student.get_status %>
    <% when 'Not enrolled', 'Archived' %>
      <span class="label label-primary">
    <% when 'Incomplete' %>
      <span class="label label-default">
    <% when 'Graduate' %>
      <span class="label label-info">
    <% when 'Pre-2016' %>
      <span class="label label-danger">
    <% when 'Current student', 'Future student' %>
      <span class="label label-success">
    <% when 'Part-time (past)', 'Part-time (current)', 'Part-time (future)' %>
      <span class="label label-warning">
    <% end %>
    <%= @student.get_status %>
    </span>
  </p>

  <% if @student.courses.empty? %>
    <p><%= link_to 'Archive student', student_path(id: @student.id), data: { method: :delete, confirm: 'Are you sure you want to archive this student and all enrollments?' }, class: 'btn btn-primary btn-sm' %></p>
  <% end %>

  <%= form_for @student do |f| %>
    <div class="<%= @student.probation_teacher ? 'alert alert-danger' : '' %>">
      <p>Teacher probation: (<%= @student.probation_teacher_count || 0 %>) &nbsp;<%= f.check_box :probation_teacher %></p>
    </div>
  <% end %>
  <%= form_for @student do |f| %>
    <div class="<%= @student.probation_advisor ? 'alert alert-danger' : '' %>">
      <p>Student services probation: (<%= @student.probation_advisor_count || 0 %>) &nbsp;<%= f.check_box :probation_advisor %></p>
    </div>
  <% end %>

  <% if @student.starting_cohort && @student.cohort && @student.starting_cohort == @student.cohort %>
    <p>Cohort: <%= link_to @student.cohort.description, cohort_path(@student.cohort) %></p>
  <% elsif @student.starting_cohort || @student.cohort %>
    <p>
      <% if @student.starting_cohort %>
        Starting cohort: <%= link_to @student.starting_cohort.description, cohort_path(@student.starting_cohort) %>
      <% else %>
        Starting cohort: <strong>not found</strong>
      <% end %>
      <br>
      <% if @student.cohort %>
        Cohort: <%= link_to @student.cohort.description, cohort_path(@student.cohort) %>
      <% else %>
        Cohort: <strong>not found</strong>
      <% end %>
    </p>
  <% end %>
  <% if @student.parttime_cohort %>
    <p>Part-Time Cohort: <%= link_to @student.parttime_cohort.description, cohort_path(@student.parttime_cohort) %></p>
  <% end %>

  <% if @student.courses.previous_courses.any? %>
    <p><%= link_to 'View transcript', student_transcript_path(@student) %></p>
    <% if current_admin.super_admin %>
      <p><%= link_to 'Manually generate certificate', student_certificate_path(@student) %></p>
    <% end %>
  <% else %>
    <p>Transcript not yet available.</p>
  <% end %>

  <% if @student.primary_payment_method %>
    <p>Primary payment method: <%= @student.primary_payment_method.class.name.underscore.humanize + ' ending in ' + @student.primary_payment_method.last_four_string[-4,4] if @student.primary_payment_method %></p>
  <% else %>
    <p>No primary payment method has been selected</p>
  <% end %>

  <p>Total paid: <%= number_to_currency(@student.total_paid / 100.00) %></p>

  <% if !@student.invitation_accepted_at? && @student.invitation_token? %>
    <p><%= link_to 'Resend invitation', student_invitation_path(student_id: @student), method: :post %></p>
  <% end %>
<% end %>
