<% if current_student %>
  <h1>Your courses</h1>
<% else %>
  <%= render 'students/student_header' %>
  <%= render 'students/student_nav' %>
<% end %>

<% if @student.courses.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Description</th>
          <th></th>
          <th>Teacher</th>
          <th>Attendance</th>
          <th>Code reviews</th>
          <% if can? :manage, Enrollment %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @student.courses.order(:description).each do |course| %>
          <tr id="student-course-<%= course.id %>">
            <td><%= link_to course.description, course_student_path(course, @student) %></td>
            <td>
              <% if course.in_session? %>
                <span class="label label-info">Current course</span>
              <% end %>
            </td>
            <td><%= course.teacher unless course.internship_course? %></td>
            <td><%= number_to_percentage(@student.attendance_score(course), precision: 0) unless course.internship_course? %></td>
            <td>
              <% if @student.submissions.for_course(course).empty? %>
                No submissions made yet
              <% elsif @student.submissions.for_course(course).needing_review.count == 0 %>
                All submissions have been reviewed
              <% else %>
                <%= @student.submissions.for_course(course).needing_review.count %> pending review
              <% end %>
            </td>
            <% if can? :manage, Enrollment %>
              <td><%= link_to 'Withdraw', enrollment_path(id: @student.id, course_id: course.id), data: { method: :delete, confirm: 'Are you sure?' }, class: 'unstyled-link col-md-6' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% if can? :manage, Enrollment %>
  <div class="well">
    <% if @student.courses_withdrawn.any? %>
      <strong>Withdrawn:</strong>
      <ul>
        <% @student.courses_withdrawn.each do |course| %>
          <li>
            <%= link_to course.description, course_student_path(course, @student) %>
            (<%= @student.attendance_records_for(:all, course) %> sign-ins, withdrawn <%= Enrollment.only_deleted.find_by(student: @student, course: course).deleted_at.strftime("%Y-%m-%d") %>)
            <%= link_to enrollment_path(Enrollment.only_deleted.find_by(student: @student, course: course), really_destroy: 'true'), data: { method: :delete, confirm: 'Are you sure?' }, id: "destroy" do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= form_for @student, method: :patch do |f| %>
      <%= render 'layouts/errors', object: @student %>
      <div class="input-group">
        <%= f.collection_select :course_id, @student.other_courses.order(:description).reverse, :id, :teacher_and_description, { include_blank: 'Please select a course' }, { class: 'col-md-4 form-control', required: true } %>
        <span class="input-group-btn">
          <%= f.submit 'Add course', class: 'btn btn-info' %>
        </span>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
