<% if current_student %>
  <h1>Your courses</h1>
<% else %>
  <%= render 'students/student_header' %>
  <%= render 'students/student_nav' %>
<% end %>

<% if @student.courses.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Description</th>
          <th></th>
          <th>Teacher</th>
          <th>Attendance</th>
          <th>Code reviews</th>
          <% if can? :manage, Enrollment %>
            <th class="text-center"><%= link_to 'Drop All', student_path(id: @student.id), data: { method: :delete, confirm: 'Are you sure you want to archive this student and all enrollments?' }, class: 'btn btn-primary' %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @student.courses.order(:description).each do |course| %>
          <tr id="student-course-<%= course.id %>">
            <td><%= link_to course.description, course_student_path(course, @student) %></td>
            <td>
              <% if course.in_session? %>
                <span class="label label-info">Current course</span>
              <% end %>
            </td>
            <td><%= course.teacher unless course.internship_course? %></td>
            <td><%= number_to_percentage(@student.attendance_score(course), precision: 0) unless course.internship_course? %></td>
            <td>
              <% if @student.submissions.for_course(course).empty? %>
                No submissions made yet
              <% elsif @student.submissions.for_course(course).needing_review.count == 0 %>
                All submissions have been reviewed
              <% else %>
                <%= @student.submissions.for_course(course).needing_review.count %> pending review
              <% end %>
            </td>
            <% if can? :manage, Enrollment %>
              <td><%= link_to 'Withdraw', enrollment_path(id: @student.id, course_id: course.id), data: { method: :delete, confirm: 'Are you sure?' }, class: 'unstyled-link col-md-6' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% if can? :manage, Enrollment %>
  <% if @student.courses_withdrawn.any? %>
    <div class="well" id="withdrawn-courses">
      <strong>Withdrawn:</strong>
      <ul>
        <% @student.courses_withdrawn.each do |course| %>
          <li>
            <%= link_to course.description, course_student_path(course, @student) %>
            (<%= @student.attendance_records_for(:all, course) %> sign-ins, withdrawn <%= Enrollment.only_deleted.find_by(student: @student, course: course).deleted_at.strftime("%Y-%m-%d") %>)
            <%= link_to enrollment_path(Enrollment.only_deleted.find_by(student: @student, course: course), really_destroy: 'true'), data: { method: :delete, confirm: 'Are you sure?' }, id: "destroy" do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <hr>
  <div class="well">
    <div class="row">
      <div class="col-md-4">
        <%= form_for @enrollment do |f| %>
          <%= render 'layouts/errors', object: @enrollment %>

          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <% Office.select {|office| office.courses.current_and_future_courses.any?}.each do |office| %>
                  <li class="show-assign-courses"><%= link_to office.short_name, student_add_course_path(@student, option: office.short_name), method: :patch, remote: true %></li>
                <% end %>
                <li class="show-assign-courses"><%= link_to 'PREVIOUS', student_add_course_path(@student, option: 'previous'), method: :patch, remote: true %></li>
              </ul>
            </div>
          </nav>

          <%= f.hidden_field :student_id, value: @student.id %>
          <div class="input-group">
            <span class="assign-courses-to-student">
              <%= render 'students/courses_list', f: f, courses: @student.other_courses.current_and_future_courses.courses_for(Office.first).order(:description).reverse, descriptor: Office.first.short_name %>
            </span>
            <span class="input-group-btn">
              <%= f.submit 'Add course', class: 'btn btn-info' %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
