<div class="student-div student-courses col-md-6">
  <% if current_admin && can?(:manage, Enrollment) %>
    <%= form_for @student, method: :patch do |f| %>
      <%= render 'layouts/errors', object: @student %>
      <div class="input-group">
        <%= f.collection_select :course_id, @student.other_courses.reverse, :id, :teacher_and_description, { include_blank: 'Please select a course' }, { class: 'col-md-4 form-control', required: true } %>
        <span class="input-group-btn">
          <%= f.submit 'Add course', class: 'btn btn-info' %>
        </span>
      </div>
    <% end %>
  <% end %>

  <% if @student.courses.any? %>
    <h3>Courses</h3>
    <% @student.courses.each do |course| %>
      <div class="row" id="student-course-<%= course.id %>">
        <div class="col-md-6"><%= link_to course.description, course_student_path(course, @student) %></div>
        <%= link_to 'Withdraw', enrollment_path(course_id: course.id), data: { method: :delete, confirm: 'Are you sure?' }, class: 'unstyled-link col-md-6' %>
      </div>
    <% end %>
  <% end %>
</div>
