<% if can? :manage, Student %>
  <h1>
    <%= link_to student_courses_path(@student), class: 'h1 text-primary' do %>
      <%= @student.name %>
    <% end %>
  </h1>
  <% if current_admin %>
    <%= form_for @student do |f| %>
      <div class="<%= @student.probation ? 'alert alert-danger' : '' %>">
        <p>Academic probation: &nbsp;<%= f.check_box :probation %></p>
      </div>
    <% end %>
  <% elsif @student.probation %>
    <div class="alert alert-danger">
      <p>Academic probation</p>
    </div>
  <% end %>
  <h2>
    <%= @course.description %>
    <% if @student.courses_withdrawn.include? @course %>
      <strong>(withdrawn)</strong>
    <% elsif !@student.courses.include? @course %>
      <strong>(not enrolled)</strong>
    <% end %>
  </h2>
<% else %>
  <h1><%= @course.description %></h1>
<% end %>

<% if current_admin %>
  <%= link_to 'Peer evaluations', student_peer_evaluations_path(@student) %>
<% end %>

<% if @course.internship_course? %>
  <%= render 'students/student_code_reviews' %>

  <div class="row">
    <%= render 'students/internship_assignment' %>
    <%= render 'interview_assignments/form' %>
    <%= render 'students/interview_feedback' %>
  </div>

  <%= render 'students/interview_assignments' %>
  <%= render 'students/student_internships' %>
  <%= render 'ratings/internships_modal' %>
<% else %>
  <div class="row">
    <div class="col-md-4">
      <h3>Details</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <h4><%= @course.teacher %></h4>
          <h4>Attendance: <%= number_to_percentage(@student.attendance_score(@course), precision: 0) %></h4>
          <h4><%= @course.start_date.strftime('%B %d') %> to <%= @course.end_date.strftime('%B %d') %></h4>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <%= render 'students/student_code_reviews' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Pairing Roster</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="alert" id="pairing-roster-row" data-content="<%= @student.solos %>">Number of times signed in solo: &nbsp;<%= @student.solos %></p>
          <table class="table table-hover">
            <thead>
              <th>Name</th>
              <th># of times paired</th>
            </thead>
            <tbody>
              <% @course.other_course_students(@student).sort { |a,b| a.pairs.count(@student.id) <=> b.pairs.count(@student.id) }.each do |student| %>
                <tr id="pairing-roster-row" data-content="<%= student.pairs.count(@student.id) %>">
                  <td class="col-md-4"><%= student.name %></td>
                  <td class="col-md-2"><%= student.pairs.count(@student.id) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <%= render 'students/student_attendance', course: @course, class_days: @course.class_dates_until(Time.zone.now.to_date).sort.reverse %>
<% end %>
