<tr class="<%= 'alert alert-danger' if student.probation_teacher || student.probation_advisor %>">
  <td><%= link_to student.name, course_student_path(@course, student), class: "unstyled-link" %></td>

  <% unless @course.internship_course? %>
    <td>
      <%= student.checkins.this_week.count %>
    </td>
    <% if params[:attendance] == "true" %>
      <td>
        <p class=<%= student.total_attendance_score <= 92 ? "text-danger" : "" %>>
          <%= student.absences_cohort %>
        </p>
      </td>
    <% end %>

    <% if params[:probation] == "true" %>
      <td><%= student.probation_advisor_count.to_i + student.probation_teacher_count.to_i %></td>
    <% end %>

    <% if params[:payment_plans] == "true" %>
      <td><%= student.plan.try(:name) %></td>
    <% end %>
  <% end %>

  <% @course.code_reviews.each do |code_review| %>
    <td>
      <% if student.submission_for(code_review).nil? %>
        <% if code_review.submissions_not_required? %>
          <%= form_for [code_review, Submission.new] do |f| %>
            <%= f.hidden_field :needs_review, value: true %>
            <%= f.hidden_field :student_id, value: student.id %>
            <%= f.submit 'missing', class: 'failing-submission-link btn btn-link', id: 'create-submission-link' %>
          <% end %>
        <% else %>
          <p class="text-danger">missing</p>
        <% end %>
      <% else %>
        <%= link_to student.submission_for(code_review).review_status, new_submission_review_path(student.submission_for(code_review)), class: student.submission_for(code_review).review_status %>
        <% if student.submission_for(code_review).meeting_request_notes.any? %>
          &nbsp;
          <%= link_to new_submission_review_path(student.submission_for(code_review)) do %>
            <i class="glyphicon glyphicon-comment"></i>
          <% end %>
        <% end %>
      <% end %>
    </td>
  <% end %>
  <% if params[:feedback] == "true" %>
    <td><%= link_to PairFeedback.average(student, @course), student_pair_feedbacks_path(student) %></td>
  <% end %>
</tr>
