<h3>Attendance</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <p class="alert alert-info" id="absence-summary-row" data-content="<%= @student.courses.current_and_previous_courses.non_internship_courses.map {|c| @student.absences(c)}.sum.floor %>">
      Absent <%= number_with_precision(@student.absences(course), precision: 1, strip_insignificant_zeros: true) %> of <%= course.number_of_days_since_start %> days from this course.<br>
      <% if @student.course.try(:cohorts).try(:any?) %>
        Absent <%= number_with_precision(@student.absences_cohort, precision: 1, strip_insignificant_zeros: true) %> days since the start of the cohort.<br>
      <% end %>
      Absent <%= number_with_precision(@student.courses.current_and_previous_courses.non_internship_courses.map {|c| @student.absences(c)}.sum, precision: 1, strip_insignificant_zeros: true) %> of <%= @student.courses.current_and_previous_courses.non_internship_courses.total_class_days_until(Time.zone.now.to_date).count %> days ever at Epicodus.
    </p>
    <div class="student-div student-attendance">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <th>Date</th>
            <th>Status</th>
            <th>Signed in</th>
            <th>Signed out</th>
            <th>Pair</th>
            <th>Station</th>
            <th></th>
          </thead>
          <% class_days.each do |day| %>
            <tbody>
              <tr>
                <td class="col-md-4">
                  <%= day.strftime("%A, %B %d, %Y") %>
                </td>
                <td class="col-md-2">
                  <% if @student.attendance_record_on_day(day) == nil %>
                    <span class="label label-primary">Absent</span>
                  <% elsif @student.attendance_record_on_day(day).tardy && @student.attendance_record_on_day(day).left_early %>
                    <span class="label label-danger">Tardy</span>
                    <span class="label label-danger">Left early</span>
                  <% elsif @student.attendance_record_on_day(day).tardy %>
                    <span class="label label-danger">Tardy</span>
                  <% elsif @student.attendance_record_on_day(day).left_early %>
                    <span class="label label-danger">Left early</span>
                  <% else %>
                    <span class="label label-success">On time</span>
                  <% end %>
                </td>
                <td><%= @student.attendance_record_on_day(day).try(:created_at).try(:in_time_zone, course.office.time_zone).try(:strftime, '%l:%M %p') %></td>
                <td><%= @student.attendance_record_on_day(day).try(:signed_out_time).try(:in_time_zone, course.office.time_zone).try(:strftime, '%l:%M %p') %></td>
                <td>
                  <% if day.friday? || @student.attendance_record_on_day(day) == nil %>
                    -
                  <% elsif @student.pairs_on_day(day).any? %>
                    <%= @student.pairs_on_day(day).map {|s| s.name}.join(', ') %>
                  <% else %>
                    Solo
                  <% end %>
                </td>
                <td><%= @student.attendance_record_on_day(day) && @student.attendance_record_on_day(day).station ? @student.attendance_record_on_day(day).station : '-' %></td>
                <td class="edit-attendance">
                  <% if current_admin && can?(:manage, AttendanceRecord) %>
                    <%= link_to 'Edit', new_attendance_record_amendment_path(course: @course, student: @student, day: day, status: @student.attendance_record_on_day(day).try(:status)) %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>

    <%= paginate class_days if params[:controller] == 'attendance_records' %>
  </div>
</div>
