<div class="student-div student-code-reviews">
  <% if current_student %>
    <%= link_to 'View all code reviews', course_code_reviews_path(@course) %>
  <% end %>
  <% if @student.submissions.for_course(@course).any? %>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <th>Title</th>
          <th>Expectations met?</th>
          <th>Teacher notes</th>
          <th>GitHub repo</th>
          <th>Status</th>
        </thead>
        <% @student.submissions.for_course(@course).each do |submission| %>
        <tbody>
          <tr>
            <td><%= submission.code_review.title %></td>
            <td>
              <% if submission.code_review.expectations_met_by?(@student) %>
                <span class="glyphicon glyphicon-ok submission-success"></span>
              <% else %>
                <span class="glyphicon glyphicon-remove submission-fail"></span>
              <% end %>
            </td>
            <td><%= link_to "Notes", "##{submission.id}", data: { toggle: "modal" } %></td>
            <td><%= link_to "Submission", submission.link, target: '_blank' %></td>
            <td>
              <% if submission.has_been_reviewed? %>
                <%= link_to 'Reviewed', code_review_path(submission.code_review) %>
              <% else %>
                <%= link_to 'Pending', code_review_path(submission.code_review) %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  <% else %>
    <p><%= @student.name %> has no code review submissions for this course yet.</p>
  <% end %>
</div>

<%= render "students/notes_modal" %>
