<% if can? :manage, Student %>
  <h1>
    <%= link_to student_courses_path(@student), class: 'h1 text-primary' do %>
      <%= @student.name %>
    <% end %>
    <% if current_admin && @student.pronouns %>
      <small>(<%= @student.pronouns %>)</small>
    <% end %>
  </h1>
  <% if current_admin %>
    <%= render 'students/probation', student: @student %>
  <% elsif @student.probation_teacher || @student.probation_advisor %>
    <div class="alert alert-danger">
      <p>Academic Warning</p>
    </div>
  <% end %>
  <h2>
    <%= @course.description %>
    <% if @student.courses_withdrawn.include? @course %>
      <strong>(withdrawn)</strong>
    <% elsif !@student.courses.include? @course %>
      <strong>(not enrolled)</strong>
    <% end %>
    <% if current_admin %>
      <small>(<%= link_to 'view', course_path(@course) %>)</small>
    <% end %>
  </h2>
<% else %>
  <h1><%= @course.description %></h1>
<% end %>

<% if current_admin %>
  <%= link_to 'Peer evaluations', student_peer_evaluations_path(@student) %>
<% end %>

<% if @course.internship_course? %>
  <%= render 'students/student_code_reviews' %>

  <div class="row">
    <%= render 'students/internship_assignment' %>
    <%= render 'interview_assignments/form' %>
  </div>

  <%= render 'students/interview_assignments' %>
  <%= render 'students/student_internships' %>
  <%= render 'ratings/internships_modal' %>
<% else %>
  <div class="row">
    <div class="col-md-4">
      <h3>Details</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <h4><%= @course.teacher %></h4>
          <h4><%= @course.start_date.strftime('%B %d') %> to <%= @course.end_date.strftime('%B %d') %></h4>
          <% if current_student && @student.submissions.any? %>
            <p><%= link_to 'Request teacher meeting', new_course_meeting_path(@student.course) %></p>
          <% end %>  
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <%= render 'students/student_code_reviews' %>
    </div>
  </div>

  <% if @course.number_of_days_since_start > 0 %>
    <%= render 'students/student_pairing_roster', course: @course, student: @student %>
    <%= render 'students/student_attendance', course: @course, class_days: @course.class_dates_until(Time.zone.now.to_date).sort.reverse %>
  <% end %>
<% end %>
