<h1><b><i><%= "#{current_admin.current_course.description}" %></b></i> student roster</h1>

<ul class='list-unstyled'>
  <% @students.each do |student| %>
    <li><%= link_to student.name, student, class: "" %></li>
  <% end %>
</ul>

<%= form_for @enrollment, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
      <%= render 'layouts/errors', object: @enrollment %>
      <%= f.hidden_field :course_id, value: current_course.id %>
    <div class="col-xs-6">
      <%= f.collection_select :student_id, current_course.other_students.with_actived_accounts, :id, :name, { include_blank: 'Add a student to this course' }, { class: 'form-control', required: true } %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-4">
      <%= f.submit 'Add student', class: 'btn btn-info' %>
    </div>
  </div>
<% end %>
