<h1><%= "#{current_admin.current_course.description}" %> student roster</h1>

<div class="form-group">
  <%= link_to "Edit #{current_course.description}", edit_course_path(current_admin.current_course), class: 'btn btn-success' %>
</div>

<%= form_for @enrollment do |f| %>
  <div class="row">
    <div class="col-xs-5">
      <%= render 'layouts/errors', object: @enrollment %>
      <%= f.hidden_field :course_id, value: current_course.id %>
      <div class="input-group">
        <%= f.collection_select :student_id, current_course.other_students.with_actived_accounts, :id, :name, { include_blank: 'Add a student to this course' }, { class: 'form-control', required: true } %>
        <span class="input-group-btn">
          <%= f.submit 'Add student', class: 'btn btn-info' %>
        </span>
      </div>
    </div>
  </div>
<% end %>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Absence Score</th>
        <% current_course.code_reviews.each do |code_review| %>
          <th><%= code_review.title %></th>
        <% end %>
    </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= link_to student.name, student, class: "unstyled-link" %></td>
      <td>
        <% if student.absence_percentage_above?(current_course) %>
            <p class="text-danger">
          <% else %>
            <p>
        <% end %>
          <%= student.attendance_score(current_course, current_course.number_of_days_since_start) %> %
        </p>
      </td>
        <% current_course.code_reviews.each do |code_review| %>
          <% if code_review.submission_for(student).nil? %>
            <td><p class="text-danger">Missing</p></td>
          <% elsif code_review.submission_for(student).has_been_reviewed? %>
            <td><p class="text-default">Reviewed</p></td>
          <% else %>
            <td><p class="text-warning">Pending</p></td>
          <% end %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
