<h1><%= "#{current_admin.current_course.description}" %> student roster</h1>

<div class="form-group">
  <%= link_to "Edit #{current_course.description}", edit_course_path(current_admin.current_course), class: 'btn btn-success' %>
</div>

<%= form_for @enrollment do |f| %>
  <div class="row">
    <div class="col-xs-5">
      <%= render 'layouts/errors', object: @enrollment %>
      <%= f.hidden_field :course_id, value: current_course.id %>
      <div class="input-group">
        <%= f.collection_select :student_id, current_course.other_students.with_actived_accounts, :id, :name, { include_blank: 'Add a student to this course' }, { class: 'form-control', required: true } %>
        <span class="input-group-btn">
          <%= f.submit 'Add student', class: 'btn btn-info' %>
        </span>
      </div>
    </div>
  </div>
<% end %>
<hr>
<ul class='list-unstyled'>
  <% @students.each do |student| %>
    <li><%= link_to student.name, student, class: "" %></li>
  <% end %>
</ul>
