<h1>
  <%= @course.description %> (<%= @course.office.name %>)
  <%= link_to 'Edit', edit_course_path(@course) %>
</h1>

<div class="row">
  <div class="col-md-4">
    <h3>Details</h3>
    <div class="panel panel-info">
      <div class="panel-body">
        <h4><%= @course.teacher %></h4>
        <h4><%= pluralize(@course.students.count, 'student') %></h4>
        <% unless @course.internship_course? %>
          <h4><%= @course.start_date.strftime('%B %d') %> to <%= @course.end_date.strftime('%B %d') %></h4>
          <div class="form-group">
            <%= link_to 'Attendance by day', course_day_attendance_records_path(@course) %>
          </div>
        <% end %>

        <%= form_for @enrollment do |f| %>
          <%= render 'layouts/errors', object: @enrollment %>
          <%= f.hidden_field :course_id, value: @course.id %>
          <div class="input-group">
            <%= f.collection_select :student_id, @course.other_students.with_activated_accounts, :id, :name, { include_blank: 'Add a student to this course' }, { class: 'form-control', required: true } %>
            <span class="input-group-btn">
              <%= f.submit 'Add student', class: 'btn btn-info' %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <%= render 'courses/course_code_reviews' %>
  </div>
</div>

<%= render 'courses/course_students' %>
