<% content_for :title, 'Search' %>
<% if @results.any? %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <ul class="list-group">
        <% @results.each do |student| %>
          <h3><%= student.name %></h3>

          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                <% case student.get_status %>
                  <% when 'Not enrolled', 'Archived' %>
                    <span class="label label-primary pull-right">
                  <% when 'Incomplete' %>
                    <span class="label label-default pull-right">
                  <% when 'Graduate' %>
                    <span class="label label-info pull-right">
                  <% when 'Pre-2016' %>
                    <span class="label label-danger pull-right">
                  <% when 'Current student', 'Future student' %>
                    <span class="label label-success pull-right">
                  <% when 'Part-time (past)', 'Part-time (current)', 'Part-time (future)' %>
                    <span class="label label-warning pull-right">
                <% end %>
                <%= student.get_status %>
                </span>
              </p>

              <% if student.deleted? %>
                <p><%= button_to 'Restore', student_restore_path(student, restore: true), method: :patch, class: "btn btn-default" %></p>
                <p>
                  <%= button_to student_restore_path(student, expunge: true), class: "btn btn-primary", id: "student-expunge-#{student.id}", method: :patch, data: { confirm: 'Permanently delete student record?' } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                </p>
              <% else %>
                <p><%= link_to 'Courses', student_courses_path(student) %></p>
                <p><%= link_to 'Payments', student_payments_path(student) %></p>
                <p><%= link_to 'Internships', course_student_path(student.internship_course, student) if student.internship_course %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <h3 class="text-center">No students found.</h3>
<% end %>
