<h1><%= @student.name %></h1>
<hr>
<% if @student.courses.any? %>
  <ul class="nav nav-tabs list-group" id="student-nav">
    <li class="student-attendance">
      <a>Attendance</a>
    </li>
    <li class="student-code-reviews">
      <a>Code Reviews</a>
    </li>
    <li class="student-internships">
      <a>Rated Internships</a>
    </li>
    <li class="student-courses">
      <a>Courses</a>
    </li>
  </ul>

  <%= render 'students/student_courses' %>

  <%= render 'students/student_code_reviews' %>

  <%= render 'students/student_internships' %>

  <%= render 'students/student_attendance' %>

<% else %>
  <h2><%= @student.name %> is not enrolled in any courses.</h2>
  <%= render 'students/student_courses' %>
<% end %>
