<h1><%= @student.name %></h1>
<hr>
<ul class="nav nav-tabs">
  <li class="active student-attendance-header">
    <a>Attendance</a>
  </li>
  <li class="student-internships-header">
    <a>Rated Internships</a>
  </li>
  <li class="student-cohorts-header">
    <a>Cohorts</a>
  </li>
</ul>

<div class="student-cohorts">
  <%= form_for @student, method: :patch do |f| %>
    <%= render 'layouts/errors', object: @student %>
    <%= f.collection_select :cohort_id, @student.other_cohorts.reverse, :id, :description, { include_blank: 'Please select a cohort' }, { class: 'span4', required: true } %>
    <p><%= f.submit 'Add cohort', class: 'btn btn-primary' %></p>
  <% end %>

  <h3>Cohorts</h3>
  <% @student.cohorts.each do |cohort| %>
    <p><%= cohort.description %></p>
  <% end %>
</div>

<div class="student-internships">
  <span class="company-list">
    <% @internships.each do |internship| %>
      <div class="<%= set_internship_background(@student.find_rating(internship)) %>">
        <div class='internship-list-row row'>
          <li>
            <h3 class='span3'><%= link_to internship.company_name, cohort_internship_path(@student.cohort, internship) %></h3>
            <% if @student.find_rating(internship) %>
              <p class='span9'><%= @student.find_rating(internship).notes %></p>
            <% end %>
          </li>
        </div>
      </div>
    <% end %>
  </span>
</div>

<div class="student-attendance">
  <% @student.cohort.class_dates_until(Time.zone.now.to_date).sort.reverse.each do |day| %>
    <ul class='span12 unstyled'>
        <li>
          <span class="span1">
            <%= day.strftime("%A") %>
          </span>
          <span class="span2">
            <%= day.strftime("%B %d, %Y") %>
          </span>
          <span>
            <% if @student.attendance_record_on_day(day) == nil %>
              <span class="btn btn-danger span3" disabled>Absent</span>
            <% elsif @student.attendance_record_on_day(day).tardy %>
              <span class="btn btn-warning span3" disabled>Tardy</span>
            <% elsif @student.attendance_record_on_day(day).left_early %>
              <span class="btn btn-warning span3" disabled>Left early</span>
            <% else %>
              <span class="btn btn-success span3" disabled>On time</span>
            <% end %>
          </span>
          <span class="span2">
            <%= link_to 'Edit', new_attendance_record_amendment_path(student: @student, day: day), class: 'unstyled-link'  %>
          </span>
          <span><%= @student.pair_on_day(day) ? @student.pair_on_day(day).name : 'Solo' %></span>
        </li>
    </ul>
  <% end %>
</div>
