<% if Time.zone.now.in_time_zone(@student.course.office.time_zone) < @student.course.end_time_today - 15.minutes %>
  <div class="row">
    <div class="alert alert-danger col-md-6 col-md-offset-3 text-center">
      You'll be leaving early if you sign out now since the time is <%= Time.zone.now.in_time_zone(@student.course.office.time_zone).strftime('%l:%M %p') %>.
    </div>
  </div>
<% end %>

<% if @student.pair_on_day(Time.zone.now.in_time_zone(@student.course.office.time_zone)) %>
  <h2>Attendance sign out + pair feedback</h2>
  <p>Only Epicodus staff will see your pair feedback, and it will never be shared directly with the person you are giving feedback about. If (and only if) a student's pairs consistently share challenges working with that person, we will share the aggregate, common themes of the feedback with the student - never any individual feedback or anything that could be tied to the person giving the feedback.</p><br>
  <div class='alert alert-info'>
    <p><strong>Pair feedback for <%= @pair.name %></strong></p>
  </div>
  <%= form_with model: [@pair_feedback] do |f| %>
    <%= render 'layouts/errors', object: @pair_feedback %>
    <%= f.hidden_field :pair_id, value: @pair.id %>
    <div class="form-group">
      <%= f.label :q1_response, "1. My pair worked with me throughout the day:", class: 'lead' %><br>
      <%= f.collection_radio_buttons :q1_response, PairFeedback::Q1_OPTIONS.map.with_index(1) {|opt, index| [opt, 6-index]}, :last, :first do |b| %>
        <div>
          <%= b.radio_button %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :q2_response, "2. My pair was polite, considerate, and professional:", class: 'lead' %><br>
      <%= f.collection_radio_buttons :q2_response, PairFeedback::Q2_OPTIONS.map.with_index(1) {|opt, index| [opt, 6-index]}, :last, :first do |b| %>
        <div>
          <%= b.radio_button %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :q3_response, "3. My pair shared driving and considered my ideas:", class: 'lead' %><br>
      <%= f.collection_radio_buttons :q3_response, PairFeedback::Q3_OPTIONS.map.with_index(1) {|opt, index| [opt, 6-index]}, :last, :first do |b| %>
        <div>
          <%= b.radio_button %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :comments, "4. Additional comments? [optional]", class: 'lead' %>
      <%= f.text_area :comments, rows: 8, class: 'form-control' %>
    </div>
    <br>
    <div class="form-group">
      <%= f.submit @sign_out_button_text, class: 'btn btn-primary' %>
    </div>
  <% end %>
<% else %>
  <h2>Attendance sign out [solo]</h2>
  <%= form_with model: [@pair_feedback] do |f| %>
    <div class="form-group">
      <p class='text-center'><%= f.submit 'Attendance sign out', class: 'btn btn-primary' %></p>
    </div>
  <% end %>
<% end %>

<p>&nbsp;</p>
