<% if @pairs_without_feedback.any? %>
  <h2>Pair feedback</h2>
  <p>Only Epicodus staff will see your pair feedback, and it will never be shared directly with the person you are giving feedback about. If (and only if) a student's pairs consistently share challenges working with that person, we will share the aggregate, common themes of the feedback with the student - never any individual feedback or anything that could be tied to the person giving the feedback.</p><br>
  <div class='alert alert-info'>
    <p><strong>Pair feedback for <%= @pairs_without_feedback.first.name %></strong></p>
  </div>
  <%= form_with model: [@pair_feedback] do |f| %>
    <%= render 'layouts/errors', object: @pair_feedback %>
    <%= f.hidden_field :pair_id, value: @pairs_without_feedback.first.id %>
    <div class="form-group">
      <%= f.label :q1_response, "1. My pair worked with me throughout the day:", class: 'lead' %><br>
      <%= f.collection_radio_buttons :q1_response, PairFeedback::Q1_OPTIONS.map.with_index(1) {|opt, index| [opt, 6-index]}, :last, :first do |b| %>
        <div>
          <%= b.radio_button %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :q2_response, "2. My pair was polite, considerate, and professional:", class: 'lead' %><br>
      <%= f.collection_radio_buttons :q2_response, PairFeedback::Q2_OPTIONS.map.with_index(1) {|opt, index| [opt, 6-index]}, :last, :first do |b| %>
        <div>
          <%= b.radio_button %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :q3_response, "3. My pair shared driving and considered my ideas:", class: 'lead' %><br>
      <%= f.collection_radio_buttons :q3_response, PairFeedback::Q3_OPTIONS.map.with_index(1) {|opt, index| [opt, 6-index]}, :last, :first do |b| %>
        <div>
          <%= b.radio_button %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :comments, "4. Additional comments? [optional]", class: 'lead' %>
      <%= f.text_area :comments, rows: 8, class: 'form-control' %>
    </div>
    <br>
    <div class="form-group">
      <% if @pairs_without_feedback.count > 1 %>
        <%= f.submit 'Continue to next pair feedback', class: 'btn btn-epicodus' %>
      <% elsif @student.online? %>
        <%= f.submit 'Continue to attendance sign out', class: 'btn btn-epicodus' %>
      <% else %>
      <%= f.submit 'Submit pair feedback', class: 'btn btn-epicodus' %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h2>No remaining pairs</h2>
<% end %>
<p>&nbsp;</p>
