<h1>Please enter your bank account information</h1>

<%= form_tag '/verification', method: :patch do %>
  <div>
    <%= label_tag :first_deposit, "First deposit amount" %>
    <%= text_field_tag :first_deposit, autofocus: true %>
  </div>

  <div>
    <%= label_tag :second_deposit, "Second deposit amount" %>
    <%= text_field_tag :second_deposit %>
  </div>

  <div>
    <%= submit_tag "Confirm account & start payments", id: "account-verify-button", class: 'btn' %>
  </div>
<% end %>
