<h1>Please enter your bank account information</h1>

<%= render '/layouts/errors', :object => @verification %>

<%= form_for @verification, url: '/verification', method: :patch do |f| %>
  <div>
    <%= f.label :first_deposit, "First deposit amount" %>
    <%= f.text_field :first_deposit, autofocus: true %>
  </div>

  <div>
    <%= f.label :second_deposit, "Second deposit amount" %>
    <%= f.text_field :second_deposit %>
  </div>

  <div>
    <%= f.submit "Confirm account & start payments", id: "account-verify-button", class: 'btn' %>
  </div>
<% end %>
