<h1>Credit card information</h1>

<p>
  After entering your credit card information, you can start making payments.
</p>

<%= render '/layouts/errors', :object => @credit_card %>

<%= form_for @credit_card, url: credit_card_path do |f| %>
  <div  class='form-group'>
    <%= f.label :name, "Name on card" %>
    <%= f.text_field :name, nil, autofocus: true %>
  </div>

  <div  class='form-group'>
    <%= f.label :card_number %>
    <%= f.text_field :card_number %>
  </div>

  <div class='row'>
    <div class='span2 cc-form'>
      <%= f.label :expiration_month %>
      <%= f.text_field :expiration_month %>
    </div>

    <div class='span2 cc-form'>
      <%= f.label :expiration_year %>
      <%= f.text_field :expiration_year %>
    </div>

    <div class='span2 cc-form'>
      <%= f.label :cvc_code, "CVC code" %>
      <%= f.text_field :cvc_code %>
    </div>
  </div>

  <div  class='form-group'>
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
  </div>

  <%= f.hidden_field :stripe_token %>

  <div class="submit">
    <%= f.submit "Add credit card", class: "btn", id: "card-submit-button" %>
  </div>
<% end %>
