<h1>Credit card information</h1>

<p>
  After entering your credit card information, you can start making payments.
</p>

<%= render '/layouts/errors', :object => @credit_card %>

<%= form_for @credit_card, url: credit_card_path do |f| %>
  <div>
    <%= label_tag :name, "Name on card" %>
    <%= text_field_tag :name, nil, name: nil, autofocus: true %>
  </div>

  <div>
    <%= label_tag :card_number %>
    <%= text_field_tag :card_number, name: nil %>
  </div>

  <div class='row'>
    <div class='span2 cc-form'>
      <%= label_tag :expiration_month %>
      <%= text_field_tag :expiration_month, name: nil %>
    </div>

    <div class='span2 cc-form'>
      <%= label_tag :expiration_year %>
      <%= text_field_tag :expiration_year, name: nil %>
    </div>

    <div class='span2 cc-form'>
      <%= label_tag :cvv_code, "CVV code" %>
      <%= text_field_tag :cvv_code, name: nil %>
    </div>
  </div>

  <div>
    <%= label_tag :zip_code %>
    <%= text_field_tag :zip_code %>
  </div>

  <%= f.hidden_field :stripe_token %>

  <div><%= f.submit "Add credit card", class: "btn", id: "card-submit-button" %></div>
<% end %>
