<%= form_tag sign_in_path do %>
  <%= hidden_field_tag :signing_in, value: true %>
  <div class="form-group">
    <%= label_tag :pair_id, 'Who are you pairing with today?' %><br>
    <%= select_tag :pair_id, options_for_select(current_student.course.students_all_locations.where.not(id: current_student.id).order(:name).map {|s| [s.name, s.id]}.prepend(['-Solo-', ''])), { prompt: 'Please select', class: 'form-control', id: 'peer-eval-select-name', required: true } %>
  </div>
  <div class="form-group">
    <%= label_tag :pair_id, 'Are you working with a third person today? (optional)' %><br>
    <%= select_tag :pair2_id, options_for_select(current_student.course.students_all_locations.where.not(id: current_student.id).order(:name).map {|s| [s.name, s.id]}), { prompt: 'Please select', class: 'form-control', id: 'peer-eval-select-name-2' } %>
  </div>
  <%= submit_tag button_text, class: "btn btn-epicodus btn-block" %>
<% end %>
