<h1 class="text-center">Sign Out</h1>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= form_tag sign_out_path do %>
      <%= hidden_field_tag :signing_out, value: true %>
      <div class="form-group">
        <%= label_tag :email %>
        <%= text_field_tag 'email', nil, placeholder: "Email", class: "form-control input-lg" %>
      </div>
      <div class="form-group">
        <%= label_tag :password %>
        <%= password_field_tag 'password', nil, placeholder: "Password", class: "form-control input-lg" %>
      </div>
      <%= submit_tag 'Sign Out', class: "btn btn-primary btn-lg btn-block" %>
    <% end %>
  </div>
</div>
