<h3>Internships</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="student-div student-internships">
      <div class="alert alert-info">
        <p class="text-center">Rank internships by dragging rows into the correct order</p>
      </div>

      <%= form_for @student, html: { class: 'update-multiple' } do |f| %>
        <%= render 'layouts/errors', object: @student %>
        <% if @course.internships.any? %>
          <div class="form-group ratings-button">
            <%= f.submit 'Save rankings', class: 'btn btn-success'%>
          </div>
        <% end %>
        <div class="row">
          <div class="col-xs-10">
            <table class="table datatable">
              <thead>
                <tr>
                  <th>Ranking</th>
                  <th>Company</th>
                  <th>Technologies</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="sortable-list">
                <% @course.internships.each do |internship| %>
                  <tr id="internship_<%= internship.id %>" class="sortable-list-item">
                    <%= f.fields_for :ratings, Rating.find_or_initialize_by(internship_id: internship.id, student_id: @student.id) do |ff| %>
                      <td class="col-xs-1">
                        <%= Rating.find_or_initialize_by(internship_id: internship.id, student_id: @student.id).number %>
                      </td>
                      <td class="col-xs-4"><%= link_to internship.name, "##{internship.id}", data: { toggle: "modal" } %></td>
                      <td class="col-xs-6"><%= internship.tracks_ordered_by_description %></td>
                      <td><span class="pull-right glyphicon glyphicon-menu-hamburger"></span></td>

                      <%= ff.hidden_field :internship_id, value: internship.id %>
                      <%= ff.hidden_field :number, class: 'sortable-number' %>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <% if @course.internships.any? %>
          <div class="form-group ratings-button">
            <%= f.submit 'Save rankings', class: 'btn btn-success'%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
