<%= form_for [@code_review, @submission] do |f| %>
  <%= render 'layouts/errors', object: @submission %>
  <%= f.hidden_field :needs_review, value: true %>
  <%= f.hidden_field :student_id, value: current_student.id if current_student %>

  <div class="form-group">
    <% if @code_review.course.internship_course? %>
      <%= f.label :link do %>
        Submission link
        <span class="text-info">(not required for some internship submissions)</span>
      <% end %>
    <% else %>
      <%= f.label :link, 'Submission link' %>
    <% end %>
    <%= f.text_field :link, class: 'form-control', placeholder: 'http://github.com/your-username/your-repository' %>
  </div>

  <%= f.submit @submission.new_record? ? 'Submit' : 'Resubmit', class: 'btn btn-info' %>
<% end %>
