<%= form_for [@code_review, @submission] do |f| %>
  <%= render 'layouts/errors', object: @submission %>
  <%= f.hidden_field :needs_review, value: true %>
  <%= f.hidden_field :student_id, value: current_student.id if current_student %>

  <div class="form-group">
    <%= f.label :link, 'Submission link' %>
    <%= f.text_field :link, class: 'form-control', placeholder: 'http://github.com/your-username/your-repository' %>
  </div>

  <div class="form-group">
    <%= f.label :blurb, "Please summarize your experience with this project in a few short sentences. Feel free to highlight challenges you faced, or questions you have. This is required, but will not be graded or contribute to your grade." %>
    <%= f.text_area :blurb, rows: 5, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <p>
      I confirm that I have read and understand the <a href="https://www.learnhowtoprogram.com/lessons/independent-projects-and-code-reviews" target=_blank>guidelines</a> for Independent Projects.
      &nbsp;&nbsp;<%= check_box_tag nil, 1, checked = false, { required: true, id: 'understand-guidelines' } %>
    </p>
    <p>&nbsp;</p>
  </div>

  <%= f.submit @submission.new_record? ? 'Submit' : 'Resubmit', class: 'btn btn-info' %>
<% end %>
