<%= div_for submission, class: 'row' do %>
  <div class="span3"><%= submission.user.name %></div>
  <div class="span2"><%= link_to 'view code', submission.link, target: '_blank' %></div>
  <div class="span2"><%= time_ago_in_words(submission.updated_at) %> ago</div>
  <div class="span1"><%= link_to 'Review', new_submission_review_path(submission), remote: true, class: 'new_review_link btn btn-primary btn-small' %></div>
<% end %>
