<div class='panel panel-body'>
  <h1><%= @code_review.course.internship_course? ? 'Career' : 'Code' %> Review Accomodation</h1>

  <%= form_with model: @code_review_visibility, url: code_review_visibility_path(course_id: @code_review.course_id, code_review_id: @code_review.id, student_id: @student.id), method: :patch do |f| %>
    <%= f.hidden_field :special_permission, value: !@code_review_visibility.special_permission %>
    <% if @code_review_visibility.special_permission %>
      <h2>Remove <strong><%= @code_review.title %></strong> visibility marker for <strong><%= @student.name %></strong>?</h2>
      <%= f.submit "Remove #{@code_review.title.upcase} visibility marker for #{@student.name.upcase}", class: 'btn btn-danger', id: 'special-permission-delete', data: { confirm: "Remove '#{@code_review.title}' visibility marker for #{@student.name}?" } %>
    <% else %>
      <h2>Make <strong><%= @code_review.title %></strong> visible for <strong><%= @student.name %></strong>?</h2>
      <%= f.submit "Make #{@code_review.title.upcase} visible for #{@student.name.upcase}", class: 'btn btn-info', id: 'special-permission-create', data: { confirm: "Make '#{@code_review.title}' visible for #{@student.name}?" } %>
    <% end %>
  <% end %>

<% unless @student.submission_for(@code_review) %>
  <br><hr>
  <div class='panel panel-body'>
    <h1><%= @code_review.course.internship_course? ? 'Career' : 'Code' %> Review Exemption</h1>
    <h2>Exempt <strong><%= @student.name %></strong> from <strong><%= @code_review.title %></strong>?</h2>
    <div class='well'>
      <strong><em><%= @student.name %></em> has not submitted &ldquo;<em><%= @code_review.title %></em>&rdquo;.<br>
      This form should only be used to exempt early graduates from a code review.</strong>
    </div>
    <%= form_with model: [@code_review, @student.submissions.new] do |f| %>
      <%= f.hidden_field :exempt, value: true %>
      <%= f.hidden_field :link, value: 'http://exempt' %>
      <%= f.hidden_field :review_status, value: 'pass' %>
      <%= f.hidden_field :student_id, value: @student.id %>
      <%= f.hidden_field :needs_review, value: false %>
      <%= f.submit "Exempt #{@student.name.upcase} from #{@code_review.title.upcase}", class: 'btn btn-primary',  data: { confirm: "#{@student.name} has not submitted '#{@code_review.title}'. Are you sure you want to pass them anyway?" } %>
    <% end %>
  </div>
<% end %>
