<div class="alert alert-info">
  <p class="text-center">Please give all students a ranking between 1 and 6. You may use a number as many times as you'd like.<br>Ranking 1-2 would be <strong>best fit</strong>, ranking 3-4 would be <strong>good fit</strong>, ranking 5-6 would be <strong>not a good fit</strong>.</p>
</div>
<div class="alert alert-danger">
  <p class="text-center"><strong>Feedback and rankings will be anonymously displayed to students.</strong><br>Students use this to gauge what areas they might need more practice in, <br>what they're doing well, and to help them as they begin new careers in the industry.</p>
</div>
<%= form_tag update_multiple_interview_assignments_path, method: :patch, class: 'update-multiple' do %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Interviewee</th>
          <th>Feedback <span class="text-danger">(required)</span></th>
          <th>Ranking <span class="text-danger">(required)</span></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% course.interview_assignments.for_internship(internship).reorder(:student_id).each do |interview_assignment| %>
          <tr>
            <%= fields_for 'interview_assignments[]', interview_assignment do |f| %>
              <td class="col-md-2">
                <%= interview_assignment.student.name %>
              </td>
              <td class="col-md-8">
                <div class="form-group">
                  <%= f.text_area :feedback_from_company, rows: 4, class: 'form-control', id: 'company-interview-feedback' %>
                </div>
              </td>
              <td class="col-md-2">
                <%= f.number_field :ranking_from_company, min: 1, max: 6, class: 'form-control', id: 'company-interview-ranking' %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= hidden_field_tag :course_id, course.id %>

  <% if course.interview_assignments.any? && course.active? %>
    <%= submit_tag 'Save rankings', class: "btn btn-info" %>
  <% end %>
<% end %>
