<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Internship periods for <%= current_company.internships.first.name %></h1>
    <% current_company.internships.each do |internship| %>
      <% if internship.other_internship_courses.any? %>
        <div class="form-group">
          <%= form_for @course_internship do |f| %>
            <%= render 'layouts/errors', object: @course_internship %>
            <div class="row">
              <div class="col-md-6">
                <%= f.hidden_field :company_id, value: current_company.id %>
                <%= f.hidden_field :internship_id, value: internship.id %>
                <div class="input-group">
                  <%= f.collection_select :course_id, internship.other_internship_courses, :id, :description, { include_blank: 'Join an internship period' }, { class: 'form-control', required: true } %>
                  <span class="input-group-btn">
                    <%= f.submit 'Join', class: 'btn btn-info' %>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p><span class="text-primary">* You've signed up for all internship periods</span></p>
      <% end %>

      <p><%= link_to 'Edit internship details', edit_internship_path(internship), class: 'btn btn-success' %></p>

      <% internship.courses.order(:description).reverse.each do |course| %>
        <% if course.active? %>
          <h3><%= course.description %></h3>
          <div class="panel panel-info">
        <% else %>
          <h3><%= course.description %> - Inactive</h3>
          <div class="panel panel-primary">
        <% end %>
          <div class="panel-body">
            <%= form_tag update_multiple_interview_assignments_path, method: :patch do %>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Ranking</th>
                      <th>Interviewee</th>
                    </tr>
                  </thead>
                  <% course.students.assigned_interviews_for(internship).each do |student| %>
                    <tbody>
                      <tr>
                        <td class="col-md-3">
                          <%= fields_for 'interview_assignments[]', InterviewAssignment.find_or_initialize_by(student_id: student.id, internship_id: internship.id) do |f| %>
                            <%= InterviewAssignment.find_or_initialize_by(student_id: student.id, internship_id: internship.id).company_ranking %>
                          <% end %>
                        </td>
                        <td><%= student.name %></td>
                      </tr>
                    </tbody>
                  <% end %>
                </table>
              </div>
              <%= hidden_field_tag :course_id, course.id %>

              <% if course.students.assigned_interviews_for(internship).any? %>
                <%= submit_tag 'Save order', class: "btn btn-info" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
