<% @internships.each do |internship| %>
  <h1>
    <%= internship.name %> Internships
    <%= link_to 'Edit', edit_internship_path(internship) %>
  </h1>

  <% if internship.other_internship_courses.available_internship_courses.any? %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form_for @course_internship do |f| %>
            <%= render 'layouts/errors', object: @course_internship %>
            <%= f.hidden_field :company_id, value: @company.id %>
            <%= f.hidden_field :internship_id, value: internship.id %>
            <div class="input-group">
              <%= f.collection_select :course_id, internship.other_internship_courses.available_internship_courses, :id, :description_and_office, { include_blank: 'Join an internship period' }, { class: 'form-control', required: true } %>
              <span class="input-group-btn">
                <%= f.submit 'Join', class: 'btn btn-info' %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <ul class="nav nav-pills">
    <% if params[:previous] %>
      <li><%= link_to 'Current', company_path(@company, current: true) %></li>
      <li class="active"><%= link_to 'Previous', company_path(@company, previous: true) %></li>
    <% else %>
      <li class="active"><%= link_to 'Current', company_path(@company, current: true) %></li>
      <li><%= link_to 'Previous', company_path(@company, previous: true) %></li>
    <% end %>
  </ul>

  <% determine_internship_courses(internship).each do |course| %>
    <h3><%= course.description_and_office %></h3>

    <div class="panel panel-default">
      <div class="panel-body">
        <% if course.internship_assignments.for_internship(internship).any? %>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr><th>Interns</th></tr>
              </thead>
              <tbody>
                <% course.internship_assignments.for_internship(internship).each do |internship_assignment| %>
                  <tr><td><%= internship_assignment.student.name %></td></tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% elsif course.interview_assignments.for_internship(internship).any? && !course.internship_assignments.for_internship(internship).any? && !course.active? %>
          No intern assignments
        <% end %>
        <% if course.interview_assignments.for_internship(internship).any? %>
          <% if params[:previous] %>
            <%= render 'companies/previous_internships', course: course, internship: internship %>
          <% else %>
            <%= render 'companies/current_internships', course: course, internship: internship %>
          <% end %>
        <% else %>
          No interview assignments
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
