<% current_company.internships.each do |internship| %>
  <h1><%= internship.name %></h1>
  <h4><%= internship.tracks_ordered_by_description %></h4>
  <h4><%= pluralize(internship.number_of_students, 'student') %> requested</h4>
  <p><%= link_to 'Edit internship details', edit_internship_path(internship) %></p>

  <div class="row">
    <div class="col-md-3">
      <% if internship.other_internship_courses.any? %>
        <div class="form-group">
          <%= form_for @course_internship do |f| %>
            <%= render 'layouts/errors', object: @course_internship %>
            <%= f.hidden_field :company_id, value: current_company.id %>
            <%= f.hidden_field :internship_id, value: internship.id %>
            <div class="input-group">
              <%= f.collection_select :course_id, internship.other_internship_courses, :id, :description, { include_blank: 'Join an internship period' }, { class: 'form-control', required: true } %>
              <span class="input-group-btn">
                <%= f.submit 'Join', class: 'btn btn-info' %>
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% if internship.courses.active_courses.any? %>
      <%= render 'companies/rank_students_form', internship: internship %>
    <% end %>

    <% if internship.courses.inactive_courses.any? %>
      <div class="col-md-6">
        <h2>Previous Internships</h2>
        <% internship.courses.inactive_courses.reverse.each do |course| %>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><%= course.description %></h3>
              </div>
              <div class="panel-body">
                <% if course.students.assigned_interviews_for(internship).any? %>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Ranking</th>
                          <th>Interviewee</th>
                          <th>Feedback</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% course.students.assigned_interviews_for(internship).each do |student| %>
                          <tr>
                            <td class="col-md-1">
                              <%= InterviewAssignment.find_or_initialize_by(student_id: student.id, internship_id: internship.id).ranking_from_company %>
                            </td>
                            <td><%= student.name %></td>
                            <td class="col-md-6"><%= InterviewAssignment.find_or_initialize_by(student_id: student.id, internship_id: internship.id).feedback_from_company %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                <% else %>
                  No interview assignments
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
