<% current_company.internships.each do |internship| %>
  <p><%= link_to 'Edit internship details', edit_internship_path(internship), class: 'btn btn-success' %></p>

  <% if internship.other_internship_courses.any? %>
    <div class="form-group">
      <%= form_for @course_internship do |f| %>
        <%= render 'layouts/errors', object: @course_internship %>
        <div class="row">
          <div class="col-md-4">
            <%= f.hidden_field :company_id, value: current_company.id %>
            <%= f.hidden_field :internship_id, value: internship.id %>
            <div class="input-group">
              <%= f.collection_select :course_id, internship.other_internship_courses, :id, :description, { include_blank: 'Join an internship period' }, { class: 'form-control', required: true } %>
              <span class="input-group-btn">
                <%= f.submit 'Join', class: 'btn btn-info' %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
  <p><span class="text-primary">* You've signed up for all internship periods</span></p>
  <% end %>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Your internship periods</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% internship.courses.order(:description).reverse.each do |course| %>
          <tr>
            <td class="col-md-4">
              <%= course.description %>
            </td>
            <td>
              <% if !course.active? %>
                <span class="text-info">Finished</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
