<div class="row">
  <div class="col-xs-12">
    <header>
      <h1><%= current_course.description %> Student Sign-in </h1>
    </header>
  </div>
</div>

<div class="well">
  <h2>Pair log in</h2>
  <div class="row">
    <div class="col-xs-4">
      <%= render 'form' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= div_for @students, class: 'student-attendance-div well col-xs-2' do |student| %>
      <h3><%= student.name %></h3>
      <% if student.signed_in_today? %>
        <p class="text-success"><span class="check">&#x2713;</span> Signed in</p>
          <% if student.signed_out_today? %>
            <p class="text-success"><span class="check">&#x2713;</span> Signed out</p>
          <% else %>
            <%= form_for student.attendance_records.today.first do |f| %>
              <%= f.hidden_field :student_id, value: student.id %>
              <%= f.hidden_field :signing_out, value: true %>
              <%= f.submit "I'm leaving", class: 'btn btn-danger' %>
            <% end %>
          <% end %>
      <% else %>
        <%= form_for AttendanceRecord.new do |f| %>
          <%= f.hidden_field :student_id, value: student.id %>
          <%= f.submit "I'm soloing", class: 'btn btn-info' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
