<div class="row">
  <div class="span12">
    <header>
      <h1><%= current_cohort.description %> Student Sign-in </h1>
    </header>
  </div>
</div>

<div class="row">
  <%= div_for @students, class: 'well span3' do |student| %>
      <% if student.signed_in_today? %>
        <p class="text-success pull-right">&#x2713;&nbsp;&nbsp;Signed in</p>
      <% else %>
        <%= form_for AttendanceRecord.new do |f| %>
          <%= f.hidden_field :student_id, value: student.id %>
          <%= f.submit "I'm here", class: 'btn btn-primary pull-right' %>
        <% end %>
      <% end %>
        <%= gravatar_tag student.email, :size => 85, :html => { :class => 'img-rounded' }, :default => "http://placehold.it/85&text=%20" %>
    <h2><%= student.name %></h2>
  <% end %>
</div>
