<p>Please select your pair(s) for today:</p>

<%= form_tag sign_in_path do %>
  <%= hidden_field_tag :signing_in, value: true %>

  <div class="form-group">
    <%= select_tag 'pair_ids[]', options_for_select(@other_students.order(:name).map {|s| [s.name, s.id]}.prepend(['-', '']), selected: @pairs_today.try(:first).try(:id)), { class: 'form-control', id: 'pair-select-1' } %>
  </div>

  <div class="form-group">
    <%= select_tag 'pair_ids[]', options_for_select(@other_students.order(:name).map {|s| [s.name, s.id]}.prepend(['-', '']), selected: @pairs_today.try(:second).try(:id)), { class: 'form-control', id: 'pair-select-2' } %>
  </div>

  <div class="form-group">
    <%= select_tag 'pair_ids[]', options_for_select(@other_students.order(:name).map {|s| [s.name, s.id]}.prepend(['-', '']), selected: @pairs_today.try(:third).try(:id)), { class: 'form-control', id: 'pair-select-3' } %>
  </div>

  <div class="form-group">
    <%= select_tag 'pair_ids[]', options_for_select(@other_students.order(:name).map {|s| [s.name, s.id]}.prepend(['-', '']), selected: @pairs_today.try(:fourth).try(:id)), { class: 'form-control', id: 'pair-select-4' } %>
  </div>

  <%= submit_tag button_text, class: "btn btn-epicodus btn-block" %>
<% end %>
