<% if is_weekday? && IpLocation.is_local_computer?(request.env['HTTP_CF_CONNECTING_IP'] || request.remote_ip) %>
  <h2 id="attendance-signin-label" class="text-center">Attendance sign in</h2>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_tag sign_in_path do %>
        <%= hidden_field_tag :signing_in, value: true %>
        <div class="well">
          <div class="form-group">
            <%= label_tag :email1, "Email (first student)" %>
            <%= text_field_tag 'email1', nil, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :password1, "Password (first student)" %>
            <%= password_field_tag 'password1', nil, autocomplete: "off", class: "form-control" %>
          </div>
        </div>
        <div class="well">
          <div class="form-group">
            <%= label_tag :email2, "Email (second student)" %>
            <%= text_field_tag 'email2', nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :password2, "Password (second student)" %>
            <%= password_field_tag 'password2', nil, autocomplete: "off", class: "form-control" %>
          </div>
        </div>
        <div class="well">
          <div class="form-group">
            <%= label_tag :station %>
            <%= text_field_tag :station, nil, class: "form-control" %>
          </div>
        </div>
        <%= submit_tag 'Attendance sign in', class: "btn btn-epicodus btn-block" %>
      <% end %>
    </div>
  </div>
<% else %>
  <h2 id="attendance-signin-label" class="text-center">Attendance sign in unavailable.</h2>
<% end %>
