<h1>Reviews per admin</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <h3>
      <%= link_to reports_teachers_path(week: @start_date - 1.week), class: "btn btn-default", id: "previous-week" do %>
        <i class="glyphicon glyphicon-arrow-left"></i>
      <% end %>
      <%= @start_date.strftime('%B %-d') %> &mdash; <%= (@start_date + 6.days).strftime('%B %-d') %>
      <%= link_to reports_teachers_path(week: @start_date + 1.week), class: "btn btn-default", id: "next-week" do %>
        <i class="glyphicon glyphicon-arrow-right"></i>
      <% end %>
    </h3>

    <div class="table-responsive">
      <table class="code-review-report-datatable table table-hover">
        <thead>
          <tr>
            <th>Teacher</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
            <th>Total</th>
          </tr>
        </thead>

        <tbody>
          <% @teachers.each do |teacher| %>
            <tr>
              <td class="col-md-2"><%= teacher.name %></td>
              <% 7.times do |wday| %>
                <td class="col-md-1">
                  <% if teacher.reviews.where('created_at BETWEEN ? AND ?', (@start_date + wday.days).beginning_of_day, (@start_date + wday.days).end_of_day).any? %>
                    <%= link_to teacher.reviews.where('created_at BETWEEN ? AND ?', (@start_date + wday.days).beginning_of_day, (@start_date + wday.days).end_of_day).count, reports_teacher_path(teacher, day: @start_date + wday.days) %>
                  <% end %>
                </td>
              <% end %>
              <td class="col-md-1">
                <%= teacher.reviews.where('created_at BETWEEN ? AND ?', @start_date.beginning_of_day, (@start_date + 6.days).end_of_day).count %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
