<div class="row" id='sign-in-form'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: 'sign-in' }) do |f| %>
    <div class="">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <% if request.path_info.include? 'admin' %>
        <div class="form-group">
          <%= f.label :otp_attempt, 'Two-factor auth code' %>
          <%= f.text_field :otp_attempt, autocomplete: "off", class: "form-control" %>
        </div>
      <% end %>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="form-group">
        <% if request.path_info.include? 'admin' %>
        <%= f.submit "Staff sign in", class: 'btn btn-epicodus btn-block', id: 'solo-sign-in-button' %>
        <% elsif request.path_info.include? 'companies' %>
          <%= f.submit "Company sign in", class: 'btn btn-epicodus btn-block', id: 'solo-sign-in-button' %>
        <% else %>
          <%= f.submit "Student sign in", class: 'btn btn-epicodus btn-block', id: 'solo-sign-in-button' %>
        <% end %>
      </div>

      <div class="form-group">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>
