<h2>Sign in</h2>

<div class="row">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: 'sign-in' }) do |f| %>
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true , class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit "Sign in", class: 'btn btn-info' %>
      </div>

      <div class="form-group">
        <%= render "devise/shared/links" %>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <%= label :pair, :email %>
        <%= email_field :pair, :email, autofocus: true , class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label :pair, :password %>
        <%= password_field :pair, :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Pair sign in", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
