<h1>Sign in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => "sign-in"}) do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div><label class="checkbox">
      <input type="checkbox"> Remember me?
    </label></div>
  <% end -%>

  <div><%= f.submit "Sign in", class: "btn" %></div>
<% end %>

<%= render "devise/shared/links" %>
