
<%= form_for @bank_account, url: bank_accounts_path do |f| %>
  <%= render '/layouts/errors', object: @bank_account %>
  <div class="form-group">
    <%= label_tag :account_holder_name, "Name on account" %>
    <%= text_field_tag :account_holder_name, nil, { autofocus: true, class: 'form-control', required: true } %>
  </div>

  <div class="form-group">
    <%= label_tag :account_holder_type, "Account type" %>
    <%= select_tag :account_holder_type, options_for_select(['Individual', 'Company']), { class: 'form-control', required: true } %>
  </div>

  <div class="form-group">
    <%= label_tag :routing_number %>
    <%= text_field_tag :routing_number, nil, { class: 'form-control', required: true } %>
  </div>

  <div class="form-group">
    <%= label_tag :bank_account_number %>
    <%= text_field_tag :bank_account_number, nil, { class: 'form-control', required: true } %>
  </div>

  <%= hidden_field_tag :country, value = "US"  %>
  <%= hidden_field_tag :currency, value = "USD" %>
  <%= f.hidden_field :stripe_token %>

  <p>By clicking Verify bank account, you authorize Epicodus, Inc. to electronically debit your bank account and, if necessary, electronically credit your account to correct erroneous debits. To revoke your authorization, email <%= mail_to ENV['FROM_EMAIL_PAYMENT'] %>.</p>

  <%= f.submit "Verify bank account", class: "btn btn-info", id: "account-submit-button" %>
<% end %>
