<h1>Confirm your account</h1>

<p>Before filling out this form, you should have recieved 2 small deposits in your bank account. This usually takes around 4 business days from when you first entered your account information. Please enter those 2 deposit amounts below so we can confirm your account. You won't be charged anything at this time.</p>

<p>After 3 failed attempts, you will be unable to verify your bank account. If this happens, please contact us.</p>

<%= render '/layouts/errors', :object => @bank_account %>

<%= form_for @bank_account do |f| %>
  <div>
    <%= f.label :first_deposit, "First deposit amount in cents" %>
    $0.<%= f.text_field :first_deposit, autofocus: true %>
  </div>

  <div>
    <%= f.label :second_deposit, "Second deposit amount in cents" %>
    $0.<%= f.text_field :second_deposit %>
  </div>

  <div>
    <%= f.submit "Confirm account", id: "account-verify-button", class: 'btn' %>
  </div>
<% end %>
