<h1>Bank account information</h1>

<p>
  After entering your bank account information, two small test deposits will be
  made in your account to confirm that it is yours. When you receive those
  deposits, you can return to this site to start your payments.
</p>

<p><%= image_tag "check.png" %></p>

<%= form_for @bank_account, url: bank_account_path do |f| %>
  <div>
    <%= label_tag :name, "Name on account" %>
    <%= text_field_tag :name, nil, autofocus: true %>
  </div>

  <div>
    <%= label_tag :routing_number, "Routing number" %>
    <%= text_field_tag :routing_number %>
  </div>

  <div>
    <%= label_tag :bank_account_number, "Bank account number" %>
    <%= text_field_tag :bank_account_number %>
  </div>

  <%= f.hidden_field :account_uri %>

  <div><%= f.submit "Verify bank account", class: "btn" %></div>
<% end %>
