<h2><%= t 'devise.invitations.edit.header' %></h2>
<div class='row'>
  <div class='col-md-6'>
    <%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :invitation_token %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <% if resource.is_a?(Student) %>
        <div class="form-group">
          <%= f.label :plan_id, "Payment Plan" %>
          <% if resource.course.start_date < Time.new(2017, 5, 22).to_date %>
            <% if resource.course.parttime? %>
              <%= f.select(:plan_id, Plan.active.parttime.old_rates.collect {|p| [ p.name, p.id ] }, {}, { class: 'form-control' }) %>
            <% else %>
              <%= f.select(:plan_id, Plan.active.fulltime.old_rates.collect {|p| [ p.name, p.id ] }, { selected: Plan.active.upfront.old_rates.first.id }, { class: 'form-control' }) %>
            <% end %>
          <% else %>
            <% if resource.course.parttime? %>
              <%= f.select(:plan_id, Plan.active.parttime.new_rates.collect {|p| [ p.name, p.id ] }, {}, { class: 'form-control' }) %>
            <% else %>
              <%= f.select(:plan_id, Plan.active.fulltime.new_rates.collect {|p| [ p.name, p.id ] }.reverse, { selected: Plan.active.upfront.new_rates.first.id }, { class: 'form-control' }) %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <%= f.submit 'Submit', class: 'btn btn-info' %>
    <% end %>
  </div>
</div>
