<h2>Welcome to Epicodus!</h2>
<div class='row'>
  <div class='col-md-6'>
    <%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :invitation_token %>
      <h4>Please provide the following information to register for Epicenter:</h4>
      <br>
      <div class="form-group">
        <%= f.label :legal_name %>
        <%= f.text_field :legal_name, autofocus: true, required: true, class: 'form-control' %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <br>
      <div class="form-group">
        I want to set up <btn class="btn-link link-unstyled tooltip-trigger" data-toggle="tooltip" title="Two-factor authentication adds security to your account by prompting you for a one-time passcode during sign-in.">two-factor authentication</btn>.
        <label class="switch">
          <%= check_box_tag 'setup_2fa', 'true', false, id: 'twofa-checkbox' %>
          <span class="slider round"></span>
        </label>
        <p id='twofa-note' class='small hide'>You'll be prompted to set up two-factor authentication later in this process.</p>
        <p id='twofa-note-blank' class='small'>&nbsp;</p>
      </div>
      <br>
      <%= f.submit 'Submit', class: 'btn btn-epicodus' %>
    <% end %>
  </div>
</div>
