<h2><%= t 'devise.invitations.edit.header' %></h2>
<div class='row'>
  <div class='span9'>
  <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :invitation_token %>

    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <% if resource.is_a?(Admin) %>
      <div>
        <%= f.label :current_cohort_id %>
        <%= f.select(:cohort_id, Cohort.all.collect {|c| [ c.description, c.id ] }) %>
      </div>
    <% end %>

    <% if resource.is_a?(Student) %>
      <div>
        <%= f.label :cohort_id %>
        <%= f.select(:cohort_id, Cohort.all.collect {|c| [ c.description, c.id ] }) %>
      </div>

      <div>
        <%= f.label :plan_id %>
        <%= f.select(:plan_id, Plan.all.collect {|p| [ p.name, p.id ] }) %>
      </div>
    <% end %>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div><%= f.submit "Submit" %></div>
  <% end %>
  </div>
</div>
