<% if resource.is_a?(Student) %>
  <h1><%= 'Invite a student' %></h1>
  <div class="row">
    <div class="well">
      <p>This initiates an invitation the invitation process via Zapier.</p>
      <p><strong>This does not modify the student's status in CRM; be sure the student's status is set correctly in CRM.</strong></p>
      <p><strong>If the student was previously subscribed to the CRM invitation email sequence, it will not be able to re-subscribe the student; you will need to manually send the appropriate template(s).</strong></p>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post } do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <% resource.class.invite_key_fields.each do |field| -%>
              <div class="form-group">
                <%= f.label field, class: "control-label" %>
                <%= f.text_field field, class: "form-control", autofocus: true %>
              </div>
            <% end -%>

            <%= f.submit 'Invite student', class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
