<% if resource.is_a?(Student) %>
  <h2><%= 'Invite a student' %></h2>
  <p><%= link_to 'Invite an admin', new_admin_invitation_path %></p>
<% else %>
  <h2><%= 'Invite an admin' %></h2>
<% end %>

<div class="row">
  <div class="col-md-6">

    <%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post } do |f| %>
      <%= devise_error_messages! %>

      <% if resource.is_a?(Student) %>
        <div class="form-group">
          <%= f.label :course_id, class: "control-label" %>
          <%= f.select :course_id, Course.current_and_future_courses.reverse.collect {|c| [ c.teacher_and_description, c.id ] }, {}, { class: "form-control" } %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name, class: "control-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

    <% resource.class.invite_key_fields.each do |field| -%>
      <div class="form-group">
        <%= f.label field, class: "control-label" %>
        <%= f.text_field field, class: "form-control" %>
      </div>
    <% end -%>

      <% if resource.is_a?(Student) %>
        <%= f.submit 'Invite student', class: "btn btn-info" %>
      <% else %>
        <%= f.submit 'Invite admin', class: "btn btn-info" %>
      <% end %>
    <% end %>
  </div>
</div>
