<div class="row flex-container">
  <%= form_for @demographic_info, url: {controller: "demographics", action: "create"} do |f| %>
    <%= render 'layouts/custom_errors', object: @demographic_info %>

    <div class="well">
      <h4 class="text-center"><strong>Please provide the following information.</strong></h4>
      <p class="text-center small">Questions marked with an asterisk (<span class='text-danger'><strong>*</strong></span>) are required.</p>
      <hr>

      <div class="form-group required">
        <%= f.label :address, "What's your address?" %>
        <div class="flex-container">
          <%= f.text_field :address, required: true, placeholder: 'Street address', value: @address, class: 'flex-item address' %>
          <%= f.text_field :city, required: true, placeholder: 'City', value: @city, class: 'flex-item city' %>
          <%= f.text_field :state, required: true, placeholder: 'State / Province / Region', value: @state, class: 'flex-item state' %>
          <%= f.text_field :zip, required: true, placeholder: 'Zip / Postal Code', value: @zip, class: 'flex-item zip' %>
          <%= f.select :country, options_for_select(DemographicInfo::COUNTRY_OPTIONS, selected: @country || 'US'), {}, {required: true, class: 'flex-item country'} %>
        </div>
      </div>

      <div class="form-group required">
        <%= f.label :birth_date, "Birth date (mm/dd/yyyy)" %>
        <%= f.date_field :birth_date, required: true, value: @birth_date %>
      </div>

      <div class="form-group">
        <%= f.label :ssn, "Social Security Number" %>
        <%= f.text_field :ssn, autocomplete: 'off', inputmode: 'numeric', placeholder: 'xxx-xx-xxxx', value: nil, pattern: '\d{3}-\d{2}-\d{4}', maxlength: 11, size: 15, title: 'xxx-xx-xxxx' %>
        <p class="small">Note: We are required by law to ask students for their social security number, and we report it to the governments of Oregon and Washington states. Their agencies use it to measure outcomes of our program. You may choose not to provide your social security number with no penalty. We take utmost precaution with your social security number, including encrypting it before storing it.</p>
      </div>

      <div class="form-group required">
        <%= f.label :education, "What is your highest level of prior education?" %>
        <%= f.select :education, options_for_select(DemographicInfo::EDUCATION_OPTIONS, selected: @education), include_blank: true, required: true %>
      </div>

      <div class="form-group" id="cs_degree">
        <label class="checkbox-inline">
          <%= f.check_box :cs_degree %>
          <%= f.label :cs_degree, "I have a computer science degree." %>
        </label>
      </div>

      <div class="form-group">
        <label class="checkbox-inline">
          <%= f.check_box :disability %>
          <%= f.label :disability, "I have a disability, defined as a physical or mental impairment which substantially limits one or more major life activities, such as seeing, hearing, speaking, walking, learning, and working." %>
        </label>
      </div>

      <div class="form-group">
        <label class="checkbox-inline">
          <%= f.check_box :veteran %>
          <%= f.label :veteran, "I am a veteran, defined as having served, but not currently serving, on active duty in the U.S. Army, Navy, Air Force, Marine Corps, National Guard, or the Coast Guard." %>
        </label>
      </div>

      <div class="form-group required">
        <%= f.label :after_graduation, "What are your primary intentions for enrolling in this program?" %>
        <%= f.select :after_graduation, options_for_select(DemographicInfo::AFTER_OPTIONS, selected: @after_graduation), include_blank: true, required: true %>
      </div>

      <div class="form-group required" id="time_off">
        <%= f.label :time_off, "When do you plan to start looking for work?" %>
        <div class="radio">
          <%= f.radio_button :time_off, 'No' %>
          <%= f.label 'time_off_no', 'Immediately after graduating' %>
        </div>
        <div class="radio">
          <%= f.radio_button :time_off, 'Yes' %>
          <%= f.label 'time_off_yes', 'After taking some time off' %>
        </div>
      </div>

      <div class="form-group required">
        <%= f.label :shirt, "What is your t-shirt size?" %>
        <%= f.select :shirt, options_for_select(DemographicInfo::SHIRT_OPTIONS, selected: @shirt), include_blank: true, required: true %>
      </div>
    </div>

    <div class="well">
      <h4 class="text-center"><strong>Demographics</strong></h4>
      <p class="text-center">To help us make sure we provide all students with equal opportunity, you have the option of disclosing demographic information about yourself.</p>
      <p class="text-center">Filling this section out is voluntary and, if you choose not to, you will not be negatively affected in any way.</p>
      <hr>
      <div class="form-group">
        <%= f.label :genders, "Gender (you can check more than one):" %>
        <ul class="list-unstyled">
          <%= f.collection_check_boxes :genders, DemographicInfo::GENDER_OPTIONS, :to_s, :to_s, include_hidden: false do |b| %>
            <li><%= b.check_box %> <%= b.label %></li>
          <% end %>
        </ul>
      </div>
      <div class="form-group">
        <%= f.label :pronouns, "What pronouns do you want people to use when referring to you?" %>
        <ul class="list-unstyled">
          <%= f.collection_check_boxes :pronouns, DemographicInfo::PRONOUN_OPTIONS, :to_s, :to_s, include_hidden: false do |b| %>
            <li><%= b.check_box %> <%= b.label %></li>
          <% end %>
        </ul>
        <div class="" id="pronouns_blank">
          <%= f.label :pronouns_blank, "Pronouns" %>
          <%= f.text_field :pronouns_blank %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :races, "Race (check multiple for bi/multiracial):" %>
        <ul class="list-unstyled">
          <%= f.collection_check_boxes :races, DemographicInfo::RACE_OPTIONS, :to_s, :to_s, include_hidden: false do |b| %>
            <li><%= b.check_box %> <%= b.label %></li>
          <% end %>
        </ul>
      </div>
      <div class="form-group">
        <%= f.label :job, "Current occupation" %>
        <%= f.text_field :job %>
      </div>
      <div class="form-group">
        <%= f.label :salary, "Current yearly income" %>
        <%= f.number_field :salary %>
      </div>
      <%= submit_tag 'Submit', class: "btn btn-lg btn-epicodus" %>
    </div>
  <% end %>
</div>
