<div class="panel panel-default">
  <div class="panel-body">
    <p><strong>Survey <%= @survey.url %> is assigned to the following code reviews:</strong></p>
    <div class="table-responsive">
      <table class="survey-code-reviews-datatable table table-hover">
        <thead>
          <tr>
            <th>Code Review</th>
            <th>Office</th>
            <th>Course</th>
            <th>Visible Date</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody id="course-students">
          <% @code_reviews.each do |code_review| %>
            <tr>
              <td><%= link_to code_review.title, course_code_review_path(code_review.course, code_review) %></td>
              <td><%= code_review.course.office.name %></td>
              <td><%= code_review.course.description %></td>
              <td><%= code_review.visible_date.strftime('%b %-d') %></td>
              <td><%= code_review.due_date.strftime('%b %-d') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
