  <%= form_for [@student, @payment] do |f| %>
    <%= f.hidden_field :offline, value: true %>
    <%= f.hidden_field :amount, value: 0 %>
    <%= f.hidden_field :student_id, value: @student.id %>

    <div class="form-group">
      <%= f.label :category %>
      <%= f.select :category, options_for_select(["tuition", "special"], "tuition"), {}, { class: "form-control" } %>
    </div>

    <div class="form-group" id="offline-payment-notes">
      <%= f.label :notes %>
      <%= f.text_area :notes, class: 'form-control' %>
    </div>

    <div class="input-group refund-input-group">
      <%= f.label :refund_amount, 'Refund amount:' %>
      <%= f.number_field :refund_amount, { class: 'form-control payment-refund-input', id: "refund-offline-input", placeholder: 'refund amount', required: true, step: 0.01 } %>
    </div>
    <div class="input-group refund-input-group">
      <%= f.label :refund_date, 'Effective refund date:' %>
      <%= f.date_field :refund_date, { class: 'form-control payment-refund-date-input', id: "refund-date-offline-input", required: true } %>
    </div>
    <div class="input-group">
      <span class="input-group-btn">
        <%= f.submit 'Offline refund', class: 'btn btn-info payment-refund-button', id: "refund-offline-button", data: { confirm: 'Confirm offline refund?' } %>
      </span>
    </div>
  <% end %>
