<%= form_for payment, method: :patch do |f| %>
  <div class="form-group well">
    <div class='refund-form-info text-warning'>
      <small>
        <p>Cohort of current course: <br><%= @student.course.try(:cohort).try(:description) || 'no course' %></p>
        <p>Date of last sign in: <%= @student.attendance_records.last.try(:date).try(:to_s) || 'no attendance records' %></p>
      </small>
    </div>
    </small></p>
    <div class="form-group">
      <%= f.label :refund_notes %>
      <%= f.text_area :refund_notes, class: 'form-control' %>
    </div>
    <div class="input-group refund-input-group">
      <%= f.label :refund_amount, 'Refund amount:' %>
      <%= f.number_field :refund_amount, { class: 'form-control payment-refund-input', id: "refund-#{payment.id}-input", placeholder: 'refund amount', required: true, step: 0.01 } %>
    </div>
    <div class="input-group refund-input-group">
      <%= f.label :refund_date, 'Effective refund date:' %>
      <%= f.date_field :refund_date, { class: 'form-control payment-refund-date-input', id: "refund-date-#{payment.id}-input", required: true } %>
    </div>
    <div>
      <% if @student.starting_cohort == @student.cohort %>
        <span class="input-group-btn">
          <%= f.submit 'Refund', class: 'btn btn-info payment-refund-button', id: "refund-#{payment.id}-button", data: { confirm: 'Confirm refund?' } %>
        </span>
      <% else %>
        <p class="text-primary"><strong>NOTE: Starting Cohort does not match Current Cohort</strong></p>
        <span class="input-group-btn">
          <%= f.submit 'Refund', class: 'btn btn-info payment-refund-button', id: "refund-#{payment.id}-button", data: { confirm: 'WARNING: COHORT HAS CHANGED! Confirm refund?' } %>
        </span>
      <% end %>
    </div>
  </div>
<% end %>
