<%= form_for [@student, @payment], html: { id: 'stripe-payment-form' } do |f| %>
  <div class="row" id="payment-method-options">
    <div class="col-md-10">
      <div class="form-group">
        <%= f.label :payment_method_id %>
        <%= f.collection_select :payment_method_id, @student.payment_methods, :id, :description, { selected: @student.try(:primary_payment_method).try(:id) }, { class: "form-control" }  %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category, options_for_select(["tuition", "keycard", "special"], "tuition"), {}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'Which cohort should this payment apply to?' %>
    <%= f.collection_select :cohort_id, @student.all_cohorts, :id, :description, {selected: @student.latest_cohort.try(:id)}, { class: "form-control" } %>
  </div>

  <div class="input-group">
    <span class="input-group-addon">$</span>
    <%= f.number_field :amount, { value: nil, class: 'form-control payment-input', required: true, step: 0.01 } %>
    <%= f.hidden_field :student_id, value: @student.id %>
    <span class="input-group-btn">
      <%= f.submit 'Stripe payment', class: 'btn btn-primary payment-button', data: { confirm: "Charge selected payment method? Are cohort & plan correct?" } %>
    </span>
  </div>

  <div id="payment-warning">
    <p class="alert alert-warning">
      Payment plan: <strong><%= @student.plan.try(:name) %></strong>
    </p>
  </div>
<% end %>
