<% if current_student %>
  <h1>Your payments</h1>
<% else %>
  <%= render 'students/student_header' %>
  <%= render 'students/student_nav' %>
<% end %>

<p class="text-primary">* Payments made with a credit or debit card will be charged a nonrefundable 3% processing fee.</p>

<%= render 'layouts/errors', object: @payment %>
<% if @student.payments.present? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Status</th>
          <th>Date</th>
          <th>Amount (including fee)</th>
          <th>Payment method</th>
          <% if can?(:manage, Payment) %>
            <th>Category</th>
            <th>Notes</th>
          <% end %>
          <% if can?(:manage, Payment) || @student.payments.pluck(:refund_amount).any? %>
            <th>Refund amount</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @student.payments.order_by_latest.each do |payment| %>
          <tr>
            <td><%= payment.try(:status).try(:capitalize) %></td>
            <td><%= payment.try(:refund_date).try(:strftime, "%A, %B %d, %Y") || payment.try(:created_at).try(:strftime, "%A, %B %d, %Y") %></td>
            <% if payment.amount < 0 %>
              <td>offline refund</td>
            <% else %>
              <td><%= number_to_currency(payment.total_amount / 100.00) %></td>
            <% end %>
            <td><%= payment.payment_method.description if payment.payment_method %></td>
            <% if can? :manage, Payment %>
              <td><%= payment.category %></td>
              <td><%= payment.notes %></td>
            <% end %>
              <% if payment.refund_amount? %>
                <td class="col-md-3">
                  <%= number_to_currency(payment.refund_amount / 100.00) %><br>
                  <%= payment.refund_notes %>
                </td>
              <% elsif payment.amount < 0 %>
              <td class="col-md-3">
                <%= number_to_currency(payment.amount / -100.00) %>
              </td>
              <% else %>
                <% if can? :manage, Payment %>
                  <td class="col-md-3" id="refund-<%= payment.id %>">
                    <% if payment.offline? %>
                      <p>n/a</p>
                    <% else %>
                      <div class="refund-section" id="refund-section-<%= payment.id %>">
                        <btn class='show-refund-form-button btn btn-warning' id='show-refund-form-button'>Refund...</btn>
                        <div class="refund-form hidden">
                          <%= render 'payments/refund_form', payment: payment %>
                        </div>
                      </div>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No payments have been made yet.</p>
<% end %>

<% if current_student %>
  <% if @student.plan.nil? %>
    <br>
    <div class="well" id="choose-payment-plan">
      <h1>Choose your payment plan:</h1>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= form_for @student do |f| %>
                <%= f.hidden_field :plan_id, value: Plan.active.upfront.first.id %>
                <%= f.submit 'Up-front discount', class: 'btn btn-default', data: { confirm: "Are you sure you want to choose the up-front discount?" } %>
                <p><br>Pay a $6,900 deposit to reserve your seat in class. Pay $0 (zero dollars) after you are invited to continue in your fourth week of classes.</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= form_for @student do |f| %>
                <%= f.hidden_field :plan_id, value: Plan.active.standard.first.id %>
                <%= f.submit 'Standard plan', class: 'btn btn-default', data: { confirm: "Are you sure you want to choose the standard plan? This cannot be changed later, and you will not be able to receive the up-front discount." } %>
                <p><br>Pay a $100 deposit to reserve your seat in class. Pay $8,400 after you are invited to continue in your fourth week of classes, and before the end of your fifth week of classes.</p>
              <% end %>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= form_for @student do |f| %>
                <%= f.hidden_field :plan_id, value: Plan.active.loan.first.id %>
                <%= f.submit 'Loan', class: 'btn btn-default', data: { confirm: "Are you sure you want to choose the loan plan? You need to be approved for your loan within one week of paying your deposit to fully reserve your seat." } %>
                <p><br>Pay a $100 deposit and take out a loan with one of our lending partners, <a href="http://epicodus.skills.fund/" target=_blank>Skills Fund</a> and <a href="https://www.climbcredit.com/apply/epicodus" target=_blank>Climb</a>, for $8,400. You need to be approved for your loan within one week of paying your deposit to fully reserve your seat. Be sure to read our <a href="https://www.epicodus.com/financial-aid/" target=_blank>information on financial aid</a>.</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= form_for @student do |f| %>
                <%= f.hidden_field :plan_id, value: Plan.find_by(short_name: 'special-grant').id %>
                <%= f.submit '3rd-party grant', class: 'btn btn-default', data: { confirm: "Are you sure you want to choose the 3rd-party grant plan? Your seat will not be fully reserved until we have documentation of your grant approval." } %>
                <p><br>Pay a $100 deposit and pay some or all of your $8,400 balance with a third-party grant, such as unemployment retraining or veterans' VR&E. Your seat will not be fully reserved until you submit documentation of your grant approval to <a href="mailto:hi@epicodus.com">hi@epicodus.com</a>. Be sure to read our <a href="https://www.epicodus.com/financial-aid/" target=_blank>information on financial aid</a>.</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  <% elsif @student.upfront_payment_due? %>
    <%= render 'payments/upfront_payment_button' %>
    <br>
  <% end %>

  <p>All payments will be made using your primary payment method.</p>
  <p>If you need help or have any questions regarding your payments, contact us.</p>
<% elsif can?(:manage, Payment) && params[:action] != 'update' %>

  <div class="well">
    <% if @student.plan.present? %>
      <p>Payment plan: <%= @student.plan.name %></p>
      <hr>
      <p class='text-primary small'>The numbers below are for student portion of tuition only.</p>
      <p>Overall <em>student portion</em> of tuition <span class='small'>(adjustable via tuition adjustments)</span>: <%= number_to_currency(@student.total_owed / 100.00) %></p>
      <p>Total paid by <em>student</em> (stripe): <%= number_to_currency(@student.total_paid_online / 100.00) %></p>
      <p>Remaining amount <em>student</em> owes: <%= number_to_currency((@student.total_owed - @student.total_paid_online) / 100.00) %></p>
      <p>Upfront payment due? <%= @student.upfront_payment_due? ? number_to_currency(@student.upfront_amount_owed / 100.00) : 'None' %></p>
      <% if @student.payments.offline.any? %>
        <hr>
        <p>Total paid by third parties (offline): <%= number_to_currency(@student.total_paid_offline / 100.00) %></p>
        <p class='text-primary small'>Totals may be incorrect in case of offline refunds for student payments.</p>
      <% end %>
    <% else %>
      <p><strong>No payment plan selected!</strong></p>
    <% end %>
  </div>

  <div class="panel-group" id="accordion">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="payment-accordion-label">
          Stripe Payment</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body payment-form well">
          <div class="row">
            <div class="col-md-5">
              <% if @student.payment_methods.any? %>
                <%= render 'stripe_payment_form' %>
              <% else %>
                <p>No primary payment method has been selected.</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="payment-accordion-label">
          Offline Payment</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body payment-form well">
          <div class="row">
            <div class="col-md-5">
              <%= render 'offline_payment_form' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="payment-accordion-label">
          Offline Refund</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body refund-form well">
          <div class="row">
            <div class="col-md-5">
              <%= render 'offline_refund_form' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="payment-accordion-label">
          Tuition Adjustments</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body cost-adjustment well">
          <% if @student.cost_adjustments.any? %>
            <h4><strong>Tuition adjustments:</strong></h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="col-md-2">Date</th>
                    <th class="col-md-2">Adjustment</th>
                    <th class="col-md-7">Reason</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @student.cost_adjustments.reverse.each do |adjustment| %>
                    <tr>
                      <td class="col-md-2"><%= adjustment.created_at.strftime("%a %b %d, %Y") %></td>
                      <td class="col-md-2"><%= number_to_currency(adjustment.amount / 100.00) %></td>
                      <td class="col-md-7"><%= adjustment.reason %></td>
                      <td>
                        <%= link_to student_cost_adjustment_path(@student, adjustment), data: { method: :delete, confirm: 'Are you sure?' } do %>
                          <i class="glyphicon glyphicon-remove" id="remove-cost-adjustment-<%= adjustment.id %>"></i>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <hr>
          <% end %>
          <h4 id='show-student-tuition-adjustment'><strong>New adjustment to amount student owes:</strong></h4>
          <div id="cost-adjustment-form">
            <div class="row">
              <div class="col-md-5">
                <%= render 'cost_adjustment_form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="payment-accordion-label">
          Change Payment Plan</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body payment-plan well">
          <p>Current plan: <%= @student.plan.try(:name) || 'No payment plan selected!' %></p>
          <%= form_for @student do |f| %>
            <%= f.label :plan_id, "Change plan to:" %>
            <%= f.select :plan_id, Plan.active.collect {|p| [ p.name, p.id ] }, {include_blank: true} %>
            <%= f.submit 'Change Plan', class: 'btn-sm btn-primary', data: { confirm: "Change payment plan?" } %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

<% end %>
