<% if current_student %>
  <h1>Your payments</h1>
<% else %>
  <%= render 'students/student_header' %>
  <%= render 'students/student_nav' %>
<% end %>

<p class="text-primary">* Payments made with a credit/debit card will be charged a 2.9% processing fee + 30¢ per transaction.</p>

<%= render 'layouts/errors', object: @payment %>
<%= render 'layouts/errors', object: @refund %>

<% if @student.payments.present? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Status</th>
          <th>Date</th>
          <th>Amount (including fee)</th>
          <th>Payment method</th>
          <% if can?(:manage, Payment) %>
            <th>Category</th>
            <th>Notes</th>
          <% end %>
          <% if can?(:manage, Payment) || @student.payments.pluck(:refund_amount).any? || @student.refunds.any? %>
            <th>Refund</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @student.payments.order_by_latest.each do |payment| %>
          <tr>
            <td class="col-md-1"><%= payment.try(:status).try(:capitalize) %></td>
            <td class="col-md-2"><%= payment.created_at.strftime("%a %b %d %Y") %></td>
            <td class="col-md-1"><%= payment.amount <= 0 ? 'offline refund' : number_to_currency(payment.total_amount / 100.00) %></td>
            <td class="col-md-2"><%= payment.payment_method.try(:description) || 'Offline' %></td>
            <% if can? :manage, Payment %>
              <td class="col-md-1"><%= payment.category %></td>
              <td class="col-md-3"><%= payment.notes %></td>
            <% end %>
            <td class="col-md-2" id="refund-<%= payment.id %>">
              <% if payment.refund_amount? || payment.amount < 0 %>
                <%= payment.refund_amount? ? number_to_currency(payment.refund_amount / 100.00) : number_to_currency(payment.amount / -100.00) %><br>
                <% if can? :manage, Payment %>
                  <%= payment.refund_date %><br>
                  <%= payment.refund_notes %>
                <% end %>
              <% elsif payment.refunds.any? %>
                <% payment.refunds.each_with_index do |refund, index| %>
                  <%= number_to_currency(refund.refund_amount / 100.00) %><br>
                  <% if can? :manage, Payment %>
                    <%= refund.refund_date %><br>
                    <%= refund.refund_notes %>
                  <% end %>
                  <p>&nbsp;</p>
                <% end %>
              <% end %>
              <% if payment.amount > 0 && !payment.refund_amount? && current_admin %>
                <div class="refund-section" id="refund-section-<%= payment.id %>">
                  <btn class='show-refund-form-button btn btn-warning' id='show-refund-form-button'><%= payment.offline? ? 'Offline Refund...' : 'Refund...' %></btn>
                  <div class="refund-form hidden">
                    <%= render 'payments/refund_form', payment: payment %>
                  </div>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No payments have been made yet.</p>
<% end %>

<% if current_student %>
  <% if @student.upfront_payment_due? %>
    <%= render 'payments/upfront_payment_button' %>
    <br>
  <% end %>

  <p>All payments will be made using your primary payment method.</p>
  <p>If you need help or have any questions regarding your payments, contact us.</p>
<% elsif can?(:manage, Payment) && params[:action] != 'update' %>
  <div class="well">
    <h3>Manual payment <small class="text-info">($8,500 limit)</small></h3>
    <div class="row">
      <div class="col-md-5">
        <%= render 'payments/form' %>
      </div>
    </div>
  </div>

  <div class="well">
    <h3>Change payment plan</h3>
    <% if @student.plan %>
      <p><strong>Current plan:</strong> <%= @student.plan.close_io_description %> [<%= @student.plan.description %>]</p>
    <% else %>
      <p><strong>Current plan:</strong> No payment plan selected!</p>
    <% end %>
    <%= form_for @student do |f| %>
      <%= f.label :plan_id, "Other options:" %>
      <% if @student.plan %>
        <%= f.select :plan_id, Plan.rates_2018.where.not(id: @student.plan.id).collect {|p| [ "#{p.close_io_description} [#{p.description}]", p.id ] }, {include_blank: true} %>
      <% else %>
        <%= f.select :plan_id, Plan.rates_2018.collect {|p| [ "#{p.close_io_description} [#{p.description}]", p.id ] }, {include_blank: true} %>
      <% end %>
      <%= f.submit 'Change Plan', class: 'btn-sm btn-primary', data: { confirm: "Change payment plan?" } %>
    <% end %>
  </div>
<% end %>
