<% if current_student %>
  <h1>Your payments</h1>
<% else %>
  <% content_for :title, @student.name %>
  <%= render 'students/student_header' %>
  <%= render 'students/student_nav' %>
<% end %>

<% unless @student.plan.nil? %>
  <p class="text-primary">* Payments made with a credit or debit card will be charged a nonrefundable 3% processing fee.</p>
<% end %>

<%= render 'layouts/errors', object: @payment %>
<% if @student.payments.present? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Status</th>
          <th>Date</th>
          <th>Amount (including fee)</th>
          <th>Payment method</th>
          <% if can?(:manage, Payment) %>
            <th>Category</th>
            <th>Notes</th>
            <th>Cohort</th>
          <% end %>
          <% if can?(:manage, Payment) || @student.payments.pluck(:refund_amount).any? %>
            <th>Refund amount</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @student.payments.order_by_latest.each do |payment| %>
          <tr>
            <td><%= payment.try(:status).try(:capitalize) %></td>
            <td><%= payment.try(:created_at).try(:strftime, "%b %-d %Y") %></td>
            <% if payment.amount < 0 %>
              <td>offline refund</td>
            <% else %>
              <td><%= number_to_currency(payment.total_amount / 100.00) %></td>
            <% end %>
            <td><%= payment.payment_method.description if payment.payment_method %></td>
            <% if can? :manage, Payment %>
              <td><%= payment.category %></td>
              <td><%= payment.notes %></td>
              <td><%= payment.cohort.try(:description) %></td>
            <% end %>
            <% if payment.refund_amount? %>
              <td class="col-md-3">
                <%= number_to_currency(payment.refund_amount / 100.00) %><br>
                <% if can? :manage, Payment %>
                  <%= payment.refund_date.try(:strftime, "%b %-d %Y") %><br>
                  <%= payment.refund_notes %>
                <% end %>
              </td>
            <% elsif payment.amount < 0 %>
            <td class="col-md-3">
              <%= number_to_currency(payment.amount / -100.00) %>
            </td>
            <% else %>
              <% if can? :manage, Payment %>
                <td class="col-md-3" id="refund-<%= payment.id %>">
                  <% if payment.offline? %>
                    <p>n/a</p>
                  <% else %>
                    <div class="refund-section" id="refund-section-<%= payment.id %>">
                      <btn class='show-refund-form-button btn btn-warning' id='show-refund-form-button'>Refund...</btn>
                      <div class="refund-form hidden">
                        <%= render 'payments/refund_form', payment: payment %>
                      </div>
                    </div>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No payments have been made yet.</p>
<% end %>

<% if current_student && @student.enrolled? %>
  <% if @student.plan.nil? %>
    <br>
    <div class="well" id="choose-payment-plan">
      <h1>Choose your payment plan:</h1>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body payment-plan-details">
              <%= form_for @student do |f| %>
                <%= f.hidden_field :plan_id, value: Plan.active.upfront.where(upfront_amount: 870000).first.try(:id) %>
                <%= f.submit 'Up-Front Discount', class: 'btn btn-default', data: { confirm: "Are you sure you want to choose the up-front discount?" } %>
                <p><br><strong>Up-Front Discount: $8,700</strong><br>Pay $8,700 to reserve your seat in class.</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body payment-plan-details">
              <%= form_for @student do |f| %>
                <%= f.hidden_field :plan_id, value: Plan.active.standard.first.try(:id) %>
                <%= f.submit 'Standard Tuition', class: 'btn btn-default', data: { confirm: "Are you sure you want to choose the standard plan? This cannot be changed later, and you will not be able to receive the up-front discount." } %>
                <p><br><strong>Standard Tuition: $11,700</strong><br>Pay $100 to reserve your seat in class. Pay the remaining $11,600 before class starts.</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body payment-plan-details">
              <%= form_for @student do |f| %>
                <%= f.hidden_field :plan_id, value: Plan.active.loan.first.try(:id) %>
                <%= f.submit 'Loan/Payment Plan', class: 'btn btn-default', data: { confirm: "Are you sure you want to choose the loan plan? You need to be approved for your loan within one week of paying your deposit to fully reserve your seat." } %>
                <p><br><strong>Loan/Payment Plan:</strong><br>Pay $100 to reserve your seat in class. Before class starts, get approved with one of our financing partners, <a href="https://partner.ascentfunding.com/epicodus" target=_blank>Ascent</a> and <a href="https://www.climbcredit.com/apply/epicodus" target=_blank>Climb</a>. Pay as little as $0/month during class and as little as $176.33/month after graduating. See our <a href='https://www.epicodus.com/financial-aid' target='_blank'>financial aid</a> information for details.</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body payment-plan-details">
              <%= form_for @student do |f| %>
                <%= f.hidden_field :plan_id, value: Plan.active.isa.first.try(:id) %>
                <%= f.submit 'Income Share Agreement', class: 'btn btn-default', data: { confirm: "Are you sure you want to choose the income share agreement?" } %>
                <p><br><strong>Income Share Agreement:</strong><br>Pay $100 to reserve your seat in class. Let your advisor know you’d like to apply for the ISA. Before class starts, get approved with our financing partner, <a href='https://epicodus.mia-share.com/isa-flyer' target='_blank'>Mia Share</a>. Pay nothing until you find your first job after graduation and then 9.8% of your salary for four years. See our <a href='https://www.epicodus.com/financial-aid' target='_blank'>financial aid</a> information for details.</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  <% elsif @student.upfront_payment_due? %>
    <%= render 'payments/upfront_payment_button' %>
    <p>All payments will be made using your primary payment method.</p>
  <% end %>
  <p>If you need help or have any questions regarding your payments, contact us.</p>
<% elsif can?(:manage, Payment) && params[:action] != 'update' %>

  <div class="well">
    <% if @student.plan.present? %>
      <p>Payment plan: <%= @student.plan.name %></p>
      <hr>
      <p class='text-primary small'>The numbers below are for student portion of tuition only.</p>
      <p>Total paid by <em>student</em> (bank/debit/credit): <%= number_to_currency(@student.total_paid_online / 100.00) %></p>
      <% if @student.plan.standard? %>
        <p>Overall tuition for standard plan: <%= number_to_currency(@student.plan.student_portion / 100.00) %></p>
        <p>Remaining amount <em>student</em> owes: <%= number_to_currency((@student.plan.student_portion - @student.total_paid) / 100.00) %></p>
      <% else %>
        <p>Overall <em>student portion</em> of tuition <span class='small'>(adjustable via tuition adjustments)</span>: <%= number_to_currency(@student.upfront_amount / 100.00) %></p>
        <p>Remaining amount <em>student</em> owes: <%= number_to_currency((@student.upfront_amount - @student.total_paid) / 100.00) %></p>
      <% end %>
      <p>Upfront payment due? <%= @student.upfront_payment_due? ? number_to_currency(@student.upfront_amount_owed / 100.00) : 'None' %></p>
      <% if @student.payments.offline.any? %>
        <hr>
        <p>Total paid by third parties (offline): <%= number_to_currency(@student.total_paid_offline / 100.00) %></p>
        <p class='text-primary small'>Numbers may be incorrect when student payments or refunds are made by check.</p>
      <% end %>
    <% else %>
      <p><strong>No payment plan selected!</strong></p>
    <% end %>
  </div>

  <div class="panel-group" id="accordion">

    <% if @student.cohort || @student.parttime_cohort %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="payment-accordion-label">
            Stripe Payment</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body payment-form well">
            <div class="row">
              <div class="col-md-6">
                <% if @student.payment_methods.any? %>
                  <%= render 'stripe_payment_form' %>
                <% else %>
                  <p>No primary payment method has been selected.</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="payment-accordion-label">
            Offline Payment</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body payment-form well">
            <div class="row">
              <div class="col-md-6">
                <%= render 'offline_payment_form' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="payment-accordion-label">
            Offline Refund</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body refund-form well">
            <div class="row">
              <div class="col-md-6">
                <%= render 'offline_refund_form' %>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% else %>
      <p class='alert alert-warning'>Payments and refunds can not be made when cohort is blank. Please enroll the student in the cohort to which the payment or refund should be applied.</p>
    <% end %>

    <% if @student.plan %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="payment-accordion-label">
            Tuition Adjustment</a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body cost-adjustment well">
            <div class='' id='show-student-tuition-adjustment'>
              <p>
                Default upfront amount (based on plan): <%= number_to_currency(@student.plan.upfront_amount / 100.00) %><br>
                <% if @student.upfront_amount != @student.plan.upfront_amount %>
                  Current upfront amount (as adjusted): <%= number_to_currency(@student.upfront_amount / 100.00) %>
                <% else %>
                  No adjustments made to upfront amount.
                <% end %>
                <br>Total paid by student (bank/debit/credit): <%= number_to_currency(@student.total_paid_online / 100.00) %>
                <br>Total paid by third parties (offline): <%= number_to_currency(@student.total_paid_offline / 100.00) %>
                <br>Remaining upfront payment owed by student: <%= number_to_currency(@student.upfront_amount_owed / 100.00) %>
              </p>
            </div>
            <div id="cost-adjustment-form">
              <div class="row">
                <div class="col-md-12">
                  <%= render 'cost_adjustment_form' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="payment-accordion-label">
          Change Payment Plan</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body payment-plan well">
          <p>Current plan: <%= @student.plan.try(:name) || 'No payment plan selected!' %></p>
          <%= form_for @student do |f| %>
            <%= f.label :plan_id, "Change plan to:" %>
            <%= f.select :plan_id, Plan.active.collect {|p| [ p.name, p.id ] }, {include_blank: true} %>
            <%= f.submit 'Change Plan', class: 'btn-sm btn-primary', data: { confirm: "Change payment plan? This will also reset upfront amount owed." } %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

<% end %>
