<% if current_student %>
  <h1>Your payments</h1>
<% else %>
  <%= render 'students/student_header' %>
  <%= render 'students/student_nav' %>
<% end %>

<p class="text-primary">* Payments made with a credit card will be charged a 2.9% processing fee + 30¢ per transaction.</p>

<%= render 'layouts/errors', object: @payment %>
<% if @student.payments.present? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Status</th>
          <th>Date</th>
          <th>Amount (including fee)</th>
          <th>Payment method</th>
          <% if can?(:manage, Payment) %>
            <th>Notes</th>
          <% end %>
          <% if can?(:manage, Payment) || @student.payments.pluck(:refund_amount).any? %>
            <th>Refund amount</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @student.payments.order_by_latest.each do |payment| %>
          <tr>
            <td><%= payment.try(:status).try(:capitalize) %></td>
            <td><%= payment.try(:created_at).try(:strftime, "%A, %B %d, %Y") %></td>
            <td><%= number_to_currency(payment.total_amount / 100.00) %></td>
            <td>
              <% if payment.payment_method %>
                <%= payment.payment_method.description %>
              <% elsif payment.offline? %>
                N/A
              <% end %>
            </td>
            <% if can? :manage, Payment %>
              <td><%= payment.notes %></td>
            <% end %>
            <td class="col-md-3">
              <% if payment.refund_amount? %>
                <%= number_to_currency(payment.refund_amount / 100.00) %>
              <% else %>
                <% if can? :manage, Payment %>
                  <%= render 'payments/refund_form', payment: payment %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No payments have been made yet.</p>
<% end %>

<% if current_student %>
  <% if @student.upfront_payment_due? %>
    <%= render 'payments/upfront_payment_button' %>
    <br>
  <% end %>

  <p>All payments will be made using your primary payment method.</p>
  <p>If you need help or have any questions regarding your payments, contact us.</p>
<% elsif can?(:manage, Payment) && params[:action] != 'update' %>
  <h3>Manual payment <small class="text-info">($5,000 limit)</small></h3>

  <div class="row">
    <div class="col-md-5">
      <%= render 'form' %>
    </div>
  </div>
<% end %>
