<% if current_student %>
  <h1>Your payments</h1>
<% elsif current_admin %>
  <h1>Payments for <%= @student.name %></h1>
<% end %>

<%= render 'layouts/errors', object: @payment %>
<% if @payments.present? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Status</th>
        <th>Date</th>
        <th>Amount (including fee)</th>
        <th>Payment Method</th>
        <% if current_admin %>
          <th>Refund amount</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @payments.order_by_latest.each do |payment| %>
        <tr>
          <td><%= payment.status.capitalize %></td>
          <td><%= payment.created_at.strftime("%A, %B %d, %Y") %></td>
          <td><%= number_to_currency(payment.total_amount / 100.00) %></td>
          <td><%= payment.payment_method.class.name.underscore.humanize + ' ending in ' + payment.payment_method.last_four_string[-4,4] %></td>
          <% if current_admin %>
            <% if payment.refund_amount? %>
              <td><%= number_to_currency(payment.refund_amount / 100.00) %></td>
            <% else %>
              <td><%= link_to 'Issue refund', student_payment_path(@student, payment) %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <% if current_student %>
    <p>Looks like you haven't made any payments yet.</p>
  <% elsif current_admin %>
    <p>Looks like <%= @student.name %> hasn't made any payments yet.</p>
  <% end %>
<% end %>

<% if current_student %>
  <% if @student.upfront_payment_due? %>
    <%= render 'payments/upfront_payment_button' %>
  <% end %>

  <p class='new-method-links'><%= link_to 'Manage payment methods', payment_methods_path %></p>

  <p>All payments will be made using your primary payment method.</p>

  <p>If you need help or have any questions regarding your payments, contact us.</p>
<% end %>
