<h1>Your payments</h1>

<%= render 'layouts/errors', object: @payment %>

<% if @payments.present? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Status</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Payment Method</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'payments/next_payment_date' %>
      <% @payments.order_by_latest.each do |payment| %>
        <tr>
          <td>
            <%= payment.status.capitalize %>
          </td>
          <td>
            <%= payment.created_at.strftime("%F") %>
          </td>
          <td>
            <%= number_to_currency(payment.total_amount / 100.00) %>
          </td>
          <td>
            <%= payment.payment_method.class.name.underscore.humanize + ' ending in ' + payment.payment_method.last_four_string[-4,4] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Looks like you haven't made any payments yet.</p>
<% end %>

<% if current_student.upfront_payment_due? %>
  <%= render 'payments/upfront_payment_button' %>
<% end %>

<% if current_student.ready_to_start_recurring_payments? %>
  <%= render 'payments/recurring_payment_button' %>
<% end %>

<p class='new-method-links'><%= link_to 'Manage payment methods', payment_methods_path %></p>

<p>All payments will be made using your primary payment method.</p>

<p>If you need help or have any questions regarding your payments, contact us.</p>
