<% if current_student %>
  <h1>Your payments</h1>
<% else %>
  <%= render 'students/student_header' %>
  <%= render 'students/student_nav' %>
<% end %>

<p class="text-primary">* Payments made with a credit/debit card will be charged a 2.9% processing fee + 30¢ per transaction.</p>

<%= render 'layouts/errors', object: @payment %>
<% if @student.payments.present? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Status</th>
          <th>Date</th>
          <th>Amount (including fee)</th>
          <th>Payment method</th>
          <% if can?(:manage, Payment) %>
            <th>Notes</th>
          <% end %>
          <% if can?(:manage, Payment) || @student.payments.pluck(:refund_amount).any? %>
            <th>Refund amount</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @student.payments.order_by_latest.each do |payment| %>
          <tr>
            <td><%= payment.try(:status).try(:capitalize) %></td>
            <td><%= payment.try(:created_at).try(:strftime, "%A, %B %d, %Y") %></td>
            <% if payment.amount < 0 %>
              <td>offline refund</td>
            <% else %>
              <td><%= number_to_currency(payment.total_amount / 100.00) %></td>
            <% end %>
            <td><%= payment.payment_method.description if payment.payment_method %></td>
            <% if can? :manage, Payment %>
              <td><%= payment.notes %></td>
            <% end %>
              <% if payment.refund_amount? %>
                <td class="col-md-3">
                  <%= number_to_currency(payment.refund_amount / 100.00) %>
                </td>
              <% elsif payment.amount < 0 %>
              <td class="col-md-3">
                <%= number_to_currency(payment.amount / -100.00) %>
              </td>
              <% else %>
                <% if can? :manage, Payment %>
                  <td class="col-md-3">
                    <%= render 'payments/refund_form', payment: payment %>
                  </td>
                <% end %>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No payments have been made yet.</p>
<% end %>

<% if current_student %>
  <% if @student.upfront_payment_due? %>
    <%= render 'payments/upfront_payment_button' %>
    <br>
  <% end %>

  <p>All payments will be made using your primary payment method.</p>
  <p>If you need help or have any questions regarding your payments, contact us.</p>
<% elsif can?(:manage, Payment) && params[:action] != 'update' %>
  <div class="well">
    <h3>Manual payment <small class="text-info">($6,000 limit)</small></h3>
    <div class="row">
      <div class="col-md-5">
        <%= render 'form' %>
      </div>
    </div>
  </div>

  <div class="well">
    <h3>Change payment plan</h3>
    <p><strong>Current plan:</strong> <%= @student.plan.close_io_description %> <%= @student.plan.start_date == Time.new(2017, 5, 22).to_date ? '' : '[OLD RATES]' %></p>
    <%= form_for @student do |f| %>
      <%= f.label :plan_id, "Other options:" %>
      <%= f.select :plan_id, @student.valid_plans.where.not(id: @student.plan.id).collect {|p| [ "#{p.close_io_description} #{p.start_date == Time.new(2017, 5, 22).to_date ? '' : '[OLD RATES]'}", p.id ] }, {include_blank: true} %>
      <%= f.submit 'Change Plan', class: 'btn-sm btn-primary', data: { confirm: "Change payment plan?" } %>
    <% end %>
  </div>
<% end %>
