<% if can? :manage, Payment %>
  <h1>Payments for <%= @student.name %></h1>
<% elsif can? :read, Payment %>
  <h1>Your payments</h1>
<% end %>
<p class="text-primary">* Payments made with a credit card will be charged a 2.9% processing fee + 30¢ per transaction.</p>

<%= render 'layouts/errors', object: @payment %>
<% if @student.payments.present? %>
  <table class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Date</th>
        <th>Amount (including fee)</th>
        <th>Payment method</th>
        <% if can?(:manage, Payment) || @student.payments.pluck(:refund_amount).any? %>
          <th>Refund amount</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @student.payments.order_by_latest.each do |payment| %>
        <tr>
          <td><%= payment.status.capitalize %></td>
          <td><%= payment.created_at.strftime("%A, %B %d, %Y") %></td>
          <td><%= number_to_currency(payment.total_amount / 100.00) %></td>
          <td><%= payment.payment_method.class.name.underscore.humanize + ' ending in ' + payment.payment_method.last_four_string[-4,4] %></td>
            <% if payment.refund_amount? %>
              <td><%= number_to_currency(payment.refund_amount / 100.00) %></td>
            <% else %>
              <% if can? :manage, Payment %>
                <%= render 'payments/refund_form', payment: payment %>
              <% end %>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No payments have been made yet.</p>
<% end %>

<% if current_student %>
  <% if @student.upfront_payment_due? %>
    <hr>
    <%= render 'payments/upfront_payment_button' %>
    <br>
  <% end %>

  <p>All payments will be made using your primary payment method.</p>
  <p>If you need help or have any questions regarding your payments, contact us.</p>
  <%= link_to 'Manage payment methods', payment_methods_path, class: 'btn btn-info' %>
<% elsif can? :manage, Payment %>
  <% if @student.primary_payment_method && params[:action] != 'update' %>
    <%= render 'form' %>
  <% elsif !@student.primary_payment_method && params[:action] != 'update' %>
    No primary payment method has been selected.
  <% end %>
<% end %>
