<h1>Your payments</h1>

<%= render 'layouts/errors', object: @payment %>

<% if @payments.present? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          Status
        </th>
        <th>
          Date
        </th>
        <th>
          Amount
        </th>
        <th>
          Payment Method
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render 'next_payment_date' %>
      <% @payments.order_by_latest.each do |payment| %>
        <tr>
          <td>
            <%= payment.status.capitalize %>
          </td>
          <td>
            <%= payment.created_at.strftime("%F") %>
          </td>
          <td>
            <%= number_to_currency(payment.total_amount / 100.00) %>
          </td>
          <td>
            <%= payment.payment_method.class.name.underscore.humanize + ' ending in ' + payment.payment_method.last_four_string[-4,4] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Looks like you haven't made any payments yet.</p>
<% end %>

<% if current_student.upfront_payment_due? %>
  <div class="action-buttons">
    <%= form_for @payment, url: upfront_payments_path do |f| %>
      <%= f.submit "Make upfront payment of #{number_to_currency(@payment.amount / 100.00)}", data: { confirm: "Make upfront payment?" }, class: 'btn btn-large btn-primary' %>
    <% end %>
  </div>
<% end %>

<% if current_student.ready_to_start_recurring_payments? %>
  <div class="action-buttons">
    <%= form_for @payment, url: recurring_payments_path do |f| %>
      <%= f.submit "Start recurring payments of #{number_to_currency(@payment.amount / 100.00)}", data: { confirm: "Start recurring payments?" }, class: 'btn btn-large btn-primary' %>
    <% end %>
  </div>
<% end %>

<p class='new-method-links'><%= link_to 'Manage payment methods', payment_methods_path %></p>

<p>
  All payments will be made using your primary payment method.
</p>

<p>
  If you need help or have any questions regarding your payments, contact Michael.
</p>
