<%= render 'layouts/errors', object: @payment %>

<%= link_to 'Back to payments', student_payments_path(@payment.student) %>
<h1>Payment for <%= @payment.student.name %></h1>

<h4>Payment Method: <%= @payment.payment_method.class.name.underscore.humanize + ' ending in ' + @payment.payment_method.last_four_string[-4,4] %></h4>
<h4>Status: <%= @payment.status.capitalize %></h4>
<h4>Date: <%= @payment.created_at.strftime("%A, %B %d, %Y") %></h4>
<h4>Amount: <%= number_to_currency(@payment.amount / 100.00) %></h4>
<h4>Fee: <%= number_to_currency(@payment.fee / 100.00) %></h4>
<h4><strong>Total amount: <%= number_to_currency(@payment.total_amount / 100.00) %></strong></h4>
<% if @payment.refund_amount? && @payment.refund_amount <= @payment.total_amount %>
  <h4><strong>Refund amount: <%= number_to_currency(@payment.refund_amount / 100.00) %></strong></h4>
<% end %>

<% if current_admin %>
  <% if !@payment.refund_amount? || @payment.refund_amount > @payment.total_amount %>
    <hr>
    <div class="row">
      <div class="col-xs-3">
        <%= form_for @payment, method: :patch do |f| %>
          <div class="form-group">
            <%= f.label :refund_amount %>
            <%= f.number_field :refund_amount, class: 'form-control', min: 1 %>
          </div>
          <%= f.submit 'Issue refund', class: 'btn btn-info', id: 'refund-button' %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
