<% if @title %>
  <h3>
    <%= @title %>
    <% if @cohort %>
      <br>
      <small>
        <%= @cohort.description %>
        <br><%= link_to '[view submissions for all cohorts]', journals_path(title: @title) %>
      </small>
    <% else %>
      <br><small>submissions for all cohorts</small>
    <% end %>
  </h3>
  <% @submissions.each do |submission| %>
    <p class='panel panel-body'>
      <%= link_to submission.created_at.strftime("%b %-d %Y"), new_submission_review_path(submission) %><br>
      <%= submission.journal %>
    </p>
  <% end %>
<% else %>
  <h3>
    Personal reflections
    <br><small>all cohorts</small>
  </h3>
  <%= render 'list', journals: @journals, cohort: nil %>
<% end %>
