<h3>Students</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <% unless @course.internship_course? %>
        <%= link_to 'View attendance', course_path(@course, attendance: true, payment_plans: params[:payment_plans], paid_only: params[:paid_only]), class: 'btn btn-default' unless params[:attendance] %>
        <%= link_to 'View payment plans', course_path(@course, payment_plans: true, attendance: params[:attendance], paid_only: params[:paid_only]), class: 'btn btn-default' unless params[:payment_plans] %>
        <%= link_to 'Paid only', course_path(@course, paid_only: true, payment_plans: params[:payment_plans], attendance: params[:attendance]), class: 'btn btn-default' unless params[:paid_only] %>
        <%= link_to 'Export', course_export_path(@course), id: "export-btn", :class => "btn btn-default" %>
      <% end %>
    </p>
    <div class="table-responsive">
      <table class="searchable-datatable table table-hover">
        <thead>
          <tr>
            <th>Student</th>
            <% unless @course.internship_course? %>
              <% if params[:attendance] == "true" %>
                <th>Attendance</th>
                <th>Absences</th>
              <% end %>
              <% if params[:payment_plans] == "true" %>
                <th>Payment plan</th>
              <% end %>
            <% end %>
            <% @course.code_reviews.each do |code_review| %>
              <th><%= code_review.title %></th>
            <% end %>
          </tr>
        </thead>
        <tbody id="course-students">
          <% if params[:paid_only] %>
            <%= render @students.select { |student| student.payments.any? } %>
          <% else %>
            <%= render @students %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
