<div class="panel panel-default">
  <div class="panel-body">
    <div class="table-responsive">
      <table class="courses-datatable table table-hover">
        <thead>
          <th>Description</th>
          <th>Office</th>
          <th>Teacher</th>
          <th>Students</th>
          <th>Start date</th>
          <th>End date</th>
          <th></th>
        </thead>
          <tbody>
            <% courses.each do |course| %>
              <tr>
                <td><%= link_to course.description, admin_path(current_admin, admin: { current_course_id: course.id }), method: :patch %></td>
                <td><%= course.office.name %></td>
                <td><%= course.teacher %></td>
                <td><%= course.students.count %></td>
                <td><%= course.start_date.strftime("%B %d") %></td>
                <td><%= course.end_date.strftime("%B %d") %></td>
                <td><%= link_to 'Edit', edit_course_path(course) %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
</div>
