<h3>Students</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <% unless @course.internship_course? %>
        <%= link_to 'View attendance', course_path(@course, attendance: true, probation: params[:probation], payment_plans: params[:payment_plans], feedback: params[:feedback]), class: 'btn btn-default' unless params[:attendance] %>
        <%= link_to 'View academic warnings', course_path(@course, probation: true, attendance: params[:attendance], payment_plans: params[:payment_plans], feedback: params[:feedback]), class: 'btn btn-default' unless params[:probation] %>
        <%= link_to 'View payment plans', course_path(@course, payment_plans: true, attendance: params[:attendance], probation: params[:probation], feedback: params[:feedback]), class: 'btn btn-default' unless params[:payment_plans] %>
        <%= link_to 'View feedback', course_path(@course, feedback: true, attendance: params[:attendance], probation: params[:probation], payment_plans: params[:payment_plans]), class: 'btn btn-default' unless params[:feedback] %>
        <%= link_to 'Export', course_export_path(@course), id: "export-btn", :class => "btn btn-default" %>
      <% end %>
    </p>
    <div class="table-responsive">
      <table class="searchable-datatable table table-hover">
        <thead>
          <tr>
            <th>Student</th>
            <% unless @course.internship_course? %>
              <% if params[:attendance] == "true" %>
                <th>Attendance</th>
                <th>Course absences</th>
                <th>Cohort absences</th>
              <% end %>
              <% if params[:probation] == "true" %>
                <th>Academic Warnings</th>
              <% end %>
              <% if params[:payment_plans] == "true" %>
                <th>Payment plan</th>
              <% end %>
            <% end %>
            <% @course.code_reviews.each do |code_review| %>
              <th><%= code_review.title %></th>
            <% end %>
            <% if params[:feedback] == "true" %>
              <th>Feedback Average</th>
            <% end %>
          </tr>
        </thead>
        <tbody id="course-students">
          <%= render @students %>
        </tbody>
      </table>
    </div>
  </div>
</div>
