<% if course.internship_course? %>
  <%= form_for course, method: :put do |f| %>
    <% if course.rankings_visible? %>
      <%= f.hidden_field :rankings_visible, value: false %>
      <%= f.submit 'Turn off rankings', class: 'btn btn-default' %>
    <% else %>
      <%= f.hidden_field :rankings_visible, value: true %>
      <%= f.submit 'Turn on rankings', class: 'btn btn-default' %>
    <% end %>
  <% end %>
<% end %>
<p></p>
<% if course.internship_course? %>
  <%= form_for course, method: :put do |f| %>
    <% if course.internship_assignments_visible? %>
      <%= f.hidden_field :internship_assignments_visible, value: false %>
      <%= f.submit 'Hide internship assignments', class: 'btn btn-default' %>
    <% else %>
      <%= f.hidden_field :internship_assignments_visible, value: true %>
      <%= f.submit 'Make internship assignments public', class: 'btn btn-default' %>
    <% end %>
  <% end %>
<% end %>
