<h1>Edit <%= @course.description %> (<%= @course.office.name %>)</h1>

<p>Start date: <%= @course.start_date.strftime("%A, %B %d, %Y") %></p>
<p>End date: <%= @course.end_date.strftime("%A, %B %d, %Y") %></p>
<p><%= @course.class_days.count %> class <%= 'day'.pluralize(@course.class_days.count) %></p>

<div class="row">
  <div class="col-md-6">
    <%= render 'form', course: @course %>
  </div>
</div>
