<% if @student %>
  <% content_for :title, @student.name %>
  <%= render 'students/student_courses' %>
<% else %>
  <% content_for :title, 'Courses' %>
  <h1>
    Courses
    <%= link_to 'New', new_course_path %>
  </h1>

  <div class="row">
    <div class="col-xs-2">
      <ul class="nav nav-pills nav-stacked side-nav">
        <%= set_nav_link_class(:all) do %>
          <%= link_to 'All', courses_path(all: true) %>
        <% end %>

        <% if current_admin.courses.any? %>
          <%= set_nav_link_class(:admin_courses) do %>
            <%= link_to 'Yours', courses_path(admin_courses: true, internships: params[:internships], office: params[:office]) %>
          <% end %>
        <% end %>

        <%= set_nav_link_class(:future) do %>
          <%= link_to 'Future', courses_path(future: true, internships: params[:internships], office: params[:office]) %>
        <% end %>

        <%= set_nav_link_class(:current) do %>
          <%= link_to 'Current', courses_path(current: true, internships: params[:internships], office: params[:office]) %>
        <% end %>

        <%= set_nav_link_class(:previous) do %>
          <%= link_to 'Previous', courses_path(previous: true, internships: params[:internships], office: params[:office]) %>
        <% end %>

        <%= set_nav_link_class(:internships) do %>
          <%= link_to 'Internships', courses_path(admin_courses: params[:admin_courses], future: params[:future], current: params[:current], previous: params[:previous], internships: true, office: params[:office]), class: 'bottom-side-nav-link' %>
        <% end %>

        <li class="locations-nav"><h4>Locations</h4></li>

        <% Office.all.order(:name).each do |office| %>
          <%= set_nav_link_class(office.name.downcase.to_sym) do %>
            <%= link_to office.name, courses_path(admin_courses: params[:admin_courses], future: params[:future], current: params[:current], previous: params[:previous], internships: params[:internships], office: office.short_name) %>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="col-xs-10">
      <%= render 'courses/course_list', courses: @courses %>
    </div>
  </div>
<% end %>
