<% if @student %>
  <%= render 'students/student_courses' %>
<% else %>
  <h1>
    Courses
    <%= link_to 'New', new_course_path %>
  </h1>

  <h3>Current and future courses</h3>
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="table-responsive">
        <table id="previous-courses-datatable" class="table table-hover">
          <thead>
            <th>Description</th>
            <th>Office</th>
            <th>Teacher</th>
            <th>Students</th>
            <th>Start date</th>
            <th>End date</th>
          </thead>
            <tbody>
              <% @courses.current_and_future_courses.includes(:admin).each do |course| %>
                <tr>
                  <td><%= link_to course.description, admin_path(current_admin, admin: { current_course_id: course.id }), method: :patch %></td>
                  <td><%= course.office.name %></td>
                  <td><%= course.teacher %></td>
                  <td><%= course.students.count %></td>
                  <td><%= course.start_date %></td>
                  <td><%= course.end_date %></td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
