<% if @student %>
  <%= render 'students/student_courses' %>
<% else %>
  <h1>
    Courses
    <%= link_to 'New', new_course_path %>
  </h1>

  <div class="row">
    <div class="col-xs-2">
      <ul class="nav nav-pills nav-stacked side-nav">
        <%= set_nav_link_class(:all) do %>
          <%= link_to 'All', courses_path(all: true) %>
        <% end %>

        <% if current_admin.courses.any? %>
          <%= set_nav_link_class(:admin_courses) do %>
            <%= link_to 'Yours', courses_path(admin_courses: true) %>
          <% end %>
        <% end %>

        <%= set_nav_link_class(:future) do %>
          <%= link_to 'Future', courses_path(future: true) %>
        <% end %>

        <%= set_nav_link_class(:current) do %>
          <%= link_to 'Current', courses_path(current: true) %>
        <% end %>

        <%= set_nav_link_class(:previous) do %>
          <%= link_to 'Previous', courses_path(previous: true) %>
        <% end %>

        <%= set_nav_link_class(:internships) do %>
          <%= link_to 'Internships', courses_path(internships: true), class: 'bottom-side-nav-link' %>
        <% end %>

        <li class="locations-nav"><h4>Locations</h4></li>

        <% Office.all.order(:name).each do |office| %>
          <%= set_nav_link_class(office.name.downcase.to_sym) do %>
            <%= link_to office.name, courses_path(office.name.downcase.to_sym => true) %>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="col-xs-10">
      <%= render 'courses/course_list', courses: @courses if params[:all] %>
      <%= render 'courses/course_list', courses: @courses.future_courses if params[:future] %>
      <%= render 'courses/course_list', courses: @courses.current_courses if params[:current] %>
      <%= render 'courses/course_list', courses: @courses.previous_courses if params[:previous] %>
      <%= render 'courses/course_list', courses: @courses.internship_courses if params[:internships] %>
      <%= render 'courses/course_list', courses: current_admin.courses.includes(:office) if params[:admin_courses] %>

      <% Office.all.each do |office| %>
        <%= render 'courses/course_list', courses: @courses.courses_for(office) if params[office.name.downcase.to_sym] %>
      <% end %>
    </div>
  </div>
<% end %>
