<% content_for :title, @course.description %>
<h1>
  <%= @course.description_and_office %>
  <% unless current_admin.current_course == @course %>
    <%= link_to 'Select', admin_path(current_admin, admin: { current_course_id: @course.id }), method: :patch %> |
  <% end %>
</h1>

<div class="row">
  <div class="col-md-4">
    <p><%= link_to 'Daily Submissions', course_daily_submissions_path(@course) %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p><%= link_to 'Peer Evaluations', course_peer_evaluations_path(@course) %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <h3>Details</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <h4><%= @course.teacher %></h4>
            <h4><%= pluralize(@course.students.count, 'student') %></h4>
            <% if current_admin || !@course.internship_course? %>
              <h4><%= @course.start_date.strftime('%B %d') %> to <%= @course.end_date.strftime('%B %d') %></h4>
            <% end %>
            <% if current_admin && @course.cohorts.any? %>
              <% @course.cohorts.each do |cohort| %>
                <h4>Cohort: <%= link_to cohort.description, cohort_path(cohort) %></h4>
              <% end %>
            <% end %>

            <p><%= render 'courses/toggle_rankings_form', course: @course %></p>
          </div>
        </div>
      </div>

      <% unless @course.internship_course? %>
        <div class="col-md-12">
          <h3>
            Attendance for today
            <%= link_to 'Other days', course_day_attendance_records_path(@course) %>
          </h3>
          <div class="panel panel-default">
            <div class="panel-body">
              <% if @course.class_days.include?(Time.zone.now.to_date) %>
                <div class="row">
                  <div class="text-center col-xs-3">
                    <p>O.T.</p>
                    <div class="text-center alert alert-success">
                      <%= AttendanceRecord.todays_totals_for(@course, :on_time) %>
                    </div>
                  </div>
                  <div class="text-center col-xs-3">
                    <p>Tardy</p>
                    <div class="text-center alert alert-warning">
                      <%= AttendanceRecord.todays_totals_for(@course, :tardy) %>
                    </div>
                  </div>
                  <div class="text-center col-xs-3">
                    <p>L.E.</p>
                    <div class="text-center alert alert-warning">
                      <%= AttendanceRecord.todays_totals_for(@course, :left_early) %>
                    </div>
                  </div>
                  <div class="text-center col-xs-3">
                    <p>Absent</p>
                    <div class="text-center alert alert-danger">
                      <%= AttendanceRecord.todays_totals_for(@course, :absent) %>
                    </div>
                  </div>
                </div>
              <% else %>
                No class today
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-8">
    <%= render 'courses/course_code_reviews' %>
  </div>
</div>

<%= render 'courses/course_students' %>
