<div class="row">
  <div class="col-md-6">
    <%= form_for @internship do |f| %>
      <%= render 'layouts/errors', object: @internship %>

      <div class='form-group'>
        <%= f.label :name, 'Company name' %>
        <%= f.text_field :name, autofocus: true, required: true, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :description, 'Describe your company and internship. Get students excited about what you do!' %>
        <%= f.text_area :description, rows: 8, required: true, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :website, 'Website' %>
        <%= f.text_field :website, required: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :course_ids, "Choose which internship period(s) you'd like to participate in." %>
        <br>
        <% if current_admin %>
          <%= f.collection_select :course_ids, Course.internship_courses.current_and_future_courses.where.not(description: "Internship Exempt").reorder(:start_date), :id, :description_and_office, {}, { class: 'multiselect-dropdown', multiple: true, include_hidden: false, required: true } %>
        <% else %>
          <%= f.collection_select :course_ids, Course.active_internship_courses.available_internship_courses.current_and_future_courses, :id, :description_and_office, {}, { class: 'multiselect-dropdown', multiple: true, include_hidden: false, required: true } %>
        <% end %>
      </div>

      <div class='form-group'>
        <%= f.label :number_of_students, "* Number of students that you'd like to work with." %>
        <div class="radio">
          <%= f.label :number_of_students do %>
            <%= f.radio_button :number_of_students, 2, required: true %> 2-3
          <% end %>
        </div>

        <div class="radio">
          <%= f.label :number_of_students do %>
            <%= f.radio_button :number_of_students, 4 %> 4-5
          <% end %>
        </div>

        <div class="radio">
          <%= f.label :number_of_students do %>
            <%= f.radio_button :number_of_students, 6 %> 6+
          <% end %>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :location, "* Will the students be working on-site or remotely?" %>
        <div class="radio">
          <%= f.label :location do %>
            <%= f.radio_button :location, 'onsite', required: true %> on-site
          <% end %>
        </div>

        <div class="radio">
          <%= f.label :location do %>
            <%= f.radio_button :location, 'remote' %> remote
          <% end %>
        </div>

        <div class="radio">
          <%= f.label :location do %>
            <%= f.radio_button :location, 'either' %> open to on-site and remote
          <% end %>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :hiring, "* Do you intend to hire after the internship ends?" %>
        <div class="radio">
          <%= f.label :hiring do %>
            <%= f.radio_button :hiring, 'yes' %> yes
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :hiring do %>
            <%= f.radio_button :hiring, 'no' %> no
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :hiring do %>
            <%= f.radio_button :hiring, 'maybe' %> maybe
          <% end %>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :ideal_intern, 'Describe your ideal intern.' %>
        <%= f.text_area :ideal_intern, rows: 8, required: true, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :mentor_name %>
        <%= f.text_field :mentor_name, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :mentor_years, '* How many years has the mentor been a developer? (min: 1 year)' %>
        <%= f.text_field :mentor_years, class: 'form-control', required: true %>
      </div>

      <div class='form-group'>
        <%= f.label :work_schedule, '* What is the internship work schedule? Please provide days and hours (e.g. Monday - Thursday, 8am - 5pm)' %>
        <%= f.text_field :work_schedule, class: 'form-control', required: true %>
      </div>

      <div class='form-group'>
        <%= f.label :projects, '* Please describe what project(s) students will be working on during their internship.' %>
        <%= f.text_area :projects, rows: 8, class: 'form-control', required: true %>
      </div>

      <div class='form-group'>
        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :interview_location, "interview location (if different)" %>
        <%= f.text_field :interview_location, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :clearance_required do %>
          Clearance required?
        <% end %>
        <%= f.check_box :clearance_required %>
      </div>

      <div class='form-group'>
        <%= f.label :clearance_description %>
        <%= f.text_area :clearance_description, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :contract, 'Do interns need to sign a contract, non-compete, or other documentation? If so, please list the documentation required and share a copy with Epicodus when you sign the internship agreement.' %>
        <%= f.text_area :contract, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit 'Update internship', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <% if current_company %>
      <%= render 'internships/internship_instructions' %>
    <% end %>
  </div>
</div>
