<%= form_for [@cohort, @internship] do |f| %>
  <%= render 'layouts/errors', object: @internship %>

  <div class='form-group'>
    <%= f.label :description, "Internship description" %>
    <%= f.text_area :description, rows: 3, style: "width: 50em" %>
  </div>

  <div class='form-group'>
    <%= f.label :ideal_intern %>
    <%= f.text_area :ideal_intern, rows: 3, style: "width: 50em" %>
  </div>

  <div class='form-group'>
    <%= f.label :clearance_required %>
    <%= f.check_box :clearance_required %>
  </div>

  <div class='form-group'>
    <%= f.label :clearance_description %>
    <%= f.text_area :clearance_description, rows: 3, style: "width: 50em" %>
  </div>

  <div class='form-group'>
    <%= f.label :company_id%>
    <%= f.collection_select :company_id, Company.all, :id, :name  %>
  </div>

  <div class="submit">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
