
<%= form_for [@course, @internship], html: { class: 'form-horizontal' } do |f| %>
  <%= render 'layouts/errors', object: @internship %>
  <div class='form-group'>
    <%= f.label :description, "Internship description", class: "col-xs-4 control-label" %>
    <div class="col-xs-8">
      <%= f.text_area :description, rows: 6, class: "form-control" %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :ideal_intern, class: "col-xs-4 control-label" %>
    <div class="col-xs-8">
      <%= f.text_area :ideal_intern, rows: 6, class: "form-control" %>
    </div>
  </div>
  <div class='form-group'>
    <div class="col-xs-3 col-xs-offset-1">
      <%= f.label :clearance_required do %>
        Clearance Required ?
      <% end %>
    </div>
    <div class="col-xs-7">
      <%= f.check_box :clearance_required %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :clearance_description, class: "col-xs-4 control-label" %>
    <div class="col-xs-8">
      <%= f.text_area :clearance_description, rows: 6, class: "form-control" %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :company_id, class: "col-xs-4 control-label" %>
    <div class="col-xs-8">
      <%= f.collection_select :company_id, Company.all, :id, :name, { prompt: "Please select a company." }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-8 col-lg-offset-4">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to 'Cancel', course_internships_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
