
<%= form_for [@course, @internship] do |f| %>
  <%= render 'layouts/errors', object: @internship %>
  <div class='form-group'>
    <%= f.label :description, "Internship description" %>
    <%= f.text_area :description, rows: 6, class: "form-control" %>
  </div>
  <div class='form-group'>
    <%= f.label :ideal_intern %>
    <%= f.text_area :ideal_intern, rows: 6, class: "form-control" %>
  </div>
  <div class='form-group'>
    <%= f.label :clearance_required do %>
      Clearance Required ?
    <% end %>
    <%= f.check_box :clearance_required %>
  </div>
  <div class='form-group'>
    <%= f.label :clearance_description %>
    <%= f.text_area :clearance_description, rows: 6, class: "form-control" %>
  </div>
  <div class='form-group'>
    <%= f.label :company_id %>
    <%= f.collection_select :company_id, Company.all, :id, :name, { prompt: "Please select a company." }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Cancel', course_internships_path, class: 'btn btn-default' %>
  </div>
<% end %>
