<%= f.fields_for :ratings, rating ||= Rating.new do |ff| %>
  <div class='btn-group form-group' data-toggle='buttons'>
    <% if current_student.find_rating(internship).try(:interest) == '1' %>
    <% else %>
      <label class="btn btn-success">
    <% end %>
      <%= ff.radio_button :interest, 1 %> High
    </label>
    <% if current_student.find_rating(internship).try(:interest) == '2' %>
      <label class="btn btn-danger active">
    <% else %>
      <label class="btn btn-danger">
    <% end %>
      <%= ff.radio_button :interest, 2 %> Medium
    </label>
    <% if current_student.find_rating(internship).try(:interest) == '3' %>
      <label class="btn btn-primary active">
    <% else %>
      <label class="btn btn-primary">
    <% end %>
      <%= ff.radio_button :interest, 3, data: { toggle: 'tooltip', placement: 'right' }, title: 'You may only rank 5 companies as "Low" interest.' %> Low
    </label>
  </div>

  <%= ff.hidden_field :internship_id, value: internship.id %>

  <div class='form-group'>
    <%= ff.text_area :notes, rows: 6, placeholder: "Notes: minimum 10 characters", class: 'rating-text-area form-control' %>
  </div>
<% end %>
