<h1>All internships</h1>
<% @courses.reverse.each do |course| %>
  <h3><%= course.description %></h3>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Company</th>
          <th>Students requested</th>
          <th>Technologies</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% course.internships.order('name').each do |internship| %>
          <tr>
            <td class="col-md-2"><%= link_to internship.name, course_internship_path(course, internship) %></td>
            <td class="col-md-2"><%= internship.number_of_students %></td>
            <td class="col-md-6"><%= internship.tracks.pluck(:description).join(', ') %></td>
            <td><%= link_to 'Edit', edit_internship_path(internship) %></td>
            <td><%= link_to 'Delete', internship_path(internship), data: { method: :delete, confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
