<h1>All internships</h1>
<% @courses.reverse.each do |course| %>
  <h3><%= course.description %></h3>

  <% if course.active? %>
    <h4>Status: <span class="label label-success">Active</span></h4>
  <% else %>
    <h4>Status: <span class="label label-primary">Inactive</span></h4>
  <% end %>

  <h4>Students requested: <%= course.total_internship_students_requested %></h4>

  <% if course.active? %>
    <%= form_for course, method: :put do |f| %>
      <%= f.hidden_field :active, value: false %>
      <%= f.submit 'Mark as inactive', class: 'btn btn-default' %>
    <% end %>
  <% else %>
    <%= form_for course, method: :put do |f| %>
      <%= f.hidden_field :active, value: true %>
      <%= f.submit 'Mark as active', class: 'btn btn-default' %>
    <% end %>
  <% end %>

  <div class="table-responsive">
    <table class="table table-hover internships-datatable">
      <thead>
        <tr>
          <th>Company</th>
          <th>Students requested</th>
          <th>Technologies</th>
          <th>Contact</th>
          <th>Email</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% course.internships.order('name').each do |internship| %>
          <tr>
            <td><%= link_to internship.name, course_internship_path(course, internship) %></td>
            <td><%= internship.number_of_students %></td>
            <td><%= internship.tracks.pluck(:description).join(', ') %></td>
            <td><%= internship.try(:company).try(:name) %></td>
            <td><%= mail_to internship.try(:company).try(:email) %></td>
            <td><%= link_to 'Edit', edit_internship_path(internship) %></td>
            <td><%= link_to 'Withdraw', course_internships_path(course_id: course.id, internship_id: internship.id), data: { method: :delete, confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
