<h1>
  Available Internships
  <% if current_admin %>
    <span class="pull-right">
      <%= link_to new_cohort_internship_path(@cohort) do %>
        <h4 class="span3 text-success">+ New Internship</h4>
      <% end %>
    </span>
  <% end %>
</h1>
<hr/>

<ul class="company-list">
  <% @internships.each do |internship| %>
    <% if current_student %>
      <div class="span12 <%= set_internship_background(current_student.find_rating(internship)) %>">
    <% else %>
      <div class='span12'>
    <% end %>
      <div class='internship-list-row row'>
        <li>
          <span class='span3'><%= link_to internship.company_name, cohort_internship_path(@cohort, internship) %></span>
          <% if current_admin %>
            <div class='update-company btn-group'>
              <%= link_to 'Edit', edit_cohort_internship_path(internship.cohort, internship), class: 'btn btn-warning' %>
              <%= link_to 'Delete', cohort_internship_path(@cohort, internship), data: { method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </div>
          <% elsif current_student %>
            <%= form_tag('/ratings', method: :post, class: 'form-inline') do |f| %>
              <div class='pull-right'>
                <%= label_tag :notes %>
                <% if current_student.ratings.where(internship_id: internship.id).empty? %>
                  <%= text_area_tag :notes, nil, rows: 8, required: true, minlength: 10 %>
                <% else %>
                  <%= text_area_tag :notes, current_student.find_rating(internship).notes, rows: 8, required: true, minlength: 10 %>
                <% end %>
              </div>
              <%= hidden_field_tag :internship_id, internship.id %>

              <div class='update-company btn-group span3 pull-right'>
                <%= submit_tag 'High', class: 'btn btn-success', name: 'commit[1]'  %>
                <%= submit_tag 'Medium', class: 'btn btn-warning', name: 'commit[2]' %>
                <%= submit_tag 'Low', class: 'btn btn-danger', name: 'commit[3]' %>
              </div>
            <% end %>
          <% end %>
        </li>
      </div>
    </div>
  <% end %>
</ul>
