<%= render partial: 'layouts/category_header', locals: { header: 'Available Internships', class_to_manage: Internship, category: 'Internship', category_path: new_course_internship_path(@course) } %>

<% if current_student %>
  <p class="text-danger">* You may only rank 5 companies as "Low" interest.</p>
<% end %>

<hr>

<%= render 'layouts/errors', object: @rating %>

<ul class="list-unstyled">
  <% @internships.each do |internship| %>
    <li>
      <p>
        <%= link_to internship.company_name, course_internship_path(@course, internship) %>
        <% if current_student %>
          <%= render 'internships/rating_label', object: current_student.find_rating(internship) %>
        <% end %>
      </p>
      <% if current_admin %>
        <span class='btn-group'>
          <%= link_to 'Edit', edit_course_internship_path(internship.course, internship), class: 'btn btn-info' %>
          <%= link_to 'Delete', course_internship_path(@course, internship), data: { method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
        </span>
        <br>
        <br>
      <% elsif current_student %>
        <div class="row">
          <div class="col-xs-6">
            <%= render 'rating_form', object: internship %>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
