<h1>All internships</h1>
<% @courses.reverse.each do |course| %>
  <h3><%= course.description %></h3>
  <h4>Students requested: <%= course.total_internship_students_requested %></h4>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Company</th>
          <th>Students requested</th>
          <th>Technologies</th>
          <th>Contact</th>
          <th>Email</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% course.internships.order('name').each do |internship| %>
          <tr>
            <td><%= link_to internship.name, course_internship_path(course, internship) %></td>
            <td><%= internship.number_of_students %></td>
            <td><%= internship.tracks.pluck(:description).join(', ') %></td>
            <td><%= internship.try(:company).try(:name) %></td>
            <td><%= mail_to internship.try(:company).try(:email) %></td>
            <td><%= link_to 'Edit', edit_internship_path(internship) %></td>
            <td><%= link_to 'Withdraw', course_internships_path(course_id: course.id, internship_id: internship.id), data: { method: :delete, confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
