<h1>
  <%= @internship.name %>
  <% if can?(:manage, @internship) %>
    <%= link_to 'Edit', edit_internship_path(@internship) %>
  <% end %>
</h1>

<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <h3>Contact</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <p><%= @internship.address %></p>
            <p><%= link_to @internship.website, @internship.website %></p>
            <p><%= @internship.try(:company).try(:name) %></p>
            <p><%= mail_to @internship.try(:company).try(:email) %></p>
          </div>
        </div>
      </div>
      <% if @course.internship_assignments.for_internship(@internship).any? %>
        <div class="col-md-12">
          <h3>Interns</h3>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr><th>Interns</th></tr>
                  </thead>
                  <tbody>
                    <% @course.internship_assignments.for_internship(@internship).each do |internship_assignment| %>
                      <tr><td><%= internship_assignment.student.name %></td></tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-8">
    <h3>Details</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <p><strong>Technologies</strong></p>
        <p><%= @internship.tracks_ordered_by_description %></p>
        <hr>
        <p><strong>Description</strong></p>
        <p><%= @internship.description %></p>
        <hr>
        <p><strong>Ideal intern</strong></p>
        <p><%= @internship.ideal_intern %></p>
        <hr>
        <p><strong>On-Site / Remote</strong></p>
        <p>Internship is <%= @internship.remote ? "remote" : "on-site" %></p>
        <% if @internship.clearance_required %>
          <hr>
          <p><strong>Clearance description</strong></p>
          <p><%= @internship.clearance_description %></p>
        <% end %>
        <hr>
        <p><strong>Interview location</strong></p>
        <p><%= @internship.interview_location && @internship.interview_location != "" ? @internship.interview_location : @internship.address %></p>
        <hr>
      </div>
    </div>
  </div>
</div>

<% if can?(:manage, @internship) %>
  <div class="row">
    <div class="col-md-6">
      <h3>Rankings from students</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class='table student-internship-rankings-datatable'>
              <thead>
                <tr>
                  <th>Student</th>
                  <th>Ranking</th>
                </tr>
              </thead>
              <tbody>
                <% @course.students.each do |student| %>
                  <tr>
                    <td class="col-md-3"><%= link_to student.name, course_student_path(@course, student) %></td>
                    <td class="col-md-2"><%= student.ratings.find_by(internship: @internship).try(:number) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h3>Rankings from company</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class='table student-internship-rankings-datatable'>
              <thead>
                <tr>
                  <th>Student</th>
                  <th>Ranking</th>
                  <th>Feedback</th>
                </tr>
              </thead>
              <tbody>
                <% @course.interview_assignments.for_internship(@internship).each do |interview_assignment| %>
                  <tr>
                    <td><%= link_to interview_assignment.student.name, course_student_path(@course, interview_assignment.student) %></td>
                    <td><%= interview_assignment.ranking_from_company %></td>
                    <td><%= interview_assignment.feedback_from_company %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
