<h1>
  <%= @internship.name %>
  <%= link_to 'Edit', edit_internship_path(@internship) %>
</h1>
<h4><%= @internship.tracks_ordered_by_description %></h4>
<h4><%= @internship.address %></h4>
<h4><%= link_to @internship.website, @internship.website %></h4>
<h4><%= @internship.try(:company).try(:name) %></h4>
<h4><%= mail_to @internship.try(:company).try(:email) %></h4>

<div class="row">
  <div class="col-md-6">
    <h3>Rankings from students</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class='table student-internship-rankings-datatable'>
            <thead>
              <tr>
                <th>Student</th>
                <th>Ranking</th>
                <th>Notes</th>
              </tr>
            </thead>
            <tbody>
              <% @course.students.each do |student| %>
                <tr>
                  <td class="col-md-3"><%= link_to student.name, course_student_path(@course, student) %></td>
                  <td class="col-md-2"><%= student.ratings.find_by(internship: @internship).try(:number) %></td>
                  <td><%= student.find_rating(@internship).try(:notes) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h3>Rankings from company</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
          <table class='table student-internship-rankings-datatable'>
            <thead>
              <tr>
                <th>Student</th>
                <th>Ranking</th>
                <th>Feedback</th>
              </tr>
            </thead>
            <tbody>
              <% @course.interview_assignments.for_internship(@internship).each do |interview_assignment| %>
                <tr>
                  <td><%= link_to interview_assignment.student.name, course_student_path(@course, interview_assignment.student) %></td>
                  <td><%= interview_assignment.ranking_from_company %></td>
                  <td><%= interview_assignment.feedback_from_company %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h3>Details</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <p><strong>Description</strong></p>
        <p><%= @internship.description %></p>
        <hr>
        <p><strong>Ideal intern</strong></p>
        <p><%= @internship.ideal_intern %></p>
        <% if @internship.clearance_required %>
          <hr>
          <p><strong>Clearance description</strong></p>
          <p><%= @internship.clearance_description %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
