<div class="span12 <%= set_internship_background(@rating) %>">
  <h1 class='span8'><%= @company.name %></h1>
</div>
<table class="table table-rating">
  <tr>
    <th>Company info:</th>
    <td>
      <%= link_to @company.website, @company.website %><br>
      <%= @company.address %><br><br>
      <%= @company.description %>
    </td>
  </tr>
  <tr>
    <th>Internship description:</th>
    <td>
      <%= @internship.description %>
    </td>
  </tr>
  <tr>
    <th>Ideal intern:</th>
    <td>
      <%= @internship.ideal_intern %>
    </td>
  </tr>
  <% if @internship.clearance_required %>
    <tr>
      <th>Clearance description</th>
      <td>
        <%= @internship.clearance_description %>
      </td>
    </tr>
  <% end %>
</table>

<% if @rating %>
  <%= form_tag('/ratings', method: :post) do |f| %>
    <hr>
    <h4> Rate internship </h4>

    <div class='form-group'>
      <%= label_tag :notes %>
      <%= text_area_tag :notes, @rating.notes %>
    </div>

    <%= hidden_field_tag :internship_id, @internship.id %>

    <div class='update-company btn-group span3'>
      <%= submit_tag 'High', class: 'btn btn-success', name: 'commit[1]'  %>
      <%= submit_tag 'Medium', class: 'btn btn-warning', name: 'commit[2]' %>
      <%= submit_tag 'Low', class: 'btn btn-danger', name: 'commit[3]' %>
    </div>
  <% end %>
<% end %>
