<tr class="sortable-list-item">
  <td class="col-md-1">
    <%= code_review.number %>
  </td>
  <td>
    <% if (can? :manage, CodeReview) && code_review.date %>
      <%= code_review.date.strftime('%b %d') %>
    <% end %>
  </td>
  <td><p><%= link_to code_review.title, course_code_review_path(@course, code_review) %></p></td>
  <td>
    <% if can? :manage, CodeReview %>
      <%= link_to 'Grades report', course_code_review_report_path(@course, code_review) %>
  </td>
  <td>
    <% if code_review.submissions.needing_review.any? %>
      <%= link_to pluralize(code_review.submissions.needing_review.count, 'new submission'), code_review_submissions_path(code_review) %>
    <% end %>
  </td>
  <td><span class="pull-right glyphicon glyphicon-menu-hamburger"></span></td>
      <%= fields_for 'code_reviews[]', code_review do |f| %>
        <%= f.hidden_field :number, class: 'sortable-number' %>
      <% end %>
    <% elsif can? :read, CodeReview %>
      <% if code_review.submission_for(current_student).nil? %>
        Not submitted
      <% elsif code_review.submission_for(current_student).has_been_reviewed? %>
        Reviewed
      <% else %>
        Submitted - Pending review
      <% end %>
    <% end %>
</tr>
