<%= form_for code_review, html: { class: 'code-review-form' } do |f| %>
  <%= render 'layouts/errors', object: code_review %>

  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>

  <h3>Objectives</h3>
    <ul id="objective-fields" class="list-unstyled">
      <%= f.nested_fields_for :objectives, wrapper_tag: :li do |ff| %>
        <%= ff.text_field :content, class: 'form-control' %>
        <%= ff.remove_nested_fields_link %>
      <% end %>
    </ul>
  <%= f.add_nested_fields_link :objectives %>


  <div class="submit">
    <%= f.submit nil, class: 'btn btn-info' %>
  </div>
<% end %>
