<%= form_for code_review, html: { class: 'code-review-form' } do |f| %>
  <%= render 'layouts/errors', object: code_review %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <h3>Requirements</h3>
  <ol id="requirement-fields">
    <%= f.nested_fields_for :requirements, wrapper_tag: :li do |ff| %>
      <%= ff.text_field :content %>
      <%= ff.remove_nested_fields_link %>
    <% end %>
  </ol>
  <%= f.add_nested_fields_link :requirements %>

  <div class="submit">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
