<h1>
  Code Reviews
  <% if can? :manage, CodeReview %>
    <%= link_to '+ New Code Review', new_code_review_path, class: 'text-success new-link' %>
  <% end %>
</h1>

<% if can? :manage, CodeReview %>
  <%= form_tag update_multiple_code_reviews_path, method: :patch, class: 'update-multiple-code-reviews' do %>
    <div class="sortable-code-reviews">
      <%= render @code_reviews %>
    </div>

    <%= submit_tag 'Save order', class: "btn btn-warning" %>
  <% end %>
<% else %>
  <div class="code_reviews">
    <%= render @code_reviews %>
  </div>
<% end %>
