<div class="panel">
  <div class="panel-heading">
    <%= render partial: 'layouts/category_header', locals: { header: 'Code Reviews', class_to_manage: CodeReview, category: 'Code Review', category_path: new_code_review_path } %>
  </div>

<% if can? :manage, CodeReview %>
  <%= form_tag update_multiple_code_reviews_path, method: :patch, class: 'update-multiple-code-reviews' do %>
    <div class="form-group">
      <%= submit_tag 'Save order', class: "btn btn-info" %>
    </div>
    <div class="sortable-code-reviews col-xs-12">
      <%= render @code_reviews %>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <%= render @code_reviews %>
    </div>
  </div>
</div>
