<h1>Code reviews for <%= @course.description %></h1>

<%= form_tag update_multiple_code_reviews_path, method: :patch, class: 'update-multiple-code-reviews' do %>
  <% if can? :manage, CodeReview %>
    <div class="form-group">
      <%= link_to 'New code review', new_code_review_path, class: "btn btn-success" %>
      <%= submit_tag 'Save order', class: "btn btn-info" %>
    </div>
  <% end %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Number</th>
          <th>Title</th>
          <% if current_student %>
          <th>Status</th>
          <% else %>
          <th></th>
          <% end %>
        </tr>
      </thead>
      <% if can? :manage, CodeReview %>
      <tbody class="sortable-code-reviews">
        <% else %>
        <tbody>
          <% end %>
          <%= render @course.code_reviews %>
        </tbody>
      </table>
  </div>
<% end %>
