<%= render 'layouts/errors', object: @code_review %>

<h1 class="page-header">
  <%= @code_review.title %>
  <% if current_admin %>
    <div class="btn-group pull-right">
      <%= link_to 'Edit', edit_code_review_path(@code_review), class: 'btn btn-info' %>
      <%= link_to 'Delete', @code_review, data: { method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
      <%= link_to 'New', new_code_review_path, class: 'btn btn-success' %>
    </div>
  <% end %>
</h1>

<h3>Objectives</h3>
<% if @submission.has_been_reviewed? %>
  <table class="table table-hover">
    <%= render @submission.latest_review.grades %>
  </table>
<% else %>
  <ul class="list-unstyled">
    <%= render @code_review.objectives %>
  </ul>
<% end %>

<% if @submission.needs_review? %>
  <hr>
  <p class='text-muted'>Your submission is pending review.</p>
<% elsif @submission.has_been_reviewed? %>
  <hr>
  <h3>Feedback</h3>
  <div>
    <%= markdown(@submission.latest_review.note) %>
  </div>
<% end %>

<% if can? :create, Submission %>
  <hr>
  <div class="row">
    <div class="col-xs-6">
      <%= render 'submissions/form' %>
    </div>
  </div>
<% end %>
