<%= render 'layouts/errors', object: @code_review %>

<h1>
  <%= @code_review.title %>
  <% if can? :manage, @code_review %>
    <%= link_to 'Edit', edit_code_review_path(@code_review) %>
  <% end %>
</h1>

<% if can?(:manage, @code_review) && @code_review.submissions_not_required? %>
  <p><span class="label label-info">Submissions not required</span></p>
<% end %>

<% if @submission.needs_review? %>
  <div class="alert alert-warning">
    Your submission is pending review.
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr><th>Objectives</th></tr>
        </thead>
        <tbody>
          <% if @submission.has_been_reviewed? %>
            <%= render @submission.latest_review.grades %>
          <% else %>
            <%= render @code_review.objectives %>
          <% end %>
        </tbody>
      </table>
    </div>

    <% if @submission.has_been_reviewed? %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr><th>Feedback</th></tr>
          </thead>
          <tbody>
            <tr><td><%= markdown(@submission.latest_review.note) %></td></tr>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if current_student && !@submission.code_review.submissions_not_required? %>
      <div class="row">
        <div class="col-md-6">
          <%= render 'submissions/form' %>
        </div>
      </div>
    <% end %>

    <% if current_admin %>
      <%= link_to 'Delete', @code_review, data: { method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
