<%= render 'layouts/errors', object: @code_review %>

<h1>
  <%= @code_review.title %>
  <% if current_admin %>
    <div class="btn-group pull-right">
      <%= link_to 'Edit', edit_code_review_path(@code_review), class: 'btn btn-info' %>
      <%= link_to 'Delete', @code_review, data: { method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
      <%= link_to 'New', new_code_review_path, class: 'btn btn-success' %>
    </div>
  <% end %>
</h1>

<% if @submission.needs_review? %>
  <div class="alert alert-warning">
    Your submission is pending review.
  </div>
<% end %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr><th>Objectives</th></tr>
    </thead>
    <tbody>
      <% if @submission.has_been_reviewed? %>
        <%= render @submission.latest_review.grades %>
      <% else %>
        <%= render @code_review.objectives %>
      <% end %>
    </tbody>
  </table>
</div>

<% if @submission.has_been_reviewed? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr><th>Feedback</th></tr>
      </thead>
      <tbody>
        <tr><td><%= markdown(@submission.latest_review.note) %></td></tr>
      </tbody>
    </table>
  </div>
<% end %>

<% if current_student %>
  <div class="row">
    <div class="col-md-6">
      <%= render 'submissions/form' %>
    </div>
  </div>
<% end %>
