<%= render 'layouts/errors', object: @code_review %>

<% if @submission.needs_review? %>
  <div class="alert alert-warning">
    Your submission is pending review.
  </div>
<% end %>

<h1>
  <%= @code_review.title %>
  <% if can? :manage, @code_review %>
    <%= link_to 'Edit', edit_course_code_review_path(@code_review.course, @code_review) %>
    <%= link_to 'Export-all-submissions', code_review_export_path(@code_review, all: "true"), id: "export-btn" %>
  <% end %>
</h1>

<% unless @submission.times_submitted.nil? %>
  <h4>Submitted <%= pluralize(@submission.times_submitted, 'time') %></h4>
<% end %>

<% if can?(:manage, @code_review) && @code_review.submissions_not_required? %>
  <p><span class="label label-info">Submissions not required</span></p>
<% end %>

<% if @code_review.content %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><strong>Project</strong></h4>
    </div>
    <div class="panel-body">
      <% if current_admin || @code_review.visible?(current_student) %>
        <%= markdown @code_review.content %>
      <% elsif @code_review.expectations_met_by?(current_student) %>
        <h4>Completed successfully!</h4>
      <% else %>
        <h4>Not yet available.</h4>
      <% end %>
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><strong>Objectives</strong></h4>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr><th>Your project will be reviewed on the following objectives:</th></tr>
        </thead>
        <tbody>
          <% if @submission.has_been_reviewed? %>
            <%= render @submission.latest_review.grades %>
          <% else %>
            <%= render @code_review.objectives %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" id="submission">
    <h4><strong>Submission</strong></h4>
  </div>
  <div class="panel-body">
    <% if @code_review.date && !@code_review.expectations_met_by?(current_student) %>
      <div class="well">
        <p>Submit your code for review by 5pm on <%= @code_review.date.strftime("%A %B %d") %>.</p>
        <p><em>Please be sure to submit below both the embedded Friday Survey <strong>and</strong> your code review!</em></p>
        <p>Visit <a href="https://www.learnhowtoprogram.com/lessons/independent-projects-and-code-reviews" target="_blank">Independent Projects and Code Reviews</a> for details on how to submit, how feedback works and course completion requirements.</p>
      </div>
    <% end %>

    <% if @submission.has_been_reviewed? %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr><th>Feedback</th></tr>
          </thead>
          <tbody>
            <tr><td><%= markdown(@submission.latest_review.note) %></td></tr>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if current_student && !@code_review.submissions_not_required? %>
      <div class="row">
        <div class="col-md-12">

          <% if @code_review.date && !@code_review.expectations_met_by?(current_student) %>
            <div class="well">
              <script>(function(t,e,s,n){var o,a,c;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(s),a=o[o.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=n,c.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd4JtpE_2BzvN0y_2F5yj2I6l3GecJTVxOlGlsNUZGz_2F9oNyq.js"].join(""),a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");</script>
            </div>
            <p><strong>Please submit the embedded survey above, then submit your code review here:</strong></p>
          <% end %>

          <%= render 'submissions/form' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if current_admin %>
  <div class="panel">
    <%= link_to 'Delete Code Review', @code_review, data: { method: :delete, confirm: 'Are you sure you want to delete this code review?' }, class: 'btn btn-primary' %>
  </div>
<% end %>
