<% if @resource.is_a?(Admin) %>
  <p>Hi <%= @resource.name %>,</p>
  <p>You have been invited to create an admin account at <%= root_url %>. Lucky you!</p>
  <p><%= link_to "Accept Invitation", accept_invitation_url(@resource, :invitation_token => @token) %></p>
<% else %>
  <p>Hi <%= @resource.name %>. I'm really happy to tell you that you're accepted to <strong><%= @resource.course.description %></strong> with <strong><%= @resource.course.teacher %></strong> at Epicodus!</p>

  <p>The next step is to read and sign our code of conduct, refund policy, and enrollment agreement, and then pay your tuition.</p>

  <p>Click <%= link_to "here", accept_invitation_url(@resource, :invitation_token => @token) %> to enroll and complete these steps.</p>

  <p>To reserve your spot in the class, you need to sign these agreements and make your tuition payment within the next seven days. Verifying your bank account can take up to four days, so please start that process as soon as possible. If you're seeking a loan from one of our financing partners, you need to apply within the next seven days as well (we will be notified about your application).</p>

  <p>If I haven't heard from you within a week, we’ll open your spot up. If you decide you don’t want to enroll in Epicodus, I’d very much appreciate you telling me as soon as you make up your mind so we can offer your place to someone else.</p>

  <p>Now, on to the fun stuff!</p>

  <p>After you complete your enrollment, I'll invite you to our forum to connect with your fellow students and Epicodus alumni.</p>
  
  <p>If you know anybody else who might be interested in attending Epicodus, we'll discount $100 from both of your tuition if they enroll. Just tell them to mention to us that you referred them.</p>

  <p>The Friday evening before class starts, we'll have a new student orientation, so make sure to mark your calendar now.</p>

  <p>The weekend before class starts, you'll have a few videos to watch for homework, so make sure to budget time to watch them. Also, as part of being at Epicodus, we'll provide you with a free Treehouse account that I'll send you an invite to after you enroll.</p>

  <p>Finally, if you want to get plugged into the Portland tech community, pretty much every tech event around town is listed at <%= link_to 'calagator.org', 'http://calagator.org' %>. Check it out!

  <p>Thanks so much, <%= @resource.name %>! We're really excited to have you at Epicodus.</p>
<% end %>
