<%= form_for [@submission, @review] do |f| %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Objectives</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
        <%= f.nested_fields_for :grades do |ff| %>
          <tr>
            <td class="col-md-8"><%= markdown(ff.object.objective.content) if ff.object.objective %></td>
            <td><%= ff.collection_select :score_id, Score.all, :id, :description, { include_blank: true }, { class: "form-control" } %></td>
          </tr>
          <%= ff.hidden_field :objective_id %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="form-group">
    <%= f.label :note, 'Note (Markdown compatible)' %>
    <%= f.text_area :note, rows: 10, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label 'Your attendance for this course' %>
      <p>
        <span class="label label-success">
          On Time:
          <%= pluralize(@submission.student.attendance_records_for(:on_time, @submission.code_review.course), 'day') %>
        </span>
      </p>
      <p>
        <span class="label label-danger">
          Tardy:
          <%= pluralize(@submission.student.attendance_records_for(:tardy, @submission.code_review.course), 'day') %>
        </span>
      </p>
      <p>
        <span class="label label-danger">
          Left Early:
          <%= pluralize(@submission.student.attendance_records_for(:left_early, @submission.code_review.course), 'day') %>
        </span>
      </p>
      <p>
        <span class="label label-primary">
          Absent:
          <%= pluralize(@submission.student.attendance_records_for(:absent, @submission.code_review.course), 'day') %>
        </span>
      </p>
  </div>

  <div class="form-group">
    <%= f.label :student_signature, 'Student: The state requires that you sign this form by typing your name below to acknowledge that you understand how you have reviewed this code review and your attendance with your teacher.' %>
    <div class="row">
      <div class="col-md-6">
        <%= f.text_field :student_signature, class: 'form-control', required: true %>
      </div>
    </div>
  </div>

  <%= f.submit nil, class: "btn btn-info" %>
<% end %>
