<div class="text-right">
  <button type='button' class='btn btn-success mark-all-objectives' name='all_3' id='all_3'>All Objectives Passing</button>
  <button type='button' class='btn btn-danger mark-all-objectives' name='all_2' id='all_2'>All Objectives Weak</button>
  <button type='button' class='btn btn-primary mark-all-objectives' name='all_1' id='all_1'>All Objectives Failing</button>
</div>

<%= form_for [@submission, @review] do |f| %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Objectives</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
        <%= f.nested_fields_for :grades do |ff| %>
          <tr>
            <td class="col-md-8"><%= markdown(ff.object.objective.content) if ff.object.objective %></td>
            <td><%= ff.collection_select :score_id, Score.all.order(:value), :id, :description, { include_blank: true }, { class: "form-control objectives-scores" } %></td>
          </tr>
          <%= ff.hidden_field :objective_id %>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if @submission.reviews.any? %>
    <div class="well">
      <p><strong>Past feedback</strong></p>
      <% @submission.reviews.reorder('CREATED_AT DESC').each do |review| %>
        <hr>
        <div class='review-note'>
          <div class='review-note-display'>
            <p><em><%= review.created_at.strftime('%Y-%m-%d  %-I:%M %p') %></em> <span class='btn-xs btn-danger pull-right review-note-edit-button'>edit</span></p>
            <p><%= markdown(review.note) %></p>
          </div>
          <div class='hide review-note-edit'>
            <p><em><%= review.created_at.strftime('%Y-%m-%d  %-I:%M %p') %></em>
            <%= form_for [@submission, review] do |review_form| %>
              <p><%= review_form.text_area :note, class: 'form-control', rows: 10 %></p>
              <p><%= review_form.submit 'Update previously submitted note', class: 'btn-sm btn-danger'%></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :note, 'Note (Markdown compatible)' %>
    <%= f.text_area :note, rows: 10, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <%= f.label 'Your attendance for this course' %>
        <p>
          <span class="label label-success">
            On Time:
            <%= pluralize(@submission.student.attendance_records_for(:on_time, @submission.code_review.course), 'day') %>
          </span>
        </p>
        <p>
          <span class="label label-danger">
            Tardy:
            <%= pluralize(@submission.student.attendance_records_for(:tardy, @submission.code_review.course), 'day') %>
          </span>
        </p>
        <p>
          <span class="label label-danger">
            Left Early:
            <%= pluralize(@submission.student.attendance_records_for(:left_early, @submission.code_review.course), 'day') %>
          </span>
        </p>
        <p>
          <span class="label label-primary">
            Absent:
            <%= pluralize(@submission.student.attendance_records_for(:absent, @submission.code_review.course), 'day') %>
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= f.label :student_signature, 'Student: The state requires that you sign this form by typing your name below to acknowledge that you understand how you have reviewed this code review and your attendance with your teacher.' %>
        <%= f.text_field :student_signature, class: 'form-control', required: true %>
      </div>
    </div>
  </div>

  <%= f.submit nil, class: "btn btn-info" %>
<% end %>
