<%= form_for [@submission, @review], remote: true do |f| %>
  <div class="jumbotron">
    <%= f.nested_fields_for :grades, wrapper_tag: :div do |ff| %>
      <div class="row">
        <div class="col-xs-7">
          <%= ff.object.objective.content if ff.object.objective %>
        </div>
        <div class="col-xs-5">
          <%= ff.collection_select :score_id, Score.all, :id, :description, {}, { class: "form-control" } %>
        </div>
      </div>
      <%= ff.hidden_field :objective_id %>
    <% end %>
    <br>
    <div class="form-group">
      <%= f.label :note, class: 'col-xs-2 control-label' %>
      <%= f.text_area :note, rows: 5, class: 'form-control' %>
    </div>
    <%= f.submit nil, class: "btn btn-info" %>
    <button type="button" class="cancel btn btn-default">Cancel</button>
  </div>
<% end %>
