<%= render 'layouts/errors', object: @review %>

<h1>Submission for <%= @submission.code_review.title %></h1>
<h3><%= @submission.student.name %></h3>
<p>Submitted <%= time_ago_in_words(@submission.updated_at) %> ago</p>
<p><%= link_to 'View code', @submission.link, target: '_blank', class: 'btn btn-primary' if @submission.link %></p>

<%= render 'form' %>
