<% if @submission.review_status == 'pass' %>
  <div class="alert alert-info">
    <h1>This submission has already been marked as passing.</h1>
  </div>
<% end %>

<%= render 'layouts/errors', object: @review %>

<h1>Submission for <%= @submission.code_review.title %></h1>
<div class="panel panel-default">
  <div class="panel-body">
    <h3>
      <%= link_to course_student_path(@submission.code_review.course, @submission.student), class: 'h3 text-primary' do %>
        <%= @submission.student.name %>
      <% end %>
    </h3>
    <h4>Submitted <%= time_ago_in_words(@submission.updated_at) %> ago</h4>

    <% unless @submission.times_submitted.nil? %>
      <h4 id="times_submitted">
        <%= render "submissions/submission_times" %>
      </h4>
    <% end %>

    <% @submission.other_submissions_for_course.each do |submission| %>
      <h4 class="small"><%= link_to "[View CR #{submission.code_review.number} review: #{submission.code_review.title}]", new_submission_review_path(submission), target: '_blank' if submission.reviews.any? %></h4>
    <% end %>

    <h4><%= link_to 'View code', @submission.link, target: '_blank' if @submission.link %></h4>

    <% if @submission.notes.any? %>
      <div class="well">
        <ul>
          <% @submission.notes.each do |note| %>
            <li><strong><%= note.created_at.strftime('%B %d') %>:</strong> <%= note.content %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render 'form' %>
  </div>
</div>

<% if @submission.review_status == 'pass' %>
  <div class="alert alert-info">
    <h1>This submission has already been marked as passing.</h1>
  </div>
<% end %>
