<% content_for :title, "#{@submission.student.name} CR" %>
<% if @submission.review_status == 'pass' %>
  <div class="alert alert-info">
    <h1>This submission has already been marked as passing.</h1>
  </div>
<% end %>

<%= render 'layouts/errors', object: @review %>

<h1>Submission for <%= @submission.code_review.title %></h1>
<div class="panel panel-default">
  <div class="panel-body">
    <h3>
      <%= link_to course_student_path(@submission.code_review.course, @submission.student), class: 'h3 text-primary' do %>
        <%= @submission.student.name %>
      <% end %>
    </h3>

    <%= render 'students/probation', student: @submission.student %>

    <h4>Submitted <%= time_ago_in_words(@submission.updated_at) %> ago</h4>

    <% unless @submission.times_submitted.nil? %>
      <h4 id="times_submitted">
        <%= render "submissions/submission_times" %>
      </h4>
    <% end %>

    <% @submission.other_submissions_for_course.each do |submission| %>
      <h4 class="small"><%= link_to "[View CR #{submission.code_review.number} review: #{submission.code_review.title}]", new_submission_review_path(submission), target: '_blank' if submission.reviews.any? %></h4>
    <% end %>

    <h4><%= link_to 'View code', @submission.link, target: '_blank' if @submission.link %></h4>

    <br>

    <% if @submission.notes.any? %>
      <div class="well">
        <p><strong>Student's notes:</strong></p>
        <ul>
          <% @submission.notes.reorder('CREATED_AT DESC').each do |note| %>
            <li><em><%= note.created_at.strftime('%B %d') %>:</em> <%= note.content %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @submission.reviews.any? %>
      <div class="well">
        <p><strong>Past feedback from instructors:</strong></p>
        <% @submission.reviews.reorder('CREATED_AT DESC').each do |review| %>
          <hr>
          <div class='review-note'>
            <div class='review-note-display'>
              <p><em><%= review.created_at.strftime('%Y-%m-%d  %-I:%M %p') %></em> <span class='btn-xs btn-danger pull-right review-note-edit-button'>edit</span></p>
              <p><%= markdown(review.note) %></p>
            </div>
            <div class='hide review-note-edit'>
              <p><em><%= review.created_at.strftime('%Y-%m-%d  %-I:%M %p') %></em>
              <%= form_for [@submission, review] do |review_form| %>
                <p><%= review_form.text_area :note, class: 'form-control', rows: 10 %></p>
                <p><%= review_form.submit 'Update previously submitted note', class: 'btn-sm btn-danger'%></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <br>

    <%= render 'form' %>
  </div>
</div>

<% if @submission.review_status == 'pass' %>
  <div class="alert alert-info">
    <h1>This submission has already been marked as passing.</h1>
  </div>
<% end %>
