<div class="col-md-4">
  <h3>Internship</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_for @internship_assignment do |f| %>
        <div class="input-group">
          <%= f.select :internship_id, @course.internships.assigned_as_interview_for(@student).collect { |i| [ i.name, i.id ] }, {}, { class: 'form-control' } %>
          <span class="input-group-btn">
            <%= f.submit 'Assign internship', class: 'btn btn-success' %>
          </span>
        </div>

        <%= f.hidden_field :course_id, value: @course.id %>
        <%= f.hidden_field :student_id, value: @student.id %>
      <% end %>
    </div>
  </div>
</div>
