<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav pull-right">
			<% if current_student %>
				<li><%= link_to 'Payments', payments_path %></li>
				<li><%= link_to 'Assessments', assessments_path %></li>
        <li><%= link_to('Attendance record', '#') %></li> <!-- student_attendance_statistics_path(current_student) -->
        <li><%= link_to('Profile', '#') %></li> <!-- student_path(current_student) -->
				<li><%= link_to "Log out", destroy_student_session_path, data: { method: :delete }, class: 'log-in' %></li>
      <% elsif current_admin %>
      	<li><%= link_to 'Assessments', assessments_path %></li>
				<li><%= link_to "Log out", destroy_admin_session_path, data: { method: :delete }, class: 'log-in' %></li>
			<% else %>
				<li><%= link_to "Log in", new_student_session_path, class: 'log-in' %></li>
			<% end %>
		</ul>
	</div>
</div>
