<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id='navbar' class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if current_student && current_student.courses.any? %>
          <%= set_navbar_link_class('courses') do %>
            <%= link_to 'Courses', student_courses_path(current_student), class: 'first-navbar-link' %>
          <% end %>

          <%= set_navbar_link_class('payments') do %>
            <%= link_to 'Payments', student_payments_path(current_student) %>
          <% end %>

          <%= set_navbar_link_class('payment_methods') do %>
            <%= link_to 'Payment methods', payment_methods_path %>
          <% end %>

          <%= set_navbar_link_class('random_pairs') do %>
            <%= link_to 'Pair suggestions', random_pairs_path %>
          <% end %>

          <%= set_navbar_link_class('registrations') do %>
            <%= link_to 'Profile', edit_student_registration_path %>
          <% end %>
        <% elsif current_student && current_student.courses.empty? %>
          <%= set_navbar_link_class('payments') do %>
            <%= link_to 'Payments', student_payments_path(current_student) %>
          <% end %>

          <%= set_navbar_link_class('payment_methods') do %>
            <%= link_to 'Payment methods', payment_methods_path %>
          <% end %>

          <%= set_navbar_link_class('registrations') do %>
            <%= link_to 'Profile', edit_student_registration_path %>
          <% end %>
        <% elsif current_admin %>
          <li><%= link_to "#{current_admin.current_course.description}", course_path(current_admin.current_course), class: 'first-navbar-link' %></li>
          <li><%= link_to 'Courses', courses_path %></li>
          <li><%= link_to "Internships", internships_path %></li>
          <li><%= link_to 'Invite', new_student_invitation_path %></li>
        <% elsif current_company %>
          <%= set_navbar_link_class('companies') do %>
            <%= link_to 'Internships', company_path(current_company), class: 'first-navbar-link' %>
          <% end %>

          <%= set_navbar_link_class('registrations') do %>
            <%= link_to 'Profile', edit_company_registration_path %>
          <% end %>
        <% end %>
      </ul>
      <% if current_admin %>
        <ul class="nav navbar-nav pull-right">
          <li id="navbar-search">
            <%= form_tag students_path, method: 'get', class: 'navbar-form navbar-left' do %>
              <div class="input-group">
                <%= text_field_tag :search, nil, placeholder: 'Search students', class: 'form-control' %>
                  <div class="input-group-btn">
                    <%= button_tag 'Search', class: 'btn btn-info', id: 'student-search' do %>
                      <span class="glyphicon glyphicon-search"></span>
                    <% end %>
                  </div>
              </div>
            <% end %>
          </li>
          <li><%= link_to 'Sign out', destroy_admin_session_path, data: { method: :delete } %></li>
        </ul>
      <% elsif current_student %>
        <ul class="nav navbar-nav non-mobile-pull-right">
          <li><%= link_to 'Sign out', destroy_student_session_path, data: { method: :delete } %></li>
        </ul>
      <% elsif current_company %>
        <ul class="nav navbar-nav non-mobile-pull-right">
          <li><%= link_to 'Sign out', destroy_company_session_path, data: { method: :delete } %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
