<!DOCTYPE html>
<html>
<head>
  <title>Payments</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span8 offset2 text-center">
        <%= link_to "logout", destroy_user_session_path, data: { method: :delete } %>
        <%= "you are logged in" if current_user %>
        <%= flash_notice flash %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
