<!DOCTYPE html>
<html lang="en-US">
<head>
  <title><%= current_admin && content_for?(:title) ? yield(:title) : 'Epicenter' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= favicon_link_tag 'favicon.png' %>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "https://js.stripe.com/v2/",
                             "//www.google.com/jsapi",
                             "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/navbar' unless hide_navbar %>
    <%= flash_notice(flash) do %>
      <%= sanitize(flash[:notice]) %>
      <%= sanitize(flash[:alert]) %>
    <% end %>
    <%= render 'students/in_session' if current_student.try(:is_classroom_day?) && !hide_navbar %>
    <%= yield %>
  </div>
</body>
</html>
