<!DOCTYPE html>
<html>
<head>
  <title>Payments</title>
  <script type="text/javascript" src="https://js.balancedpayments.com/1.1/balanced.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "logout", destroy_user_session_path, data: {method: :delete } %>
  <%= yield %>
</body>
</html>
